[2021-02-12 15:00] voelzmo commented on #1255
Thanks for getting back to this issue, I really appreciate the thoughtful feedback! Maybe I'm too used to TDD and therefore was assuming this should be an approach that works with this exercise as well: Just write the minimal amount of code that makes the first red test to be green, move on to next red test. In many exercism tasks, this isn't really possible as most of the time there's a single bi

[2021-02-12 17:04] brugnara commented on #1255
@voelzmo your approach is good. I could only recommend you to use `nil` next time, instead of "random" instances 😬 🍺

Thanks

[2021-02-12 18:15] #1255 closed

[2021-02-13 10:37] brugnara commented on #1233
Hi @bitfield.

Is this still actual, in your opinion?

I checked the readme that now states:

[code]

And again, some lines below:

[code]

There also is the link to the wikipedia page at the top of the page and it should be very clear, at least nowadays, and also in my opinion.

Do you think it's safe to close this issue now?

Thank you for considering my request.

[2021-02-14 11:45] bitfield commented on #1233
Well, people still continue to get it wrong (and they always assume that they are correct and that despite literally tens of thousands of people successfully completing the exercise, the test case must be wrong). I agree with you that the exercise itself makes the situation abundantly clear, but nevertheless, people who aren't paying attention see what they expect to see, and clearly they need a l

[2021-02-15 21:46] #1294 closed

[2021-02-15 23:41] ekingery commented on #1415
Thanks @brugnara! That's right - @capsci, if you want to run those tests, you'll need to run those `fetch-*` scripts from the root of the repo, which will place the expected binaries in the `bin` directory. I'm going to close this out, but let us know if you run into any further issues.

As a heads up, I just fixed the `configlet` linting problems in #1420. We're still working on getting the rest

[2021-02-15 23:41] #1415 closed

[2021-02-15 23:58] ekingery commented on #1401
We removed all of the concept exercises ([except basics](https://github.com/exercism/go/blob/main/config.json#L28) which has the status). We'll make sure to include the status as we review the concept exercises and add them back to the config.

[2021-02-15 23:58] #1401 closed

[2021-02-15 23:59] ekingery commented on #1400
Done: https://github.com/exercism/go/blob/main/config.json#L5

[2021-02-15 23:59] #1400 closed

[2021-02-16 00:00] #1372 closed

[2021-02-16 00:00] #1370 closed

[2021-03-02 15:41] ErikSchierboom opened #1427 "Add blurb to Concept Exercises"
Each Concept will have to define a _blurb_, which is a short description of the exercise.

In an earlier PR, a placeholder blurb has been added to the .meta/config.json file of each Concept Exercise. The placeholder blurbs should be replaced with an actual blurb for each Concept Exercise. Blurbs must be limited to 350 chars and will be truncated in some views.

For forked exercises, it might be us

[2021-03-27 06:26] deepaksathya opened #1434 "Go Exercise Largest Series Product Wrong Testcase Error Description"
Hi,

[code]

If  you see above the 2nd parameter is span. Testcases 1 and 2 are passing with  span equal "0".

But if you refer Testcase 4 the error expected says "span must be greater than zero". It should be actually "span must not be a negative number". If  we say "span must be greater than zero", then Testcase 1 and 2 should also not pass.

[2021-03-28 12:49] iHiD commented on #1434
@ekingery Thanks :) I've moved this to the Go repository for you :)

[2021-03-28 13:45] deepaksathya commented on #1434
Thanks. Does it mean nothing more is required from my side?

[2021-03-28 13:50] iHiD commented on #1434
@deepaksathya You can fix it if you like and get the credit for the change 🙂

To do that edit [this file](https://github.com/exercism/go/blob/811db944679d14855027f9ecfd20a8f6da20070a/exercises/practice/largest-series-product/cases_test.go) and create a PR referencing this issue (you can do all that via the GitHub UI)

[2021-03-28 13:57] deepaksathya commented on #1434
I pushed the changes to my github repo and created a PR. Thanks for giving the first time opportunity to do a PR. Opportunity itself a credit for me ;-)

[2021-03-28 14:11] deepaksathya commented on #1434
Closes

[2021-03-28 14:11] #1434 closed

[2021-04-03 10:02] tehsphinx commented on #1382
@ErikSchierboom: What is the correct location of the concept exercise implementation guide now?

[2021-04-06 07:26] ErikSchierboom commented on #1382
@tehsphinx https://github.com/exercism/docs/blob/main/building/tracks/concept-exercises.md

[2021-04-07 14:34] tehsphinx commented on #1382
@laniehei: Thx and Fixed.

[2021-04-07 16:36] MotaOcimar opened #1437 "robot-name: benchmark fails by getting an expected "repeted name" error"
When I run the main tests, the benchmark fails by getting an expected `repeted name` error.
In the `func BenchmarkName(b *testing.B)` I added a `fmt.Println(b.N)` and get
[code]
Which shows that it is testing beyond the value of `maxNames = 26 * 26 * 10 * 10 * 10` = 676000

[2021-04-17 12:28] stt106 opened #1438 "Matrix constructor shall return a pointer of Matrix?"
https://github.com/exercism/go/blob/64d5dd0799d4fbbc26dfea6440e0c1029528fa4c/exercises/practice/matrix/matrix_test.go#L6

The constructor shall return a pointer of `Matrix` otherwise it can't be compared to `nil`.
In my download of the exercise, it does mention it expects a pointer instance from `New`, however, in the `BenchmarkNew`, it creates a variable of type `Matrix`, if the constructor does

[2021-04-19 08:36] tehsphinx commented on #1438
Can you show where it mentions, that it "shall return a pointer for `Matrix` otherwise it can't be compared to `nil`."

Matrix is defined as `type Matrix [][]int` in the example implementation, so no pointer is needed as a slice can be `nil` and be compared to `nil`. (Example implementation is in the `matrix/.meta/` subfolder)

[2021-04-30 03:17] stt106 commented on #1438
sorry my mistake, I misunderstood the exercise requirement.

[2021-04-30 03:17] #1438 closed

[2021-05-16 13:31] CoderYihaoWang opened #1448 "Triangle encourages float comparison"
The exercise _Triangle_ uses `float64` as the type for the lengths of sides, which I don't think is proper.

The core of this exercise, aside from the use of `iota`, is making comparisons. And making comparisons using floating point numbers is generally considered a bad idea, since they are not accurate. For example, the test case:
[code]
should return "not a triangle", but floating point number

[2021-05-30 13:09] CoderYihaoWang commented on #1437
I think this is the expected behaviour. Note that this is mentioned in README

[2021-05-30 13:21] CoderYihaoWang opened #1451 "Anagram: add test case with UTF8 characters"
In Go, strings are made of UTF8 runes. Therefore, it is not appropriate to assume strings as just English letters, unless it is explicitly said so in the description.

However, in the exercise Anagram, the test cases only cover English letter strings, although "你好" and "好你" should also be treated as anagrams. This encourages some "clever" solutions using `[26]int` to represent a word, which I thin

[2021-06-15 16:22] jdrst opened #1456 "Parallel Letter Frequency Tests - reflect.DeepEqual behaving weirdly."
Depending on implementation the testcase TestConcurrentFrequency fails on "equal" results, because reflect.DeepEqual returns false.
Plain repeated execution of tests makes them sometimes fail, sometimes not.
Both a quick selfimplemented IsEqual method and cmp.Diff (github.com/google/go-cmp) show no differences (in any execution).
Interestingly, the example implementation from the .meta folder work

[2021-06-15 17:11] jdrst commented on #1456
nevermind this, i found my error 🙈

[2021-06-15 17:11] #1456 closed

[2021-07-02 09:49] exercism-bot opened #1462 "🤖 Sync error for commit 5017fd"
We hit an error trying to sync the latest commit (5017fdd709a04016791a50425803847417019563) to the website.

The error was:
[code]

Please tag @iHiD if you require more information.

[2021-07-02 11:10] #1462 closed

[2021-07-08 11:29] exercism-bot opened #1467 "🤖 Concept prerequisite cycle found in commit 4e8392"
We found a concept prerequisite cycle in the `config.json` file in commit 4e8392a7bfc46b4f6be9784715289ecb430dcafe.

Such a cycle occurs when Concept Exercise A teaches concept X and has concept Y as a prerequisite, whereas Concept Exercise B teaches concept Y and has concept X as a prerequisite. The cycle can also be indirect, in which case there are intermediate Concept Exercises involved.

Thes

[2021-07-14 13:31] ErikSchierboom opened #1470 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:31] ErikSchierboom opened #1471 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-07-14 18:09] exercism-bot opened #1472 "🤖 Concept prerequisite cycle found in commit df3c01"
We found a concept prerequisite cycle in the `config.json` file in commit df3c01a17033436901c467e0f89096ba73ed3885.

Such a cycle occurs when Concept Exercise A teaches concept X and has concept Y as a prerequisite, whereas Concept Exercise B teaches concept Y and has concept X as a prerequisite. The cycle can also be indirect, in which case there are intermediate Concept Exercises involved.

Thes

[2021-07-21 09:41] exercism-bot opened #1473 "🤖 Concept prerequisite cycle found in commit 7b2b9e"
We found a concept prerequisite cycle in the `config.json` file in commit 7b2b9edae28c911612db56c2f1a8b2e8b02898bd.

Such a cycle occurs when Concept Exercise A teaches concept X and has concept Y as a prerequisite, whereas Concept Exercise B teaches concept Y and has concept X as a prerequisite. The cycle can also be indirect, in which case there are intermediate Concept Exercises involved.

Thes

[2021-08-12 14:04] dhavalgshah commented on #1371
I came across the same and found the README and test cases do diverge. Also, this whole exercise in Go track is diverged from common problem specifications.

As per [problem-specifications#202](https://github.com/exercism/problem-specifications/issues/202) **degenerate triangles** test cases should be removed as they are overly complex for this exercise.

I checked [PHP](https://github.com/exercis

[2021-08-12 15:17] dhavalgshah opened #1477 "Triangle Inequality exercuse diverges from core problem specification & get too complicated"
There three issues with Triangle classification exercise:

1. Test cases for `divergent triangles`: Per [problem-specifications#202](https://github.com/exercism/problem-specifications/issues/202) they should have been removed because of excess complexity they add. Further, README says _Feel free to add your own code/tests to check for degenerate triangles._ which implies that is an advance use cas

[2021-08-17 14:22] ErikSchierboom commented on #1398
I think this issue can be closed as there is a working version of the test runner. Note that the test runner itself can be improved, but that does not preclude this issue from being closed as test runner improvements can be handled in the test runner repo.

[2021-08-17 14:22] #1398 closed

[2021-08-18 14:43] ErikSchierboom opened #1479 "Build analyzer"
In Exercism v3, we are making increased use of our v2 [analyzers](https://github.com/exercism/docs/blob/main/building/tooling/analyzers/README.md). Analyzers automatically assess student's submissions and provide mentor-style commentary. They can be used to catch common mistakes and/or do complex solution analysis that can't easily be done directly in a test suite.

Each analyzer is track-specific

[2021-08-18 15:09] ErikSchierboom commented on #1399
We're closing this issue as two separate issues have been created to replace this combined issue.

[2021-08-18 15:09] #1399 closed

[2021-08-19 10:54] #1470 closed

[2021-08-19 10:54] #1471 closed

[2021-08-19 15:48] exercism-bot opened #1481 "🤖 Concept prerequisite cycle found in commit 1145c7"
We found a concept prerequisite cycle in the `config.json` file in commit 1145c7b12cd31f039ae50ebed630cd1a01dff18d.

Such a cycle occurs when Concept Exercise A teaches concept X and has concept Y as a prerequisite, whereas Concept Exercise B teaches concept Y and has concept X as a prerequisite. The cycle can also be indirect, in which case there are intermediate Concept Exercises involved.

Thes

[2021-08-19 15:48] exercism-bot opened #1482 "🤖 Concept prerequisite cycle found in commit 1145c7"
We found a concept prerequisite cycle in the `config.json` file in commit 1145c7b12cd31f039ae50ebed630cd1a01dff18d.

Such a cycle occurs when Concept Exercise A teaches concept X and has concept Y as a prerequisite, whereas Concept Exercise B teaches concept Y and has concept X as a prerequisite. The cycle can also be indirect, in which case there are intermediate Concept Exercises involved.

Thes

[2021-08-20 10:42] ErikSchierboom opened #1483 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-08-20 13:36] #1482 closed

[2021-08-24 07:27] ErikSchierboom opened #1485 "Fix CI"
This repository's `main` branch currently does not pass all CI checks.
This makes detecting issues in PRs harder and might result in a broken track, and so is an important thing to fix.

The following CI workflows are currently failing:

https://github.com/exercism/go/runs/3382441936
https://github.com/exercism/go/runs/3382441888
https://github.com/exercism/go/runs/3382441808
https://github.com/ex

[2021-08-29 22:44] exercism-bot opened #1487 "🤖 Sync error for commit 527010"
We hit an error trying to sync the latest commit (527010813fba5c784c777a8f8b2632fb8d0842d4) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-08-30 10:23] #1487 closed

[2021-09-01 17:15] siebenschlaefer opened #1490 "concept exercises: go.mod is missing"
When I download a concept exercise the file `go.mod` is missing.

[code]

But when I download a practice exercise, that file is present and I can start solving.
[code]

[2021-09-01 18:21] siebenschlaefer opened #1492 "party-robot: solution stub calls panic => tests pass"
Currently the initial stub of the three functions `Welcome`, `HappyBirthday`, and `AssignTable` calls `panic()`. But `t.Run()` in the tests doesn't detect that, so the tests pass.
This might be related to [issue #37555](https://github.com/golang/go/issues/37555) of golang itself. As long as that's not fixed in the `testing` package we should rather not call `panic()` in the tests but return some d

[2021-09-01 19:45] siebenschlaefer commented on #1492
Turns out, the issue is something completely else: In `go.mod` the package is named `string` and therefore none of the tests get executed. I will create a PR soon.

[2021-09-01 22:47] andrerfcsantos commented on #1490
I also noticed this. To give more context about the issue:

From [go 1.16 and beyond](https://go.dev/blog/go116-module-changes), all the `go` commands run now in a module-aware mode. This means that they expect a `go.mod` file to indicate the folder is a module. So:

* People with versions of go <16 won't have this problem and everything will work for them. I tested by installing several versions

[2021-09-02 04:38] goatthinking commented on #1490
go 1.16 here. Can confirm.

Suggest adding `go.mod` files in as stated by the above two individuals.

[2021-09-02 07:28] goatthinking opened #1495 "Syllabus -> Constants = blocked by "Comments" but "Comments" not visible."
While going through the Syllabus I completed the following concepts:
* Basics
* Nil
* Zero Values
* Booleans
* Strings

My next concept would be "Constants" which shows as Locked w/ message: `Learn Basics, Comments, and Strings to unlock this concept.`

However, there is no "Comments" available to do. While looking at things quick I think it should be related to this in some way, but could be very

[2021-09-02 13:10] ErikSchierboom commented on #1304
We're closing this issue as it was part of our push to implement the v3 version of this track and v3 has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

New maintainer are always welcome though!

[2021-09-02 13:10] #1304 closed

[2021-09-02 13:13] ErikSchierboom commented on #1277
We're closing this issue as it was part of our research for the v3 version of Exercism which has [just been released](https://exercism.org/blog/exercism-v3-has-launched).

Thanks everyone for chipping in! It has been greatly appreciated.

[2021-09-02 13:13] #1277 closed

[2021-09-03 01:28] sambeckingham opened #1497 "Lasagna exercise completely broke in online editor"
So I noticed on the online editor, none of the test cases are showing. Further to this, "run tests" always fails if you call the package `lasagna` as it is by default.

![image](https://user-images.githubusercontent.com/48661226/131935554-2b5bfb67-f87a-4aaf-a18b-e36819c0e05e.png)

You may have noticed there's a spelling mistake on line 16 there, `reutnr`.  Well, turns out it doesn't matter. In fac

[2021-09-03 12:26] SterverSVK commented on #1495
+1 to priority

[2021-09-03 17:05] magahet opened #1499 "Matrix benchmark test not using correct type"
https://github.com/exercism/go/blob/2f58e6d0aaf6c379d02741c59d3b8ba297f7d3c3/exercises/practice/matrix/matrix_test.go#L271

Shouldn't this be:
`var matrix *Matrix`

Instead of:
`var matrix Matrix`

[2021-09-03 17:16] magahet commented on #1499
I second guessed myself, but after looking at other submitted solutions, it does seem like the signature for New() is always (*Matrix, error).

With BenchmarkNew, it's trying to assign *Matrix, when it's expecting Matrix.

[2021-09-03 17:33] magahet commented on #1499
Figured it out. I was representing the matrix with a struct, which doesn't have a nil value. Once I changed that to `type Matrix [][]int` it works without changing the tests.

[2021-09-03 17:33] #1499 closed

[2021-09-03 18:31] mynlexi commented on #1497
I tried it locally and get the an undefined, which would support your hypothesis @sambeckingham.
`in ~/Exercism/go/lasagna  > go test -v lasagna_test.go
# command-line-arguments [command-line-arguments.test]
./lasagna_test.go:21:14: undefined: OvenTime
./lasagna_test.go:39:14: undefined: RemainingOvenTime
./lasagna_test.go:63:14: undefined: PreparationTime
./lasagna_test.go:88:14: undefined: Elaps

[2021-09-04 14:39] bobahop opened #2213 "Go track: tests said passed, analyzer said failed."
On iteration 8 of my Raindrops solution

![err_1](https://user-images.githubusercontent.com/32035397/132098244-2f87cf79-b498-4659-aac3-9ee0c63f5a3c.JPG)
![err_2](https://user-images.githubusercontent.com/32035397/132098249-7d9e9d28-16cd-44d7-b806-36ef887db0ac.JPG)

[2021-09-04 16:20] siebenschlaefer commented on #1492
Can confirm, this is now fixed.

[2021-09-04 16:20] #1492 closed

[2021-09-04 17:21] louis-cl commented on #1495
At a quick glance, it is missing tests
https://github.com/exercism/go/blob/a167c7853aed6b62bc3117e798f8cc51755a4bde/exercises/concept/weather-forecast/weather_test.go#L1

[2021-09-04 17:55] lnds opened #1503 "cars_assemble setup failed"
Fail in web editor and locally shows this error:

    cars_assemble_test.go:4:2: package numbers is not in GOROOT (/usr/local/opt/go/libexec/src/numbers)
    FAIL    cars [setup failed]

[2021-09-04 21:52] pwierer commented on #1495
Same here. +1

[2021-09-05 07:11] oanaOM commented on #1495
Thanks everyone for reporting this! sorry for the inconvenience.  Will work on fixing this today.

[2021-09-05 19:09] iHiD commented on #1495
I've hotfixed this here: https://github.com/exercism/go/pull/1509

Hopefully @oanaOM will be able to come up with a more solid fix later :)

[2021-09-06 12:22] LurenzZ opened #1518 "Party Robot test typo"
There is an error/typo in the fourth test of PartyRobot exercise.
The test pass **27** as table number variable but is expects for the string

 "You have been assigned to table **_1B_**"

[2021-09-06 20:29] scmbradley commented on #1497
I couldn't get the online editor to work for this exercise. I also had to do `go mod init lasagna` to get this to work locally.

[2021-09-07 09:10] EmidioNeto opened #1520 "Cars Assemble instructions typo"
In the **Instructions** section for this example, the expected output for the first task **1. Calculate the production rate per hour** should be “1392.3” Instead of “10829.0”.

[2021-09-09 09:38] bitfield commented on #1437
There is a comment in the test code to say that the benchmark won't be meaningful if your code passes the bonus test. But I don't think students can now _read_ the tests, can they? Which is a bit weird in itself, but if they can't, we'll definitely need to transfer a mention of this to the instructions.

[2021-09-09 09:46] bitfield opened #1526 "robot-name: test runner fails on bonus test"
I see from [this solution](https://exercism.org/mentoring/discussions/0688e21fef5847ad808501586468801a) that the test runner is apparently having trouble running the bonus tests (protected by a build tag):

[code]

So the tests show as failed even though the student is not trying to pass the bonus test. We need to figure out what to do here, don't we? Perhaps the simplest thing is just to drop the

[2021-09-09 16:19] mickeyvip opened #1527 "Gross Store wrong arguments number or wrong signature of AddItem and RemoveItem functions"
In "Gross Store" exercise the function `AddItem` has the following signature:

[code]

3 arguments.

In test file it is called:

[code]

4 arguments.

The same is for `RemoveItem` function.

What should be changed? The test or the source?

[2021-09-09 19:42] geoffreywiseman opened #1528 "Blackjack Exercise 'Processing' Forever"
Not sure if this an issue with a high-level exercism component, the analyzer/test runner ... so I'm splitting the difference at filing this under `go`:

1. Submitted the blackjack exercise from cli
2. Said 'processing', should take 20-30s
3. Days later, still says processing:

<img width="873" alt="CleanShot 2021-09-09 at 15 40 37@2x" src="https://user-images.githubusercontent.com/49935/132751941-

[2021-09-09 20:41] iHiD commented on #1528
Fixed by https://github.com/exercism/website/pull/1884, although the test results output is going to be BIG.

[2021-09-09 21:21] #1528 closed

[2021-09-09 21:31] louis-cl commented on #1503
Should be fixed by https://github.com/exercism/go/commit/56bb8a80292b84d91793f852404c8197fdc01469

[2021-09-10 01:19] Tultra commented on #1497
I'm currently having problem with this same exercise, but on the Clojure track. In my case, it appears to me it's a problem with the namespaces.
![image](https://user-images.githubusercontent.com/71472992/132783361-36576c13-2522-45e9-bd3a-cc43d41a1504.png)

[2021-09-10 04:52] BlameTroi opened #1532 "go linked-list API comments in _test does not agree with description on website/readme, nor the code"
The description of this exercise is both misleading and incomplete. The API doc block in the linked_llist_test.go file does not match the description and  the API spec for Reverse indicates it should return a new list, but the test expects the list to be updated in place.

For my practice, I will write my solution to get the tests to pass, but implementing the API as described in the doc block is

[2021-09-11 14:57] micuffaro commented on #1495
If it's only about adding proper tests to `go/exercises/concept/weather-forecast/weather_test.go`, I can probably take a stab at it.
Would that be alright @oanaOM , @iHiD ?
Anything else besides the tests that I need to be aware of?

[2021-09-11 17:14] jnkroeker commented on #1527
this should be addressed asap. It's very confusing to hit this wall so early in the Go track.

[2021-09-11 19:20] geoffreywiseman commented on #1527
Pretty sure it's the test -- I'm going to finish implementing and then look at a PR.

[2021-09-11 19:27] geoffreywiseman commented on #1527
There's two PRs already:
https://github.com/exercism/go/pulls?q=is%3Apr+is%3Aopen+gross

I prefer the one by `jitcompile`; both fix the problem of the mismatch, but #1523 feels right.

[2021-09-11 20:39] jnkroeker commented on #1527
yeah, i agree. 1523 is straightforward.

[2021-09-11 22:01] geoffreywiseman commented on #1527
It's worth pointing out that #1523 will break the solutions of people who modified their solutions to match the tests, which is awkward, but maybe less awkward than having a parameter that doesn't really belong there. 🤷

[2021-09-11 22:03] louis-cl commented on #1526
If keeping the simplicity of not having the bonus is important, the bonus test could be extracted as its own new problem.
So the easy version  just focuses on teaching random generation.

Then a harder version like "robot name reloaded" can have the "bonus".
Has such pattern (exercise building on each other) been used before / is desired ?

[2021-09-11 23:50] jmrunkle opened #1536 "need-for-speed comments for the Drive function do not match tests"
The comment says:

The bold part of the text is wrong because the test for this asserts that the leftover battery is not used: https://github.com/exercism/go/blob/main/exercises/concept/need-for-speed/need_for_speed_test.go#L111

I think the incorrect comment should be removed / corrected so that students are not confused by this.

[2021-09-12 00:50] jmrunkle opened #1537 "gross-store function signatures for AddItem and RemoveItem are missing "units map[string]int" parameter"
The tests require the units parameter:

* https://github.com/exercism/go/blob/main/exercises/concept/gross-store/gross_store_test.go#L74
* https://github.com/exercism/go/blob/main/exercises/concept/gross-store/gross_store_test.go#L155

The exemplar has the correct parameters:

* https://github.com/exercism/go/blob/main/exercises/concept/gross-store/.meta/exemplar.go#L21
* https://github.com/exerci

[2021-09-12 00:55] jmrunkle commented on #1527
Actually, I think https://github.com/exercism/go/pull/1538 is more correct based on the exemplar and the tests both agreeing that the units parameter should be there.

[2021-09-12 01:00] jmrunkle commented on #1537
Removing due to pre-existing issue tracking this: #1527. I'm just going to duplicate my comment over there.

[2021-09-12 01:00] #1537 closed

[2021-09-12 01:02] jmrunkle commented on #1527
Duplicating my comment from the issue I made...

The tests require the units parameter:

* https://github.com/exercism/go/blob/main/exercises/concept/gross-store/gross_store_test.go#L74
* https://github.com/exercism/go/blob/main/exercises/concept/gross-store/gross_store_test.go#L155

The exemplar has the correct parameters:

* https://github.com/exercism/go/blob/main/exercises/concept/gross-store/

[2021-09-12 02:58] pavelanni opened #1539 "Gross-store: correct the task description for RemoveItem"
In Gross-store in "4. Remove item from the customer bill" the description should be:

- Check whether the given item is in the bill
- Check whether the given unit of measurement is correct
- Check whether the new quantity is less than 0, if so don't remove the item and return `false`
- Check whether the new quantity is 0, if so return `true` and remove the item from the customer bill
- Otherwise r

[2021-09-12 09:17] bitfield commented on #1526
One problem with the simple version (that is, the one that doesn't detect running out of names) is that the benchmark hangs, and students usually don't understand why this is. (It's because the benchmarker is quite liable to run the function more than 676,000 times, thus exhausting the robot namespace.)

A common way to solve this is by generating all possible names _in advance_ and permuting them

[2021-09-12 14:05] jmrunkle commented on #1539
This exercise has a number of issues... I have a holistic fix prepared in #1538 which corrects the parameters in the stub as well as the description.

[2021-09-12 14:07] jmrunkle commented on #1485
I will make sure this issue is taken care of. #1534 seems like a good start. I will make sure all of the CI issues are addressed before I close this. Still working on getting write access to this repo.

[2021-09-12 14:21] #1527 closed

[2021-09-12 15:10] NobbZ opened #1542 "`cars-assemble` is supposed to teach `conditionals-if` but the stub already implements the only method that uses conditionals"
Though the current implementation of the exercise does ask to write 2 functions, which are just multiplying numbers with some conversion from float to int and back.

The only function that requires conditionals is actually pre-defined.

[2021-09-12 17:29] #1483 closed

[2021-09-12 17:34] ekingery commented on #1539
Thanks for the report. Please re-open if not closed by #1538

[2021-09-12 17:34] #1539 closed

[2021-09-12 17:53] ekingery commented on #1495
The code looks good (and the tests pass with the exemplar). Thanks and nice work using `ast`, @micuffaro! I am seeing three items to cover before or just after merge:

1. In the first test, do we want to support >= 4, or will the AST parsing definitely catch and count multi-line comments as 1?
2. Can you please add a `go.mod` file?
[code]
3. We'll want to re-enable comments after merge, undoing [L

[2021-09-12 19:16] micuffaro commented on #1495
Thanks @ekingery.

The field `Comments` of the [ast.File](https://pkg.go.dev/go/ast#File) (the length of which is what we are interested in) is a slice of `*CommentGroup`, so here the parsing indeed treats multi-line comments as one `*CommentGroup`; in turn each of those is a slice of `*Comment`, with each being the individual comment line.

I thought that asserting the exact number of expected co

[2021-09-12 19:52] jmrunkle commented on #1485
I believe there are still a few remaining issues with the CI.

Here are the errors from configlet:

[code]

There are also a few more errors from the other ones, but I will start with making configlet lint happy.

[2021-09-12 20:14] jmrunkle commented on #1485
PR #1544 fixes the configlet linting issues. Now I can start working on a PR to address other issues breaking the other CI tests.

[2021-09-12 21:31] NobbZ opened #1545 "need-for-speed: `NewCar` is pre-implemented, though exercise descriptions asks to implement it"
The function `NewCar` is asked to get implemented in the first step of the description:

https://github.com/exercism/go/blob/7bb631df3154fcd77d318e64d6d097676603815e/exercises/concept/need-for-speed/.docs/instructions.md?plain=1#L11-L20

Though the stub file contains the function already filled in:

https://github.com/exercism/go/blob/7bb631df3154fcd77d318e64d6d097676603815e/exercises/concept/need

[2021-09-12 23:33] ekingery commented on #1495
Perfect, thanks for explaining that! I remember the comments being tricky from doing the AST parsing for the test runner.

Thanks!

Whichever you prefer - either way is good with me.

No problem, most everybody is busy ;-)

[2021-09-13 01:28] jmrunkle commented on #1545
Agreed. There is no good reason for this to be pre-defined and somewhat ruins half of this exercise whose purpose is to teach about structs.

[2021-09-13 01:33] jmrunkle commented on #1485
Done, all CI are now passing on the main branch.

[2021-09-13 01:33] #1485 closed

[2021-09-13 01:43] jmrunkle commented on #1542
Interesting. So according to config.json, it does "teach" this concept: https://github.com/exercism/go/blob/main/config.json#L132

So the real issue is that it pre-implemented the conditional logic there. Yeah... we should fix that. Changing the title to reflect what needs to be changed.

[2021-09-13 01:53] #1545 closed

[2021-09-13 04:30] jmrunkle commented on #1526
How about we give the student control by putting a constant in `robot_name.go` that defaults to false then the bonus instructions could say set the constant to true to enable the bonus test. Then we put everything in one test file as bitfield suggests and use the constant value in `robot_name.go` to noop the test unless they have enabled it. Allows students to opt into the extra testing without fo

[2021-09-13 04:35] jmrunkle commented on #1518
That is not a typo, this is directly from the instructions:

`27` (decimal) == `1B` (uppercase hexadecimal) == `1 * 16^1 + 11 * 16^0` == `16 + 11`

[2021-09-13 04:35] #1518 closed

[2021-09-13 04:37] jmrunkle commented on #1490
I think we fixed this... the latest CI tests now check that every exercise directory has a go.mod file.

I ma not sure how long it takes changes in the repo to reach the website, but is anyone still seeing this now?

[2021-09-13 04:39] jmrunkle commented on #1481
@exercism/maintainers-admin - I would be most grateful if there was a clean way to identify this without having to manually trace it. This was also opened 25 days ago so I have no idea if the problem has already been fixed. I thought configlet lint was setup to detect this sort of thing now?

[2021-09-13 04:42] jmrunkle commented on #1477
I agree, the problem has gotten much more complicated than the problem-specification source and should be improved upon. Are you volunteering or asking if someone else will take care of it?

[2021-09-13 04:45] #1467 closed

[2021-09-13 04:45] #1472 closed

[2021-09-13 04:45] #1473 closed

[2021-09-13 04:53] jmrunkle commented on #1437
I suppose it was never quite clear to me what the goal of the benchmark test was. The other tests are obvious, but this one is much less so (particularly since it does not appear to be the case that we really control the value of N). I would actually be in favor of getting rid of this test entirely in preference to allowing the bonus test to be preferred for testing that specific behavior (exhaust

[2021-09-13 04:54] jmrunkle commented on #1402
@ErikSchierboom - I take it this issue can be closed. Please re-open if I was mistaken.

[2021-09-13 04:54] #1402 closed

[2021-09-13 05:32] micuffaro commented on #1495
Added commit 75f74f9  to address that :-)

[2021-09-13 11:25] iHiD commented on #1485
This is so great :)

[2021-09-13 11:44] iHiD commented on #1481
I'm not sure if confliget does this yet, but the intention is that it is in confliglet not the website. The website guard is really a guard-of-last-resort, so the debugging info should really be at the configlet level.

[2021-09-13 15:18] jmrunkle commented on #1481
Ah, I see it is on their radar but not yet implemented (at present):

[2021-09-13 15:24] jmrunkle commented on #1481
I just did a manual read through every concept exercise stanza to confirm that every concept does not have a cycle through its prerequisites. I think this is working now, but frankly I will wait for configlet lint to complain if it is actually still broken.

[2021-09-13 15:24] #1481 closed

[2021-09-13 15:55] bitfield commented on #1437
Well, I agree with you, since I counsel all my students to [write slower Go programs](https://bitfieldconsulting.com/golang/slower) and stop worrying about benchmarks. The best performance optimization for any Go program is to rewrite it in C++.

However, it's always useful to _know_ how to benchmark your program if you want to, and it's certainly fun, so it might be worth keeping it in.

[2021-09-13 16:01] bitfield commented on #1526
Just to be clear, I'm suggesting that the 'doesn't hang forever when out of names' test is a really good way of steering students towards a better solution without mentor input (or perhaps more accurately, steering them away from a variety of bad solutions). This seems more in the spirit of Exercism V3, doesn't it?

[2021-09-13 21:54] ekingery commented on #1495
Thanks! Fortunately the build / checks should now pass , but unfortunately it appears  to be failing on a legitimate issues: https://github.com/exercism/go/pull/1543/checks?check_run_id=3583430566

[2021-09-14 03:14] jmrunkle commented on #1383
This is a foundational concept and it looks like @micuffaro may not be implementing this one (please update if I am mistaken). In the meantime, I will claim this one to start getting the ball rolling.

[2021-09-14 03:50] jmrunkle commented on #1383
So, the basic exercise (lasagna) technically teaches the basics about functions (ie, the definition of a function with parameter and return value).

The majority of the exercise here needs to cover the fact that functions are first-class citizens (can be passed around, returned, etc). It looks like there is a good story for these: https://exercism.org/docs/building/tracks/stories/functions-lasagna

[2021-09-14 07:43] micuffaro commented on #1495
Fixed that too, was missing some `config.json` settings. :)

[2021-09-14 12:22] ErikSchierboom opened #1552 "annalyns-infiltration: instructions should not use `const`"
The [instructions.md file](https://github.com/exercism/go/blob/main/exercises/concept/annalyns-infiltration/.docs/instructions.md#1-check-if-a-fast-attack-can-be-made) of the `annalyns-infiltration` exercise uses `const` in the code samples, but the exercise's [only prerequisite](https://github.com/exercism/go/blob/main/config.json#L55) is `basics`, which only teaches [about variables](https://git

[2021-09-14 12:25] andrerfcsantos commented on #1382
Is this being worked on? If not, I'd like to make this one.

[2021-09-14 12:27] ErikSchierboom opened #1553 "annalyns-infiltration: introduction should use `true` or `false` in code example"
The [introduction.md document(https://github.com/exercism/go/blob/main/exercises/concept/annalyns-infiltration/.docs/introduction.md#introduction) of `annalyns-infiltration` has the following syntax example:

[code]

As `true` and `false` are also new keywords that are introduced, I think it would make more sense to also use one of these keywords in the example. For example:

[code]

[2021-09-14 12:29] ErikSchierboom opened #1554 "annalyns-infiltration: don't use unneeded semicolons"
The [instructions.md file](https://github.com/exercism/go/blob/main/exercises/concept/annalyns-infiltration/.docs/instructions.md#1-check-if-a-fast-attack-can-be-made) of the `annalyns-infiltration` exercise use a semicolon which is unneeded (as far as my basic Go knowledge goes):

[code]

The easy fix is to remove these semicolons:

[code]

[2021-09-14 13:01] ErikSchierboom opened #1556 "blackjack: streamline introduction"
Firstly, the [introduction.md file](https://github.com/exercism/go/blob/main/exercises/concept/blackjack/.docs/introduction.md#introduction) of the `blackjack` exercise states that a `switch` allows for more "advanced scenarios" than an `if` statement, but it doesn't clearly state _what_ those advanced scenarios are. There are some hints in the comments in the syntax example, but it would likely b

[2021-09-14 13:16] ErikSchierboom opened #1558 "blackjack: move `FirstTurn` function from stub to tests file"
The [stub file](https://github.com/exercism/go/blob/main/exercises/concept/blackjack/blackjack.go#L24) of the `blackjack` exercise contains a `FirstTurn` function which the comments state should not be edited. This is problematic for two reasons:

1. Students might not notice the comment and edit this function, leading to invalid implementations
2. Students might notice the comment and edit the fu

[2021-09-14 13:23] ErikSchierboom opened #1559 "config: remove `basics` from `prerequisites` if exercise has more than one prequisite"
If an exercise in the [config.json file](https://github.com/exercism/go/blob/main/config.json#L91) has more than one prerequisite in its `prerequisites` and those `prerequisites` include the `basics` concept, that `basics` concept can be removed.

For example:

[code]

should become:

[code]

[2021-09-14 13:24] ekingery commented on #1495
Excellent - merged. @micuffaro, thanks for your contributions! It's very valuable to have this exercise back in the mix.

[2021-09-14 13:24] #1495 closed

[2021-09-14 13:25] ekingery commented on #1495
@goatthinking, thanks for the report! If you could verify the comments exercise is available, we would appreciate it.

[2021-09-14 13:28] ErikSchierboom opened #1560 "booking-up-for-beauty: add `booleans` to prerequisites"
The `booking-up-for-beauty` exercise depends on the student knowing what a `bool` is, but the `booleans` concept is [not listed in the prerequisites](https://github.com/exercism/go/blob/main/config.json#L118). The `booleans` concept should be added to the `prerequisites` of the `booking-up-for-beauty` exercise.

[2021-09-14 13:48] ErikSchierboom opened #1561 "numbers: cleanup introduction.md document"
The [introduction.md file](https://github.com/exercism/go/blob/main/concepts/numbers/introduction.md) of the `numbers` concept contains a TODO on the document needing to be cleaned up.

Looking at the contents, the only things that need to be done are:

- Remove the level 2 headings
- Remove the TODO

[2021-09-14 14:09] ErikSchierboom opened #1562 "numbers: about document is fairly empty"
The [about.md document](https://github.com/exercism/go/blob/main/concepts/numbers/about.md) of the `numbers` concept seems to be missing most of its content when compared to its [introduction.md document](https://github.com/exercism/go/blob/main/concepts/numbers/introduction.md). In general, the `about.md` document should contain _all_ the information from the `introduction.md`, but it can also ad

[2021-09-14 14:18] ErikSchierboom opened #1563 "card-tricks: uint8 type is used but not introduced in prerequisites"
The `card-tricks` exercises uses the `uint8` type in [its stub](https://github.com/exercism/go/blob/main/exercises/concept/card-tricks/card_tricks.go#L5), but this type is not introduced in [its prerequites](https://github.com/exercism/go/blob/main/config.json#L197).

There are two possible solutions:

1. Replace the `uint8` type with a type that the student already knows about (e.g. `int` or `flo

[2021-09-14 14:24] ErikSchierboom opened #1564 "card-tricks: add booleans as prerequisite"
The `card-tricks` uses the `bool` type, but does not include the `booleans` concepts in [its prerequisites](https://github.com/exercism/go/blob/main/config.json#L198). The `booleans` concept should be added to the exercise's prerequisites.

[2021-09-14 14:31] ErikSchierboom opened #1565 "card-tricks: should have for-loops as a prerequisite"
The [exemplar solution](https://github.com/exercism/go/blob/main/exercises/concept/card-tricks/.meta/exemplar.go) of the `card-tricks` exercise uses [for loops](https://github.com/exercism/go/blob/main/exercises/concept/card-tricks/.meta/exemplar.go#L29).

This concepts should be added as prerequisite. (This relies on [Bird Watcher being implemented](https://github.com/exercism/go/issues/1617))

[2021-09-14 14:33] ErikSchierboom commented on #1382
@andrerfcsantos I don't think someone is working on it. It might be good to find out it there is an existing exercise that you can fork/port. @angelikatyborska Does Elixir have an exercise that might be used as the source for a fork?

[2021-09-14 14:40] angelikatyborska commented on #1382
@ErikSchierboom I doubt it. This sounds too low level to resemble anything in Elixir. I think the closest we have to this is charlists (https://github.com/exercism/elixir/tree/main/exercises/concept/german-sysadmin) which are lists of integers that represent characters but nothing that would touch the subject of `uint8` vs `int32`.

[2021-09-14 14:42] ErikSchierboom opened #1566 "card-tricks: introduction mentions implementation details"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/card-tricks/.docs/introduction.md) of the `card-tricks` exercise has the following section:

While useful, the student doesn't really need to know this information to solve the exercise (unless I'm mistaken). As per [the docs](https://exercism.org/docs/building/tracks/concepts), any such non-essential informa

[2021-09-14 14:47] ErikSchierboom opened #1567 "card-tricks: introduction should expand on slicing options"
Firstly, the [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/card-tricks/.docs/introduction.md) of the `card-tricks` exercise very briefly mentions how to get a subslice from a slice. It would be very useful to update the example to show a slice and a subslice operation on that slice and show what is returned for the subslice.

Secondly, the [exemplar solution

[2021-09-14 18:54] #1427 closed

[2021-09-14 19:34] ErikSchierboom commented on #1382
Too bad

[2021-09-15 00:10] andrerfcsantos opened #1574 "numbers concept: improve about.md and introduction.md"
I think we can introduce the [numbers concept](https://github.com/exercism/go/tree/main/concepts/numbers) a little bit better. Right now, the `about.md` and `introduction.md` file provide basic info about numbers that I think could be improved with the following:

* Add more examples in general. Give more examples of integer variable declarations, arithmetic operators being used, type conversions

[2021-09-15 00:12] andrerfcsantos commented on #1562
Submitted the quick fix for now. But I think this concept can be improved further. Made my suggestions in a separate issue: https://github.com/exercism/go/issues/1574

[2021-09-15 01:42] #1536 closed

[2021-09-15 07:24] ErikSchierboom commented on #1574
This is perfect content for an `about.md` file 👍

This is perfect content for an `about.md` file 👍

I would either:

1. Make a separate exercise for complex numbers
2. Include complex numbers with a separate floating-point numbers exercise. See https://github.com/exercism/go/pull/1573#discussion_r708902648 for more context

I would argue that point 1 and 2 (see my above comment on point 3) should

[2021-09-15 07:32] ErikSchierboom commented on #1542
Excellent observation @NobbZ. Two changes must be made:

1. The [stub implementation](https://github.com/exercism/go/blob/main/exercises/concept/cars-assemble/cars_assemble.go#L17) of the `successRate` function should be removed
2. The `successRate` function should be made public and tests should be added to https://github.com/exercism/go/blob/main/exercises/concept/cars-assemble/cars_assemble_tes

[2021-09-15 07:35] ErikSchierboom opened #1575 "cars-assemble: remove links from introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/cars-assemble/.docs/introduction.md) of the `cars-assemble` exercise contains links to external resources.

As per [the docs](https://github.com/exercism/go/blob/main/exercises/concept/cars-assemble/.docs/introduction.md):

In this case, the links can be removed and use in the concept's `about.md` document.

[2021-09-15 07:52] ErikSchierboom opened #1576 "cars-assemble: update type conversion introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/cars-assemble/.docs/introduction.md) of the `cars-assemble` has the following section on type conversion:

[code]

There are two improvements to be made:

1. The `reflect.TypeOf` calls are using syntax that the student has never seen (it's not in the exercise's prerequisites). As such, it needs to be removed

[2021-09-15 08:02] ErikSchierboom opened #1577 "cars-assemble: improve hints"
The [hints.md document](https://github.com/exercism/go/blob/main/exercises/concept/cars-assemble/.docs/hints.md) of the `cars-assemble` exercise should be improved upon in the following ways:

1. Add hints per task (see [the docs](https://exercism.org/docs/building/tracks/concept-exercises))
2. Consider adding general hints
3. Replace the current code example with links to an external resource

It

[2021-09-15 08:35] ErikSchierboom opened #1578 "weather-forecast: unknown variable declaration syntax"
The [stubs file](https://github.com/exercism/go/blob/main/exercises/concept/weather-forecast/weather.go#L3) of the `weather-forecast` exercise contains the following code:

[code]

This syntax to declare multiple variables in one block is not known to the student. There are two options to fix this:

1. Introduce this syntax in the `basics` concept's [about.md document](https://github.com/exercism/

[2021-09-15 08:49] ErikSchierboom opened #1579 "weather-forecast: story tweaks"
The [instructions.md document](https://github.com/exercism/go/blob/main/exercises/concept/weather-forecast/.docs/instructions.md) of the `weather-forecast` exercise has a very basic theme:

The tasks themselves are then all about adding comments to existing code. There are two issues with this:

1. The tasks don't naturally link to the story/theme. The student is asked to help a weather station, b

[2021-09-15 08:53] ErikSchierboom opened #1580 "weather-forecast: change function name"
The `weather-forecast` defines a function called `Log` to describe the weather conditions. It might be nice to give this a more descriptive name, like `Forecast`.

The following files would need to be updated:

- https://github.com/exercism/go/blob/main/exercises/concept/weather-forecast/weather.go#L8
- https://github.com/exercism/go/blob/main/exercises/concept/weather-forecast/.docs/instructions.

[2021-09-15 09:30] ErikSchierboom opened #1581 "concepts: remove exercise references"
The `about.md` and `introduction.md` of concepts (found in the `concepts` directory) should not mention their exercise. So text like "in this exercise" or "in the previous" exercise should be removed from the `about.md` and `introduction.md` documents.

[2021-09-15 09:32] ErikSchierboom opened #1582 "weather-forecast: remove golint from introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/weather-forecast/.docs/introduction.md#golint) of the `weather-forecast` exercise mentions `golint`. While I appreciate that this is a key part of doing formatting in Go, I don't think the student needs to know about this tool in order to be able to solve the exercise. As such, the golint section should be re

[2021-09-15 09:43] ErikSchierboom opened #1583 "savings-account: missing theme"
The `savings-account` exercise is has a very basic "theme". This has a couple of issues:

1. The tasks don't naturally link to the story/theme. The student is asked to help a weather station, but then only adds comments.
2. It is quite dull. There are probably not many programmers that would find the tasks interesting.

We should come up with a theme and modify the tasks to make more sense. We'd a

[2021-09-15 09:43] ErikSchierboom opened #1584 "savings-account: missing prerequisites"
The `savings-account` exercise requires the student to know the following types, which are not in the prerequisites:

- The `type` keyword
- The `float32` keyword (`numbers` prerequisite)

This issue should be fixed together with https://github.com/exercism/go/issues/1583.

[2021-09-15 10:15] ErikSchierboom opened #1585 "party-robot: missing prerequisites"
The `party-robot` exercise uses `string`, the `int` and `float64` types, but its [prerequisites](https://github.com/exercism/go/blob/main/config.json#L67) don't ensure that the student has learnt these concepts.

The `numbers` and `strings` concepts should be added as the prerequisite of the `party-robot` exercise.

[2021-09-15 10:26] ErikSchierboom opened #1586 "party-robot: teach package-import concept"
The `party-robot` expects students to use the `fmt` package, but its [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.docs/introduction.md) nor its dependencies explain how to import a package using the `import` keyword.

This exercise should explain how to import packages in the `party-robot` exercise. This means updating the `introduction.md` fil

[2021-09-15 11:06] ErikSchierboom opened #1587 "party-robot: explain how to concatenate strings"
The `party-robot` expects students to append strings (see the [exemplar solution](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.meta/exemplar.go)), but its [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.docs/introduction.md) does not explain how to do that. The `introduction.md` document should be modified to explain the

[2021-09-15 11:10] ErikSchierboom opened #1588 "party-robot: improve hints"
The [hints.md document](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.docs/hints.md) of the `party-robot` exercise should be improved upon in the following ways:

1. Add hints per task (see [the docs](https://exercism.org/docs/building/tracks/concept-exercises))
2. Replace the code example with a link to an external resource

[2021-09-15 11:23] ErikSchierboom opened #1589 "need-for-speed: improve introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/need-for-speed/.docs/introduction.md) of the `need-for-speed` exercise should be improved in several ways:

The syntax example is nice, but it _might be more clear to use actual field types.

The introduction has the following sentence:

What's missing here is mentioning that the `type` keyword also has to be

[2021-09-15 11:33] ErikSchierboom opened #1590 "need-for-speed: consider not pre-defining the structs"
The whole purpose of the `need-for-speed` exercise is to teach students how to define and work with `struct` types. The [stub file](https://github.com/exercism/go/blob/main/exercises/concept/need-for-speed/need_for_speed.go#L4) already defines the struct types though, which means that the student won't have to do this themselves. This is not wrong per se, but is likely a sub-optimal learning exper

[2021-09-15 11:44] ErikSchierboom opened #1591 "gross-store: exemplar uses unknown syntax"
The `gross-store` exercise's [exemplar solution](https://github.com/exercism/go/blob/main/exercises/concept/gross-store/.meta/exemplar.go) uses a concepts that is not in the prerequisites:

[code]

I don't know what to do with this: rewriting the code or explaining what the `if ...; ..` syntax does.

[2021-09-15 11:53] ErikSchierboom opened #1592 "gross-store: missing prerequisites"
The `gross-store` exercise uses `strings`, `conditionals-switch` and `multiple-return-values`, but does not have `strings` or `conditionals-switch` or `multiple-return-values` in its prerequisites. The `strings` and `conditionals-switch` and `multiple-return-values` concepts should be added as a prerequisite: https://github.com/exercism/go/blob/main/config.json#L147

[2021-09-15 12:12] ErikSchierboom opened #1593 "gross-store: tweak introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/gross-store/.docs/introduction.md) of the `gross-store` exercise has some things that should be tweaked. Most of the tweaks are related to this part of [the docs](https://exercism.org/docs/building/tracks/concept-exercises):

Applying this to the introduction file leaves us with the following tweaks:

Remove

[2021-09-15 12:14] ErikSchierboom opened #1594 "logs-logs-logs: add missing prerequisites"
The `logs-logs-logs` exercise uses strings, conditionals and string-formatting in the exercise, but does not have `strings` or `conditionals-if` or `string-formatting` in [its prerequisites](https://github.com/exercism/go/blob/main/config.json#L211). The `strings` and `conditionals-if` and `string-formatting` concepts should be added to its prerequisites.

[2021-09-15 12:26] ErikSchierboom opened #1595 "logs-logs-logs: tweak introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/logs-logs-logs/.docs/introduction.md) of the `logs-logs-logs` exercise could use some tweaks.

Runes are in backticks leading the student to believe it is an actual type, but the type is `rune`. The runes word should not be in backticks, or if it refers to the rune type, be replaced with `rune[]`.

When possi

[2021-09-15 12:31] ErikSchierboom opened #1596 "logs-logs-logs: tweak design"
The `logs-logs-logs` exercise teaches one concept: `strings-package`. The introduction and exemplar code though also mention/use runes, which is a separate concept I think that the exercise teaches.

Parts of the exercise are similar to the [party-robot exercise](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.meta/exemplar.go), especially the last task where the student is

[2021-09-15 12:35] ErikSchierboom opened #1597 "party-robot: tweak introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.docs/introduction.md) of the `party-robot` exercise could use some tweaks.

First, the introduction mentions the use of `fmt.Printf`, but the [exemplar solution](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.meta/exemplar.go) shows that the student does not need to know

[2021-09-15 12:41] ErikSchierboom opened #1598 "elons-toys: add missing prerequisite"
The `elons-toys` exercise requires students to do string formatting, but does not have strings in [its prerequisites](https://github.com/exercism/go/blob/main/config.json#L174). The `strings` concept should be added to its prerequisites.

[2021-09-15 12:49] ErikSchierboom opened #1599 "elons-toys: tweak introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/elons-toys/.docs/introduction.md) of the `elons-toys` exercise can use some tweaks.

Firstly, there is a section on pointer receivers:

The text itself doesn't explain _how_ to define a pointer receiver, that is only shown in the example. This should be fixed.

Secondly, the external links should be removed,

[2021-09-15 13:08] ErikSchierboom opened #1600 "card-tricks: replace uint8 with int"
The `card-tricks` exercise uses `uint8` but the prerequisites haven't unlocked this concept. The uses of `uint8` should be replaced with `int`.

[2021-09-15 13:09] ErikSchierboom opened #1601 "chessboard: replace byte with int"
The `chessboard` exercise uses `byte` but the prerequisites haven't unlocked this concept. The uses of `byte` should be replaced with `int`.

[2021-09-15 13:13] ErikSchierboom opened #1602 "elons-toys: non-struct type not explained"
The [introduction.md document]() of the `elons-toys` exercise has the following section:

The struct type is explained in one of its prerequisites, but the non-struct type is not define anywhere as far as I can tell. We should:

1. Remove the mention of the non-struct type from the introduction (the student does not need to know this).
2. Consider adding a prerequisite for the non-struct type (ess

[2021-09-15 13:15] ErikSchierboom opened #1603 "chessboard: don't use type definitions"
The `chessboard` exercise uses type definitions, but this concept is not explained. These type definitions should be removed and the defined types themselves should be used.

[2021-09-15 13:22] ErikSchierboom opened #1604 "chessboard: tweak introduction"
The [introduction.md document](https://github.com/exercism/go/blob/main/exercises/concept/chessboard/.docs/introduction.md) of the `chessboard` exercise could be tweaked a bit.

As per [the docs](https://exercism.org/docs/building/tracks/concept-exercises):

Applying this to the introduction means that the final section ("Last but not least, if you are required to perform some action but you are n

[2021-09-15 14:29] #1562 closed

[2021-09-15 14:30] #1561 closed

[2021-09-15 14:31] #1553 closed

[2021-09-15 14:32] #1552 closed

[2021-09-15 14:32] #1554 closed

[2021-09-15 14:51] jmrunkle commented on #1526
I like that. I am sufficiently sold on this idea. So current proposal here:

1. Make the bonus test part of the standard test suite.
2. Update the instructions to be more explicit about this requirement.
3. Remove the Benchmark test since it is pretty redundant once you add the bonus test (and students using the UI will not be able to see the benchmark anyways).

[2021-09-15 21:34] andrerfcsantos opened #1605 "concepts: review links"
On a concept page, there's the "Learn More" section that contains links related to the concept. I found some problems in these links and we should do a pass to review them:

* The link naming convention is inconsistent across concepts. Some concepts capitalize each word and put spaces between them, others use snake case, others use kebab case. I think we use a naming convention that is consistent.

[2021-09-16 01:51] jmrunkle opened #1607 "Benchmark tests should not run on the website"
This requires changes both in the test code as well as in the actual test runner, but the simplest option is to [skip tests](https://pkg.go.dev/testing#hdr-Skipping) using the short flag.

I will be creating another issue in the go test runner repo to make the relevant change for the test runner itself so that it sets the `-short` flag when running `go test`.

By using the short flag, CLI students

[2021-09-16 06:46] ErikSchierboom commented on #1607
Closed by https://github.com/exercism/go-test-runner/issues/37

[2021-09-16 06:46] #1607 closed

[2021-09-16 12:34] iHiD opened #1609 "[Sept Sprint] Gopher's Gorgeous Lasagna"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. Assigned to @andrerfcsantos.

---

## Gopher's Gorgeous Lasagna

This is almost there. Needs one change making.

- Change first task to use `const` instead of function
  - Add a sentence about `const` to the [exercise introduction](https:

[2021-09-16 12:35] iHiD opened #1610 "[Sept Spring] Overview"
## Exercises
- [Gopher's Gorgeous Lasagna ](https://github.com/exercism/go/issues/1609) (🛠️) (Not claimed)

[2021-09-16 12:53] iHiD opened #1611 "[Sept Sprint] Cars Assemble"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @jmrunkle.**

---

## Cars Assemble

- [x] Add `arithmetic-operators` as a concept
  - Intro should have a table with the standard operators +,-,*,/,%,
  - Intro should explain what happens for integer divisi

[2021-09-16 12:55] iHiD opened #1612 "[Sept Sprint] New exercise teaching alternative number types"
Cars Assemble teaches int and float. We need an extra exercise to teach the other number types that are commonly used and returned in Go.

[2021-09-16 13:01] iHiD opened #1613 "[Sept Sprint] New Exercise for Strings"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is unclaimed. Please comment below if you'd like to work on it.**

---

**Before building this exercise, please read up on [the documentation](https://exercism.org/docs/building/tracks/concept-exercises).**

Copy/paste/mod

[2021-09-16 13:10] iHiD opened #1614 "[Sept Sprint] Improve Logs logs logs"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by
@sudomateo .**

---

## Logs Logs Logs

"Logs logs logs" will no longer teach basic strings (this will be poetry club instead), but instead will focus on Runes and string slices.

-  ~~This exercise should be

[2021-09-16 13:18] iHiD opened #1615 "[Sept Sprint] Improve Weather Forecast"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is unclaimed. To claim it, please comment below.**

---

## Weather Forecast

- [x] https://github.com/exercism/go/issues/1582
- [x] https://github.com/exercism/go/issues/1578
- [x] https://github.com/exercism/go/issues/15

[2021-09-16 13:29] ErikSchierboom opened #1616 "[Sept Sprint] Improve Blackjack"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is unclaimed. To claim it, please comment below.**

---

## Blackjack

- [x] https://github.com/exercism/go/issues/1556
- [x] https://github.com/exercism/go/issues/1558

[2021-09-16 13:39] ErikSchierboom opened #1617 "for-loops: Port "Bird Watcher" exercise from JS or C#"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @sachinmk27.**

---

**Before building this exercise, please read up on [the documentation](https://exercism.org/docs/building/tracks/concept-exercises).**

The goal of this exercise is to teach how to write

[2021-09-16 13:47] iHiD opened #1618 "[Sept Sprint] Card Tricks"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is unclaimed. To claim it, please comment below.**

---

[2021-09-16 13:55] ErikSchierboom opened #1619 "card-tricks: introduce multiple-return-values concept"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @jmrunkle.**

---

The `card-tricks` exercise uses multiple return values, but it does not have this as a taught concept.
This concept also includes teaching students how to do `if x, y := z; !y `. (i.e. chec

[2021-09-16 13:56] #1563 closed

[2021-09-16 13:58] ErikSchierboom opened #1620 "card-tricks: remove `nil` from exercise"
The `card-tricks` exercise uses `nil` in the exercise. This functionality should be removed from the exercise, both in the tests and in the exemplar implementation.

[2021-09-16 14:01] iHiD opened #1621 "[Sept Sprint] Gross Store"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @MiroslavGatsanoga .**

---

- [ ] https://github.com/exercism/go/issues/1593
- [ ] https://github.com/exercism/go/issues/1592
- [x] https://github.com/exercism/go/issues/1591

[2021-09-16 14:02] iHiD commented on #1591
@june Thoughts on the if syntax?

[2021-09-16 14:04] iHiD opened #1622 "[Sept Sprint] Need for Speed"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is being worked on by @jaimem88**

---

- [x] https://github.com/exercism/go/issues/1590
- [x] https://github.com/exercism/go/issues/1589
- [x] Introduction should show a real example instead of just the abstract syntax

[2021-09-16 14:08] ErikSchierboom commented on #1603
@junedev What is the proper Go name for a type that is defined like `type Rank []bool`? Like a type alias or something.

[2021-09-16 14:09] iHiD commented on #1591
@junedev Thoughts on this?

[2021-09-16 14:09] iHiD opened #1623 "[Sept Sprint] Chess Board"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @bobtfish.**

---

- [x] https://github.com/exercism/go/issues/1604
- [x] https://github.com/exercism/go/issues/1601
- [x] https://github.com/exercism/go/issues/1603

[2021-09-16 14:11] iHiD opened #1624 "[Sept Sprint] Party Robot"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @bobtfish.**

---

This will move earlier in the track, between `poetry-door-policy` and `log-logs-logs`. This should be about `string-formatting` not `strings`.
- [x] https://github.com/exercism/go/issues/15

[2021-09-16 14:15] #1587 closed

[2021-09-16 14:21] ErikSchierboom opened #1625 "party-robot: change taught concepts"
The `party-robot` exercise currently is designed to teach the `strings` concept, but this will be done by the Poetry Door Club policy exercise that is to be added. As such, the goal of this exercise changes to: teach the `string-formatting` concept (and the [`package-import` concept](https://github.com/exercism/go/issues/1586).

The `strings` concept should be renamed to `string-formatting`: https

[2021-09-16 14:27] ErikSchierboom opened #1626 "[Sept Sprint] Elon's Toys"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is unclaimed. To claim it, please comment below.**

---

- [x] https://github.com/exercism/go/issues/1598
- [x] https://github.com/exercism/go/issues/1599
- [x] https://github.com/exercism/go/issues/1602

[2021-09-16 15:18] andrerfcsantos commented on #1609
I can take this one.

[2021-09-16 15:34] bobahop opened #1629 "Go: recursive solution passed locally, failed online"
Just downloaded the exercise yesterday and solved it today, so I think it's not out of date. It's slow, so I'll probably redo it, but I like to have a recursive example for these types of exercises.

[code]

[2021-09-16 16:10] andrerfcsantos commented on #1609
I noticed the links in the hints point to the language spec. Should we really do this? For instance if we compare the language spec vs other resources like the Tour of Go:

* [Language Spec: Constants](https://golang.org/ref/spec#Constants)
* [Tour of Go: Constants](https://tour.golang.org/basics/15)

I think the Tour of Go is more straight to the point, provides examples, simple explanations and

[2021-09-16 16:22] andrerfcsantos commented on #1497
I think this was fixed with https://github.com/exercism/go/pull/1547. Can you confirm @jmrunkle?

[2021-09-16 16:40] iHiD commented on #1609
General rule is to link to the clearest source (so Tour of Go in this case?). Also note that exercise introductions shouldn't have links unless they are absolutely essential. Links should go in the after.md files.

[2021-09-16 16:43] andrerfcsantos commented on #1609
Ok, thanks. In this specific case I'm talking about the links in [hints.md](https://github.com/exercism/go/blob/main/exercises/concept/lasagna/.docs/hints.md). I assume it's ok for the hints to have links? (Based on what's already there)

[2021-09-16 17:28] andrerfcsantos commented on #1616
I'll take this one too :)

[2021-09-16 17:30] #1600 closed

[2021-09-16 17:33] jmrunkle commented on #1497
I am pretty sure this works now so yeah, closing this issue.

[2021-09-16 17:33] #1497 closed

[2021-09-16 18:02] iHiD commented on #1609
Yep! Definitely :)

[2021-09-16 20:32] sudomateo commented on #1614
@iHiD I'll snag this.

[2021-09-16 21:15] junedev commented on #1591
This syntax is used rather frequently and although it is sometimes overused in over cases, it is idiomatic in this use case. This syntax should be introduced as part of the `conditionals-if` concept (cars assemble).

[2021-09-16 21:31] junedev commented on #1603
It is just called "type definition", you could also call it a custom type. A type alias is something else in Go.

I would recommend just not using this here. You could just write `[]bool` instead and since this exercise is about ranging over slices that would make it even clearer.

I would recommend introducing custom types and type aliases together with that constants exercise where they are actu

[2021-09-16 22:07] bobtfish commented on #1626
I'd like to claim this

[2021-09-16 22:13] bobtfish commented on #1598
https://github.com/exercism/go/pull/1631

[2021-09-16 23:51] #1609 closed

[2021-09-17 00:08] jmrunkle opened #1633 "Lint error: `the-farm` is not a `slug` in the array of concept exercises"
Full error:

[code]

I will do exactly what it says and add it as "wip"

[2021-09-17 04:57] jmrunkle opened #1636 "the-farm: add concept(s) / prerequisites"
Aftermath for #1634 (just fixing CI) - this exercise needs to be enabled and requires the concept it is trying to teach and prereqs for that concept.

[2021-09-17 05:46] jaimem88 commented on #1622
👋 I'd like to help with this :)

[2021-09-17 05:48] jmrunkle commented on #1629
It is possible, but I do not see anywhere specifically in the go-test-runner that handles this. Do you happen to have the error / failure you were getting?

[2021-09-17 05:49] #1633 closed

[2021-09-17 06:12] ErikSchierboom commented on #1603
Thanks. I've updated.

[2021-09-17 08:20] ErikSchierboom commented on #1626
Done

[2021-09-17 08:21] ErikSchierboom commented on #1622
I've assigned you.

[2021-09-17 08:43] ErikSchierboom opened #1637 "the-farm: add multiple-return-valuess as a prerequisite"
The `the-farm` exercise should have `multiple-return-values` as one its prerequisites.

[2021-09-17 08:44] #1637 closed

[2021-09-17 08:44] ErikSchierboom commented on #1636
One of the prereqs to add should be `multiple-return-values`, which will be introduced in https://github.com/exercism/go/issues/1619.

[2021-09-17 08:51] ErikSchierboom commented on #1591
@junedev The cars-assemble exercise does not know about multiple return values, so I felt like teaching the natural place to introduce this syntax is in the exercise that will teach multiple return values: `card-tricks`: https://github.com/exercism/go/issues/1619 The `gross-store` exercise can then have `multiple-return-values` as a prerequisite.

[2021-09-17 08:51] #1591 closed

[2021-09-17 09:17] iHiD commented on #1622
Great. Thanks @jaimem88!

[2021-09-17 09:24] iHiD commented on #1614
@sudomateo Great. Thanks! :)

[2021-09-17 09:56] ErikSchierboom opened #1638 "the-farm: introduce interfaces concept"
`The Farm` should unlock `interfaces`. This will involve:

- Updating the exercise's instructions.md file
- Updating the exercise's introduction.md
- Updating the concept's introduction.md
- Updating the concept's about.md file
- Add `interfaces` to the `concepts` for the `the-farm` exercise in the `config.json`

[2021-09-17 09:58] ErikSchierboom opened #1639 "the-farm: add tasks to introduction"
The [instructions.md document](https://github.com/exercism/go/blob/main/exercises/concept/the-farm/.docs/instructions.md) of the `the-farm` exercise does not conform to the standard. The first part is fine, but the second part should be formatted differently and have one or more tasks. See [these instructions](https://github.com/exercism/go/blob/main/exercises/concept/lasagna/.docs/instructions.md

[2021-09-17 09:58] ErikSchierboom opened #1640 "Improve Concept Exercise: The Farm (errors)"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @jmrunkle.**

---

- [x] https://github.com/exercism/go/issues/1636
- [x] https://github.com/exercism/go/issues/1638
- [x] https://github.com/exercism/go/issues/1639

[2021-09-17 10:08] ErikSchierboom opened #1641 "lasagna: use `const` value"
The `lasagna` exercise has a `OvenTime` function that returns a constant value. We should replace this function with a a constant value. This will involve:

- Change the stub file, replacing the stub function with a TODO (like [this stub](https://github.com/exercism/fsharp/blob/main/exercises/concept/lucians-luscious-lasagna/LuciansLusciousLasagna.fs#L3))
- Change the exercise's instructions.md of

[2021-09-17 10:09] ErikSchierboom commented on #1641
Closed by https://github.com/exercism/go/pull/1628

[2021-09-17 10:09] #1641 closed

[2021-09-17 10:13] ErikSchierboom opened #1642 "[Sept Sprint] New exercise teaching functions"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is unclaimed. To claim it, please comment below.**

---

**Before building this exercise (or exercises), please read up on [the documentation](https://exercism.org/docs/building/tracks/concept-exercises).**

We need an exe

[2021-09-17 10:20] ErikSchierboom opened #1643 "[Sept Sprint] New exercise teaching pointers"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is unclaimed. To claim it, please comment below.**

---

**Before building this exercise (or exercises), please read up on [the documentation](https://exercism.org/docs/building/tracks/concept-exercises).**

We need an exe

[2021-09-17 10:30] bobahop commented on #1629
[code]

[2021-09-17 10:31] #1598 closed

[2021-09-17 11:02] junedev commented on #1591
@ErikSchierboom You are totally right, multiple return values are not introduced yet. However multiple return values have no actual relation to the `if expression; condition { ... }` syntax. Imagine this code for example:
[code]

So feel free to ignore this, but I still think `if expression; condition { ... }` should be part of `conditionals-if` and additionally we need to find a home for introduc

[2021-09-17 11:13] ErikSchierboom opened #1644 "cars-assemble: explain `if expression; condition { }` syntax"
The `cars-assemble` exercise explains how to do `if` statements in Go. One very common pattern in Go is to add a short statement before the condition in an if statement, see https://tour.golang.org/flowcontrol/6 for an example.

The `cars-assemble` exercise should teach this. At the very least, this should be added to the concept's and exercise's `introduction.md` document. Ideally, we'd modify th

[2021-09-17 11:14] ErikSchierboom commented on #1591
@junedev Issue created: https://github.com/exercism/go/issues/1644

[2021-09-17 11:16] ErikSchierboom commented on #1591
Well, `card-tricks` uses multiple return values (`func GetItem(slice []uint8, index int) (uint8, bool)`) and the introduction is relatively short, so I felt it there was room there.

[2021-09-17 11:20] junedev commented on #1591
Ah, I missed that part when skimming the file. All good then.

[2021-09-17 11:34] ErikSchierboom opened #1645 "[Sept Sprint] New exercise teaching `type-conversion`"
This is part of our September Spring to get the Go Track in shape. Please read the [Overview issue](https://github.com/exercism/go/issues/1610) for more details. **This exercise is claimed by @jmrunkle.**

---

**Before building this exercise (or exercises), please read up on [the documentation](https://exercism.org/docs/building/tracks/concept-exercises).**

We need an exercise for the `type-cast

[2021-09-17 14:13] iHiD commented on #1629
(@bobahop Note that you made it into the error message... 😉)

[2021-09-17 14:18] iHiD commented on #1629
This was an issue in our infrastructure, which I've subsequently fixed. I've just rerun your job for you, and it should have worked now @bobahop?

[2021-09-17 18:24] bobtfish commented on #1624
I’ll take this

[2021-09-17 18:24] bobahop commented on #1629
Yup, that iteration is now marked as passing. Thank you very much!

[2021-09-17 18:24] #1629 closed

[2021-09-17 20:18] bobtfish commented on #1586
Hey @ErikSchierboom I see that there's already a [packages concept](https://github.com/exercism/go/tree/main/concepts/packages) that just needs some work, so I've started work on getting that into shape in PR#1651 (very much a WIP still right now!).

Do you have strong feelings about the name of the concept? I.e. `packages` which was pre-existing vs `package-import` as in this ticket. I have a mil

[2021-09-17 20:20] bobtfish commented on #1599
This should be able to be closed out now.

[2021-09-17 20:20] bobtfish commented on #1602
This should be able to be closed out now

[2021-09-17 20:21] bobtfish commented on #1626
All three points here are completed, this should be able to be closed now.

[2021-09-18 13:58] sachinmk27 commented on #1615
I'd like to work on this

[2021-09-18 17:20] bobtfish commented on #1585
We can't do this yet:

Should be possible after #1625 is done.

[2021-09-18 18:04] junedev commented on #1624
@bobtfish I would recommend you create one PR for all the remaining issues from the list above. Otherwise you might run into unnecessary merge conflicts and the content might not be consistent anymore.

[2021-09-18 18:13] bobtfish commented on #1625
This is done!

[2021-09-18 18:21] junedev commented on #1625
@bobtfish I think there is a part missing here. The the exercise introduction and the concept introduction and about file still contain a section that explain strings in general. That section should be removed as this part will be covered by another exercise.

You can paste the text as a comment into this issue https://github.com/exercism/go/issues/1613 so the person creating the string exercise/c

[2021-09-18 18:40] #1597 closed

[2021-09-18 19:18] junedev commented on #1613
@ErikSchierboom I just realized the poetry club door policy exercise relies on syntax like `str[0]`. In Go that does not return a string and we didn't want to go into the details of runes, type conversion etc at this point because this can be the second learning exercise the student does on the Go track. Not sure how to "fix" that problem yet. Maybe we need to chat about it on Monday.

[2021-09-18 19:28] #1599 closed

[2021-09-18 19:41] junedev commented on #1626
@ErikSchierboom The fixes you described in the issues above were only applied to the exercise introduction.md file as by your description. Shouldn't most of them (besides maybe removing links) also apply to the introduction/about of the concept?

[2021-09-18 20:10] bobtfish commented on #1613
Text removed from the `string-formatting` concept in issue #1625 to be used in this concept / exercise is below:

# About

A `string` in Go is an immutable sequence of bytes. Strings may contain arbitrary bytes but usually they contain human-readable text.
Text strings are conventionally interpreted as UTF-8 encoded sequence of Unicode code points (runes) which will be explained in a future exerci

[2021-09-18 20:48] bobtfish commented on #1585
This depends on issue #1613 to re-add the strings concept.

With that done the `savings-account` exercise needs to change to depend on `strings` rather than `string-formatting` - which is more correct, and also breaks a dependency cycle we get otherwise. We can then make this change to add these dependencies to the `party-robot` exercise.

[2021-09-19 02:14] jaimem88 opened #1655 "Docs: broken link to .editorconfig"
The [development guide](https://github.com/exercism/go#development-setup) suggests getting a copy of the `.editorconfig` file, however the linked file does not exists. The url is https://github.com/exercism/exercism.io/blob/master/.editorconfig.

In https://github.com/exercism/go/issues/722 it was decided to add an `.editorconfig` file to the `.gitignore` file instead, so this line is no longer ne

[2021-09-19 02:18] #1580 closed

[2021-09-19 04:52] jmrunkle commented on #1526
@ekingery - do you agree with that plan?

NOTE: we already skip benchmark tests in the test runner (somewhat manually).

[2021-09-19 05:05] jmrunkle commented on #1437
One dumb solution to this is for us to make the benchmark check if we have hit the max value and then we can just keep calling it without any expectations about the output. That being said, we may change the behavior of the bonus test by making it just a normal requirement (see #1526).

Current code:

[code]

Proposed:

[code]

[2021-09-19 09:41] #1625 closed

[2021-09-19 10:02] #1626 closed

[2021-09-19 10:40] junedev commented on #1604
@ErikSchierboom I don't think removing that section makes sense. This is essential to be able to work with range loops in Go. The reason is that Go does not compile when there are unused variables, so without the underscore syntax you are lost when you dont need the index for example.

[2021-09-19 10:52] junedev commented on #1602
Re-opening this because the PR that was merged did not cover what was explained in option 2 in the issue description. Erik meant that another exercise (e.g. chessboard) should introduce an additional concept (I would call it `type-definitions` as non-struct types is not really a Go term). Then Elons Toys can have `type-definitions` as prerequisite. Note that this change would make issue #1603 obso

[2021-09-19 12:01] junedev commented on #1614
@sudomateo There was a mistake in the issue description here. The concept `strings-package` will be introduced in this exercise: https://github.com/exercism/go/issues/1613 If you have already written any content for this, please paste it as a comment into the other issue so the person working on this can use it. You can fully concentrate on `runes` in this concept and exercise.

[2021-09-19 17:35] ekingery commented on #1526
Yes, I agree. Thanks for checking. The build tags should definitely be a separate concept (if that), and not included as an optional sidebar. I'm pretty sure that is not a pattern we want to encourage.

Overall, it's a tough call because the bonus makes it a much more involved problem. But that's probably fine as it's just a practice exercise and doesn't have stated concepts or goals, etc. I'm gue

[2021-09-19 18:33] MiroslavGatsanoga commented on #1621
I'd like to work on this one :)

[2021-09-19 19:42] junedev commented on #1613
Instead of using poetry door club policy, I created a new story (+ tasks) that fits the things we can reasonably use in this exercise.
Note that I had to remove the code blocks so this renders properly.

[code]

The first task is a bit similar to party robot but we want to make the party robot tasks a bit more advanced in the future anyway so I think this is ok for now.

[2021-09-19 19:56] bobtfish commented on #1623
Guess I'm claiming this one too 🤣

[2021-09-19 20:11] junedev commented on #1613
Note: Once this exercise is in place, we need to check which `string-formatting` prerequisite entries can now be changed to `strings` again.

[2021-09-19 20:21] junedev commented on #1615
@sachinmk27 Thanks for helping with this. Please note that one of the task was already done by someone else and merged. It is marked as closed in the list in the issue description.

[2021-09-19 21:14] jmrunkle commented on #1611
Claiming this one since it looks like low-hanging fruit.

[2021-09-19 22:27] iHiD commented on #1611
Great. There's a question about whether this should also teach comparison. @junedev/@erikschierboom are discussing and will follow up on that on Tues :)

[2021-09-19 22:57] jmrunkle commented on #1618
I already took care of the first part of this so I can take the rest as well.

[2021-09-20 01:45] #1542 closed

[2021-09-20 02:56] moshegood commented on #1619
To be clear: Multiple return values should be its own concept connected to functions. It should not live inside the slices concept.

[2021-09-20 06:08] sachinmk27 commented on #1640
I'd like to work on this

[2021-09-20 06:32] MiroslavGatsanoga commented on #1619
Once the `multiple-return-values` concept is created, it needs to be added to Gross Store exercise.

[2021-09-20 07:09] #1556 closed

[2021-09-20 07:53] #1602 closed

[2021-09-20 07:53] #1604 closed

[2021-09-20 07:53] #1623 closed

[2021-09-20 07:53] #1601 closed

[2021-09-20 07:53] #1603 closed

[2021-09-20 08:58] bitfield commented on #1437
The benchmark tool itself supports setting the number of iterations directly:

[code]

[2021-09-20 13:40] moshegood commented on #1620
See: https://github.com/exercism/go/pull/1665

[2021-09-20 14:16] #1578 closed

[2021-09-20 14:16] #1582 closed

[2021-09-20 14:16] #1615 closed

[2021-09-20 14:21] junedev commented on #1619
@moshegood What Erik means is that the exercise "Card Tricks" should teach two concepts, `slices` and `multiple-return-values`.

I agree with you that the new exercise about functions would be a better fit but the problem @ErikSchierboom saw is that a lot exercises already need multiple return values before the student would get to functions in the concept tree. This is why he suggested to add thi

[2021-09-20 14:31] #1621 closed

[2021-09-20 14:34] #1564 closed

[2021-09-20 15:04] #1620 closed

[2021-09-20 15:16] jmrunkle commented on #1567
Assigning myself (to discourage duplicate work), but moshegood is handling this in #1665

[2021-09-20 15:17] jmrunkle commented on #1566
Assigning myself (to discourage duplicate work), but moshegood is handling this in #1665

[2021-09-20 15:29] #1593 closed

[2021-09-20 15:31] #1592 closed

[2021-09-20 15:31] #1558 closed

[2021-09-20 18:19] #1576 closed

[2021-09-20 20:11] #1566 closed

[2021-09-20 20:11] #1567 closed

[2021-09-20 21:48] zberwaldt opened #1671 "weather-forecast fails test even though comments are provided."
weather-forecast exercise fails the test even though a comment has been added to the package variables.

Provided solution:
[code]

Test outcomes:
[code]

[2021-09-21 01:22] jarz commented on #1671
Broken by #1667 -- the tests are written to expect a very exact syntax tree created by the `var ( ... )` declaration.

[2021-09-21 01:22] sudomateo commented on #1614
@junedev I haven't started working on this yet as I was traveling. I will fully concentrate on `runes`. Thank you for informing me!

[2021-09-21 01:24] sudomateo commented on #1614
Just a reminder to myself to implement the work done in https://github.com/exercism/go/pull/1670.

[2021-09-21 01:24] sudomateo commented on #1614
Just a reminder to myself to implement the work done in https://github.com/exercism/go/pull/1670.

[2021-09-21 03:34] zberwaldt commented on #1671
@jarz This worked for me. Do you want me to close this issue?

[2021-09-21 04:01] junedev commented on #1671
Please leave the issue open.

[2021-09-21 04:57] junedev commented on #1671
@sachinmk27 Could you take care of fixing the exemplar file here? Best case both version would pass the test.

@jarz Very sorry for breaking this! Shouldn't have the CI picked this up though?

[2021-09-21 05:00] #1575 closed

[2021-09-21 05:19] sachinmk27 commented on #1671
Sure, will fix it.

[2021-09-21 07:30] ErikSchierboom commented on #1619
Indeed. It is definitely possible for `multiple-return-values` to be explained in a new `functions` exercise, but we would have to do careful analysis to see if the dependencies make sense. For now, the easiest fix is to explain `multiple-return-values` alongside `slices` in the "Card Tricks" exercise and then we can always move this concept to a different exercise later on.

[2021-09-21 07:50] ErikSchierboom commented on #1586
I also think `packages` is the better name 👍

[2021-09-21 10:01] junedev commented on #1671
@sachinmk27 Yes, exactly. At the very least the tests should pass for the new exemplar. Even better better would be when the tests still pass if someone changes the stub to the `var (...)` version.

[2021-09-21 11:18] ErikSchierboom commented on #1616
@andrerfcsantos We've removed the comparison requirement, as we're moving that to Cars Assemble (see https://github.com/exercism/go/issues/1611). I hope you didn't lose any work. If you had already started, you might want to indicate in the just linked issue that you could add the comparison concept to Cars Assemble

[2021-09-21 11:21] ErikSchierboom commented on #1645
See https://github.com/exercism/go/blob/ed630183cccef21791ca21da0ecaafc5b52f9118/exercises/concept/cars-assemble/.docs/introduction.md#type-conversion for the original type conversion introduction text.

[2021-09-21 11:22] ErikSchierboom opened #1675 "cars-assemble: remove `type-conversion` concept"
The `type-conversion` concept should be removed from the `cars-assemble` exercise. This involves:

- Removing it from the exercise's `concepts` in the `config.json`
- Replace the type conversion content from the exercise's `introduction.md` with a simple sentence how to convert from a float to an int and vice versa.

[2021-09-21 11:23] ErikSchierboom commented on #1611
@jmrunkle https://github.com/exercism/go/issues/1675 Has been added to the list of tasks.

[2021-09-21 12:10] #1616 closed

[2021-09-21 12:14] andrerfcsantos commented on #1611
Since the comparison concept was previously planned to one of the exercises I was looking into, I already started making it and can take care of that task.

[2021-09-21 12:32] ErikSchierboom commented on #1611
Perfect!

[2021-09-21 18:28] junedev commented on #1611
@jmrunkle That was a copy and paste error. I will fix it.

The comparison concept introduces >, ==, etc which needed in this exercise. That is why introducing it in black jack would be "too late" in the concept tree so Erik indeed meant for it to be added to cars assemble.

[2021-09-21 20:55] #1586 closed

[2021-09-22 00:20] awmorgan commented on #1558
@junedev @ErikSchierboom  how are you supposed to solve this problem now? The state of the last 3 cards has been removed. You need the 3 cards for the logic. I think the exercise should be updated.

[2021-09-22 05:47] jmrunkle commented on #1619
I am taking care of this issue. Not sure if the first comment on this issue should be updated to reflect that.

[2021-09-22 07:11] #1671 closed

[2021-09-22 13:01] ErikSchierboom commented on #1613
I'll get the basics setup, and someone else can do the Go coding.

[2021-09-22 13:13] ErikSchierboom commented on #1613
Quick tip: you don't need to remove the code blocks if you make sure the outer code block uses a number of backticks different from the inner code blocks.

[2021-09-22 13:17] junedev commented on #1613
@ErikSchierboom Thanks for the tip! I didnt know that and didn't had time to search for a solution before posting it.

[2021-09-22 13:20] ErikSchierboom commented on #1613
@junedev Isn't `strings-package` supposed to be introduced in https://github.com/exercism/go/issues/1596?

[2021-09-22 13:25] ErikSchierboom commented on #1613
Ah, I see that we might want to change that exercise.

[2021-09-22 13:47] junedev commented on #1613
@ErikSchierboom Yes, sorry for the confusion, I had to sort this out over the weekend before people work into the wrong direction. The issue was that since strings don't have methods and the index does not already correspond to the letter, you can't do anything meaningful with them without the strings package. That is why I moved that part from logs,logs,logs to here.

[2021-09-22 14:15] kahgoh opened #1678 "annalyn-filtration: heading in hints doesn't match task headings in instructions"
I noticed the hints for the _Check if the group can be spied upon_ and _Check if the prisoner can be signalled_ weren't showing on the exercism editor page.

I think this is because the headings for these tasks aren't the same in the exercise's `hints.md` and `instructions.md`. According to the [tracks/concept-exercises](https://exercism.org/docs/building/tracks/concept-exercises) page, the task h

[2021-09-22 15:07] #1619 closed, assigned to jmrunkle

[2021-09-22 17:56] sachinmk27 commented on #1617
I'd like to work on this

[2021-09-22 19:06] junedev commented on #1617
@sachinmk27 Thanks! I assigned you. I recommend you first check out the JavaScript exercise and also the `for-loops` concept in the JavaScript track (introduction and about). You can probably re-use a lot from there.

Note that this exercise/concept should NOT include `range`. This is covered in another exercise later in the concept tree.

[2021-09-22 19:35] junedev commented on #1643
We have noticed in the exercise teaching `zero-values` that it might not make sense to create a separate concept for `nil`. You can also just include the info in the `pointers` concept instead and have this exercise just teach `pointers`.

[2021-09-22 19:46] junedev commented on #1640
@ErikSchierboom Have you seen there is also the exercise Deep Thought which teaches errors? The "Deep Thought" exemplar looks more like what we are aiming for here to cover basic `errors` (we would just need to add a part for the customer error). Can you remember why you preferred "The Farm" for the September sprint list and do you know how the two exercises are related?

[2021-09-22 19:48] #1678 closed

[2021-09-23 02:12] jmrunkle commented on #1618
Last issue is blocked on an implementation of bird-watcher introducing for-loops.

[2021-09-23 02:13] jmrunkle commented on #1565
Stuck on this one until bird-watcher is implemented. I guess I can take that one since I need it to finish this one.

[2021-09-23 02:14] jmrunkle commented on #1565
Actually nevermind, that one is assigned to sachinmk27. Just waiting for that to be implemented.

[2021-09-23 02:15] jmrunkle commented on #1617
FYI: this is blocking #1565, so please comment on that issue once this is implemented.

[2021-09-23 03:51] antklim opened #1687 "scale-generator: chromatic scale with sharps or flats"
The first two test cases for `scale-generator` are:
[code]
From the task description, it's unclear how to choose a chromatic scale. Is there a rule that defines when given a tonic `X` then the base chromatic scale is `Y`?

Thanks

[2021-09-23 04:13] jmrunkle commented on #1645
This is blocked on https://github.com/exercism/go/issues/1638. Until then we cannot add an exercise that requires the `interfaces` concept. We can add it as `status: "wip"`, but configlet will complain if you try to enable the new concept exercise since its prereq is not taught by some exercise.

[2021-09-23 04:14] jmrunkle commented on #1640
I can take this one since it is blocking some of the work I need in another exercise.

[2021-09-23 07:08] ErikSchierboom commented on #1617
@sachinmk27 And let us know when you have any questions, we're here to help.

[2021-09-23 07:40] #1589 closed

[2021-09-23 07:41] #1590 closed

[2021-09-23 08:18] ErikSchierboom commented on #1640
@junedev I have no preference for The Farm over Deep Thought, it's just that The Farm was already there. I'd be fine with replacing it with Deep Thought. Whatever is best.

[2021-09-23 08:19] ErikSchierboom commented on #1643
Sounds like that might be better actually, seeing how people often struggle with pointers.

[2021-09-23 08:30] junedev commented on #1617
@sachinmk27 The increment and decrement operator was introduced as part of "arithmetic operators" concept in the exercise that teaches numbers. That means you dont need to introduce it here anymore.

[2021-09-23 08:42] junedev commented on #1640
@jmrunkle Maybe you can have a look at "deep thought" and judge yourself what you think fits best for the basic errors concept. The respective other exercise can be set to "wip" and then used for more advanced concepts like the error wrapping later.

Another comment for you as I don't know whether this came across from the description. The general idea here is to use a custom error type as an exam

[2021-09-23 09:20] andrerfcsantos commented on #1643
Just to be clear, this actually requires the implementation of a concept + exercise, right?

If so, what would be the requirements for the concept?

[2021-09-23 09:56] junedev commented on #1643
Yes, exactly. The introduction file of the exercise should cover the list that you find in the issue description. Then you can use that same content as introduction file of the concept. You can also copy the content into about.md of the concept and then think about whether you would like to add more detailed content/examples there etc. Also if some item on the issue description list is not needed

[2021-09-23 09:59] ErikSchierboom commented on #1643
@andrerfcsantos I'm in the process of adding a new exercise, so you can check my PR to give you an idea of what it looks like: https://github.com/exercism/go/pull/1680 Note that it's perfectly fine to create the exercise in a series of smaller, incremental PRs if you'd like that.

[2021-09-23 12:27] andrerfcsantos commented on #1643
@ErikSchierboom @junedev Thanks for the pointers. But I think I was not clear enough in my previous message, sorry for that. What I meant by "requirements"  is what concepts should come before this one, i.e what should we assume the student knows before getting to this concept. This would be relevant to know which examples of pointers we can include.

[2021-09-23 12:39] junedev commented on #1643
@andrerfcsantos 🙈 Sorry, totally misunderstood the question.

You can and should put "structs", "maps" and "slices" as prerequisites for this exercise so that you can talk about things like a slice already being a pointer etc. Also the student already knows about the primitive types of course. The student will learn about methods and pointer receivers AFTER this exercise so you should not go into

[2021-09-23 13:04] #1622 closed

[2021-09-23 15:56] jmrunkle commented on #1640
Will do.

[2021-09-23 23:04] jmrunkle commented on #1640
So... `deep-thought` looks really incomplete (no tests, partial instructions, lots of TODOs that need doing, etc). It seems we missing trackers for that on the September sprint overview (and sub-issues for the actual problems). @junedev @ErikSchierboom?

[2021-09-23 23:48] junedev commented on #1640
@jmrunkle The primary goal of the September Sprint is to get to a good basic syllabus. The focus was not on "cleanup/finish all existing/started exercises". For a  basic syllabus one exercise on errors would have been ok for now so Erik picked "the farm" and created this sprint ticket.

Once you decided to stick with "the farm" for teaching `errors` and developed a feeling for its content, feel fr

[2021-09-24 06:30] antklim commented on #1687
The issue is not relevant. After re-reading a description it becomes obvious what scale to choose. Sorry for the bother.

[2021-09-24 06:30] #1687 closed

[2021-09-24 11:17] #1613 closed

[2021-09-24 16:42] jmrunkle commented on #1640
Thanks for clarifying. `the-farm` seems to be more developed so I think I will continue this one and create some non-sprint issues for outstanding problems with `deep-thought` and what it should / could cover.

[2021-09-24 18:26] SaschaMann opened #1691 "string-formatting: Example might be wrong"
From the bug report dump on Slack

---

I think the example code is incorrect:

f := 4.3242
fmt.Printf("%.4", f)
// Output: 4.32

If the desired output is 4.32 given 4.3242, and you want rounding, then I think this is correct:

f := 4.3242
fmt.Printf("%.2f", f)
// Output: 4.32

For that matter, I think "f" is a confusing variable name given the Printf formatting operator "f". I would suggest "numb

[2021-09-24 18:44] #1585 closed

[2021-09-24 18:54] junedev commented on #1691
@bobtfish Would you have time to address this? You already worked on those concept docs.

[2021-09-24 19:28] bobtfish commented on #1691
Yep, I can fix this.

Thanks for the bug report @SaschaMann and thanks for tagging me @junedev

[2021-09-24 20:05] junedev opened #1694 "Debug docs don't mention "fmt" import"
The debug docs https://github.com/exercism/go/blob/ab614ba795c5cec9a28411f422a578cae5236f97/exercises/shared/.docs/debug.md explain which method to use but they don't that you have to import "fmt" and how to do that. So if a student wants to debug something in a very early exercise, just writing `fmt.Println` like explained in the docs will not work for them.

People reported issues with fmt.Print

[2021-09-24 21:07] #1691 closed

[2021-09-27 00:57] jmrunkle commented on #1645
I would be happy to take this one, but I am having trouble coming up with a good story for this one. I looked at the canonical stories list (https://exercism.org/docs/building/tracks/stories), but nothing jumped out at me.

The best I could come up with is you have some kind of sorting room which has to handle anything that is put in there. Some things have predefined results (eg. "This is a numbe

[2021-09-27 00:59] jmrunkle opened #1702 "`sorting-room`: fill out `type-conversion` concept documentation"
Everything inside concepts/type-conversion is basically empty right now.

[2021-09-27 01:03] jmrunkle opened #1703 "`sorting-room`: fill out `type-assertion` concept documentation"
Everything inside concepts/type-assertion is basically empty right now.

[2021-09-27 01:05] jmrunkle opened #1704 "`sorting-room`: teach about type-switch syntax"
Teach about this syntax:

[code]

[2021-09-27 09:32] scmbradley opened #1709 "Blackjack exercise: can't pass two aces test"
The `LargeHand` function inputs are `isBlackjack` and `dealerScore`, so one can't test for whether the player's hand is two aces. This means there's no way to pass the `TestFirstTurn` test `pair of aces`.

The `LargeHand` function should take the player's two cards as inputs, rather than just the boolean.

[2021-09-27 13:56] g-back opened #1710 "`cars-assemble`: add implementation of `successRate()` as a task"
Hi,
just did the exercise and found the instructions to be a bit confusing (but maybe that's just me?)

In the Instructions, it says:
[code]
To me this implies that the function `sucessRate()` has already been implemented - which is not the case. Seems to be a leftover of #1662

Suggestions:
- remove the above mentioned sentence
- Implemenation of `successRate()` should be added as the first task,

[2021-09-27 14:50] andrerfcsantos commented on #1643
Since no one seems to be claiming this one and we are near Oct 1, I'll work on this one.

[2021-09-27 15:10] junedev commented on #1704
@jmrunkle If you want you can also include this as part of the type assertion concept. Many tracks said that things are a bit easier if the concepts are not cut too small.

[2021-09-27 15:18] junedev commented on #1710
Your suggestion sounds like a good plan!

[2021-09-27 15:19] jmrunkle commented on #1704
Sounds good. I will do that since it simplifies things.

[2021-09-27 17:06] bobtfish opened #1714 "runes concept is missing an about and introduction"
These files are currently just a single TODO line and need writing / adding properly.

[2021-09-27 17:42] jmrunkle commented on #1710
Sorry, I had the task to fix this and completely forgot to update the documentation parts.

[2021-09-27 17:44] bobtfish opened #1718 "README references Travis CI and we no longer use that product"
Update the README to have the equivalent instructions / information for github actions instead.

[2021-09-27 17:49] jmrunkle commented on #1709
It is not impossible to pass. Our exemplar implementation certainly passes like this:

[code]

Two aces would have `false` for `isBlackjack` and therefore would return "P" which is exactly what the tests say we should return: https://github.com/exercism/go/blob/main/exercises/concept/blackjack/blackjack_test.go#L189

Why does this work? Because LargeHand is only called for a hand that is a blackja

[2021-09-27 17:49] #1709 closed

[2021-09-27 18:47] junedev commented on #1714
This is already part of this ticket https://github.com/exercism/go/issues/1614.

[2021-09-27 18:47] #1714 closed

[2021-09-27 19:20] bobtfish commented on #1642
I'll take this. I plan to try using the JS lasagna master exercise and I plan to *not* cover anonymous functions - I think that those deserve their own concept / introduction - trying to cram them in here is biting off too much at once.

[2021-09-27 21:13] #1655 closed

[2021-09-27 22:19] andrerfcsantos opened #1721 "card-tricks: tests are unnecessarily restrictive for nil empty slices"
In the `card-tricks` exercise, students are expected to create a slice of a given size, filled with the same value in all positions. A solution that can accomplish this and it is idiomatic is this:

[code]

However this solution fails the current tests, and the reason is a bit subtle. Some tests pass 0 as the length in the second argument. With this solution and with a length=0, this function will

[2021-09-28 05:06] #1721 closed

[2021-09-28 07:40] ErikSchierboom commented on #1645
I think that story could work fine. Maybe you could make it Santa themed and have the boxes be presents or something like that?

[2021-09-28 10:43] scmbradley commented on #1709
Thanks for explaining this! I actually did this exercise successfully in another language less than a month ago. I don't know why I suddenly had such a blind spot!

[2021-09-28 12:56] ErikSchierboom commented on #1710
Good catch @g-back!

[2021-09-28 13:14] ErikSchierboom commented on #1643
@andrerfcsantos Let me know if there is anything I can do to help.

[2021-09-28 13:16] ErikSchierboom commented on #1642
@bobtfish Let me know if there is anything I can do to help.

[2021-09-28 13:16] ErikSchierboom commented on #1617
@sachinmk27 Just out of curiosity: how is the porting going?

[2021-09-28 13:20] ErikSchierboom commented on #1612
@junedev Any thoughts on what exactly this exercise should teach? I know we should be teaching about `float32` and the various integer types other than `int`, but you mentioned advanced numerical concepts IIRC?

Also, do you have a suggestion for an existing exercise to port? I could use one of the C# exercises, but you might have a better idea.

[2021-09-28 16:54] jmrunkle commented on #1645
I was already pretty far into the implementation by the time I saw your comment there Erik so I am probably just moving forward with the sorting room idea rather than trying to refactor it to be about Santa. For the record, here is what the intro looks like so far:

---

Jen is working in the sorting room in a large factory. The sorting room needs to process anything that comes into it by categori

[2021-09-28 17:22] junedev commented on #1645
tbh I think a neutral theme is better than something related to a christian holiday that does not exist in some cultures

[2021-09-28 19:13] junedev commented on #1612
In JavaScript there is only "number" so I never looked for number type related exercises. I had a quick look now but most tracks are not that far into the syllabus yet it seems.

The integer exercise could work for Go as well but I would have to try it to be sure. That would cover all the integer related types.

Then we could expand the "interest" exercise a little to cover the two floats and intr

[2021-09-28 21:03] #1702 closed

[2021-09-29 05:53] sudomateo commented on #1614
I'm all good! Just added content to the `runes` concept today. I'll finish up the exercise content tomorrow or the next day. All the work is in https://github.com/exercism/go/pull/1707.

[2021-09-29 06:53] ErikSchierboom commented on #1645
True. The sorting room is perfectly fine.

[2021-09-29 06:55] ErikSchierboom commented on #1614
Great! Let me know when you'd like a review.

[2021-09-29 07:49] bobtfish commented on #1642
PR ready for initial review in #1720 - I think it's a reasonable first take, but any/all feedback appreciated as this is my first fill concept/exercise!

[2021-09-29 08:53] andrerfcsantos commented on #1643
While making this exercise, I noticed something that we must also add to the exercise, and that is to talk about pointers to structs. When we have a pointer to a struct in Go, we don't need to dereference it to access its fields - Go does that automatically. I think it'd be important to show this.

[2021-09-29 09:07] ErikSchierboom commented on #1643
That sounds like a good idea. There exercise with the `structs` concept  has only two prerequisites: `conditionals-if` and `numbers`, so I think you can safely add `structs` as a prerequisite. @junedev?

[2021-09-29 11:18] junedev commented on #1643
@ErikSchierboom Do you mean adding `pointers` as prerequisite?
I don't think that is necessary, it makes sense that structs are available rather early in the track. What @andrerfcsantos mentioned should be part of this exercise/concept (and this is also what he suggested I think). You don't need that information before you know how to create a pointer to a struct which is covered here.

[2021-09-29 13:35] ErikSchierboom commented on #1643
@junedev I meant the opposite. `structs` as a prerequisite of `pointers`

[2021-09-29 14:38] junedev commented on #1643
Yes, thats what I wrote above.

[2021-09-29 14:45] ErikSchierboom commented on #1643
Ehm, you wrote:

Or am I misreading? :D

Anyways, we both want to have `structs` to be a prerequisite of `pointers`.

[2021-09-29 15:52] sachinmk27 commented on #1617
Hi, have gone through the docs. Haven't been able to make time to implement it, hopefully should be done in the next couple of days. Is that okay?

[2021-09-29 16:31] junedev commented on #1643
I meant further above https://github.com/exercism/go/issues/1643#issuecomment-925771557

[2021-09-29 17:20] #1639 closed

[2021-09-29 17:31] #1703 closed

[2021-09-30 05:55] sudomateo commented on #1614
@ErikSchierboom #1707 is ready for review!

[2021-09-30 06:46] ErikSchierboom commented on #1643
Ah right

[2021-09-30 06:47] ErikSchierboom commented on #1617
Yeah sure!

[2021-09-30 08:58] kwiat1990 opened #1727 "Output in case of a test fail"
Hi, I've recently pick up Go on Exercism and one by one I try to go through all exercises. The web editor is great for this purpose but what's bother me, and I think also slows down quite a bit, are tests which failed. I feel like the messages are not clear enough and in some tests one doesn't even know what exactly failed.

An example of such test would be following output - in this case the "fai

[2021-09-30 09:50] ErikSchierboom opened #1728 "party-robot: update introduction"
The `party-robot` exercise unlocks the `packages` concept, but its `introduction.md` document does not explain what packages are (it does show how they can be used for the `fmt` package).

Firstly, the `introduction.md` document of the `party-robot` exercise should be updated to better explain what packages are. There is already content for this in the `introduction.md` document of the `packages`

[2021-09-30 09:51] ErikSchierboom commented on #1624
I'm re-opening this as we've identified one more improvement: https://github.com/exercism/go/issues/1728

[2021-09-30 10:05] ErikSchierboom commented on #1612
The interest-is-interesting exercise in C# uses `decimal`, which is a type specifically designed to be used with money (which the exercise uses) as it offers very high precision. I googled a bit and found that Go has arbitrary-precision numbers too: https://pkg.go.dev/math/big Do you think we would need to introduce that or could we use `float64` for the balance?

[2021-09-30 10:39] junedev commented on #1612
I would keep `big` and `complex` for separate exercises later in the track.

[2021-09-30 11:48] andrerfcsantos commented on #1643
When writing the `design.md` for the exercise I noticed we haven't discussed what concepts should this unlock.

When looking at the current tree I don't immediate candidates. Maybe this will unlock `functions` when that concept is available? Should this not have any unlocks for now?

[2021-09-30 11:58] junedev commented on #1643
@andrerfcsantos The "this exercise unlocks ..." part in the design file should list the concepts that are included with the exercise, so `pointers` in your case. You don't have to think about what comes after your exercise in the concept tree.

[2021-09-30 12:22] andrerfcsantos commented on #1643
@junedev Ah, totally misunderstood it. Thanks for clarifying.

[2021-09-30 14:26] ynfle opened #1730 "weather-forecast: Test don't test for recommended commenting style in instructions"
The following comment style recommendations aren't tested for:
- The [introduction](https://github.com/exercism/go/blob/main/exercises/concept/weather-forecast/.docs/introduction.md) mentions that comments should end in a period
- package-level variable should start with their name
- package doc comments should have the package name as the second word (after `Package` which is already tested for)

[2021-09-30 15:56] junedev commented on #1643
Yes, I meant maps and slices. You might be right this deserves another exercise but it might take quite some time until someone gets around to creating one. So I would recommend at least adding a short bit on this here for now. It can be moved/removed later.

[2021-09-30 16:22] #1710 closed

[2021-09-30 16:35] mcastorina opened #1731 "black-jack: LargeHand lacks card information"
https://exercism.org/tracks/go/exercises/blackjack

The large hand description states "two aces must always split", however the function signature provided only has

[code]

I think the API should be changed to the following so the function can check the cards. Either that or match `SmallHand` and provide the total score since `22` implies two aces.

[code]

Unless I'm missing something here..

P.

[2021-09-30 16:45] mcastorina commented on #1731
Turns out I was missing something :laughing:

[code]

It must be two aces if `isBlackJack == false`

[2021-09-30 16:49] junedev commented on #1731
I am reopening this to discuss whether there is something we can do here to improve the exercise. There was another issue opened for this before https://github.com/exercism/go/issues/1709.

[2021-09-30 17:50] mcastorina opened #1732 "chessboard: Rank and file a bit confusing"
https://exercism.org/tracks/go/exercises/chessboard

Having an illustration in the instructions would go a long way for people like me who get the X and Y axes mixed up all the time.
I flipped the implementation of `CountInRank` and `CountInFile` on my first attempt because of this.

Maybe mentioning that a list of ranks can be indexed by a file would help too, because I mistook the map key as bei

[2021-09-30 20:25] moshegood commented on #1559
This is done already.

[2021-09-30 20:30] jmrunkle commented on #1704
This is done between the exercise itself and the `type-assertion` concept

[2021-09-30 20:30] #1704 closed

[2021-09-30 20:54] jmrunkle commented on #1645
Woot, got that one out the door!

[2021-09-30 20:54] #1645 closed

[2021-09-30 21:06] jmrunkle commented on #1675
Already removed the concept from config.json, just need to update the introduction.

NOTE: I am not certain we could technically add `type-conversion` as a prereq because it may introduce a cycle since `cars-assemble` teaches a number of basic concepts and `sorting-room` requires `interfaces` which is a more advanced concept. We can always revisit that issue later.

[2021-09-30 22:00] andrerfcsantos commented on #1643
Ready to review #1724

I might to take another look at it tomorrow, but getting some feedback would be nice. This is my first exercise and I'm sure there are things to improve :)

[2021-10-01 03:59] ynfle opened #1736 "weather-forecast: The `introduction.md` refers to `function Test`"
Functions, in go, are declared in using the `func` keyword, therefore in code blocks, it should be, in my opinion:
[code]
or
[code]

[2021-10-01 05:41] ynfle commented on #1618
The instructions don't mention what to do with out of bound values (negative and `>= len(slice)`).

Should this be added?

[2021-10-01 06:01] #1675 closed

[2021-10-01 06:21] junedev commented on #1559
yes, I did this as part of https://github.com/exercism/go/pull/1682

[2021-10-01 06:21] #1559 closed

[2021-10-01 07:01] ErikSchierboom commented on #1645
Sweet!

[2021-10-01 14:09] IsaacG commented on #1731
Maybe spell out that large hand is only called when there is an ace and either a second ace or a ten card.

[2021-10-01 15:05] jmrunkle opened #1743 "card-tricks: instructions should mention what to do if indices are out-of-bounds"
ynfle:

This applies to most of the exercises.

[2021-10-01 15:06] jmrunkle commented on #1618
Added #1743

[2021-10-01 15:11] ynfle commented on #1618
Thanks @jmrunkle

[2021-10-01 15:18] angelikatyborska opened #1745 "Lasagna (basics) feedback"
Hi! I'm going through the very first learning exercise on the track as a student who has never written a single line of Golang before. I managed to get through it on my own without cheating, so that's great :) but I still have some suggestions for improvements.

Below might be a lot text, but the kind of changes that I am suggesting would be actually tiny, like adding an extra word here and there,

[2021-10-01 15:20] #1694 closed

[2021-10-01 19:27] ynfle opened #1746 "chessboard: Some issue with `chessboard` exercise"
- `(ret int)` syntax is used, but isn't introduced (as far as I know). This should be fixed by https://github.com/exercism/go/pull/1720, but I'm not sure if it will be a prerequisite
- Out of bounds values for ranks and files aren't specified

[2021-10-01 19:36] junedev commented on #1746
Regarding the first point: `functions` will be a prerequisite for `maps` with is a prerequisite for `range` (chessboard) so we are ok there. We still might want to change it though ...

[2021-10-01 19:39] ynfle commented on #1746
Ok. It's a really nice feature of go!

[2021-10-01 21:43] #1643 closed

[2021-10-01 21:58] junedev opened #1749 "Fix some prerequisites"
We need to add `pointers` as prerequisite for "elons toys" and "census" now that we have it. (#1724)

Additionally "logs, logs, logs" is missing `range-iteration` as prerequisite.

Now that `functions` is available, it should be a prerequisite for "gross store" (functions will replace the current "multiple return values" concept which is currently missing from maps anyway).

An update of both, con

[2021-10-01 22:48] ynfle opened #1750 "election-day: No mention of spec for `nil` argument to `VoteCount` function"
The test reveal that `0` should be returned

[2021-10-01 23:30] andrerfcsantos commented on #1750
Maybe I'm understanding what you are saying wrong, but the instructions for that task and the example given do tell what to do in the `nil` case.

[2021-10-02 04:54] #1743 closed

[2021-10-02 14:45] #1594 closed

[2021-10-02 14:45] #1595 closed

[2021-10-02 14:45] #1596 closed

[2021-10-02 14:45] #1614 closed

[2021-10-02 15:38] jmrunkle commented on #1617
@sachinmk27 - just checking in again since this is blocking one of my issues. As a note - it may be easier to work on if you break this down into a few smaller steps (rather than trying to do the full implementation at once). If the top level config.json has the status "wip" for this exercise it will not show up on the website (which can be useful for partial implementations). For example, you cou

[2021-10-02 16:45] jmrunkle commented on #1750
Yep: https://github.com/exercism/go/blob/main/exercises/concept/election-day/.docs/instructions.md#2-get-number-of-votes-from-a-counter

That pretty clearly says exactly what to do in the `nil` case for `VoteCount`.

[2021-10-02 16:45] #1750 closed

[2021-10-02 18:32] SaschaMann opened #1755 "Need for Speed: Apply minor improvements"
A few things I've encountered when solving the Need for Speed exercise:

- I can't solve the tasks in order due to `undefined: Track` errors. I have to do part of Task 1, then part of Task 2, then I can resume with Task 1. Since there's no extra knowledge required for defining the track struct, this could be moved into Task 1. Also related to https://github.com/exercism/go-test-runner/issues/48
-

[2021-10-02 19:00] bobtfish commented on #1745
This is great feedback.

Re `Functions: multiple return values` I think we should just remove this from the lasagna exercise and docs once PR#1720 is merged, as they're covered in much more detail (and with examples) in the functions concept + they're not needed for the basic lasagna exercise.

The other things you called out should definitely be addressed in this concept / example IMO.

I'll be h

[2021-10-02 19:11] SaschaMann opened #1757 "Weather forecast: test runner output is incomprehensible at this point in the track"
Example:

[code]

results in the test runner output

[code]

It's not clear what this means or what one has to do. It might be better to hide the `code run` for this altogether, or wrap it in some kind of `hasComment(...)` function as the only thing that's being displayed.

Perhaps a comment like Elixir's docstring exercise would help too:

[code]

[2021-10-02 19:12] SaschaMann opened #1759 "Weather forecast: Tests might be insufficient"
I suspect this falls under "asssume the student won't cheat", but this passes the tests but clearly not the spirit of the exercise. When following TDD-principles (which many Exercism tracks tend to do), this would be a sufficient solution:

[code]

Since Go comments follow a certain format, checking their content or at least that their content is non-zero might prevent this.

I'm not sure this is

[2021-10-02 19:15] bobtfish commented on #1520
This issue was fixed in commit 47d0f9aa

[2021-10-02 19:15] angelikatyborska opened #1761 "Cars Assemble / Arithmetic Operators introduction should mention types"
One of the hurdles of the Cars Assemble exercise is that you need to multiply a `float64` by an `int`. The introduction already explains how to cast types, but it doesn't mention that that is necessary when using arithmetic operators.

[2021-10-02 19:16] bobtfish commented on #1490
I'm not seeing this, I think we can close this one off @jmrunkle

[2021-10-02 19:25] bobtfish commented on #1381
Should this issue be closed, as the `range-iteration` exercise was merged a while ago :)

[2021-10-02 19:26] bobtfish commented on #1383
This should be fixed by #1720

[2021-10-02 19:38] SaschaMann opened #1763 "lasagna: error unclear when not specifying a return type"
[code]

results in the following error

[code]

It's not clear that this is a "Go-level error" rather than a task-level error. The error can be interpreted as "You're returning and int but the exercise expects `()`".

Clearing this up with a custom error message or some additional info might make it clearer for people coming from languages where return types aren't given in the signature. It's men

[2021-10-02 19:57] #1577 closed

[2021-10-02 19:57] #1490 closed

[2021-10-02 20:11] siebenschlaefer commented on #1490
At least for annalyns-infiltration I can confirm that the client now downloads a `go.mod` file.
The issue seems to be fixed. (But I haven't looked at all the other exercises.)

[2021-10-02 20:21] #1642 closed

[2021-10-02 21:07] junedev commented on #1745
@bobtfish Totally agree regarding multiple return values.

It would be great if you could give lasagna some cleanup.

I just had a longer discussion with @SaschaMann https://exercism-team.slack.com/archives/CC4UPN5KP/p1633203810038400.
We think there are two general things that would help to make lasagna and other "early" exercises better/easier for students:
1. Have proper stub file like e.g. thi

[2021-10-02 21:24] bobtfish commented on #1763
I'll claim / address this one as well.

[2021-10-03 00:33] siebenschlaefer opened #1767 "election-day: TestNewElectionResult does not test the function"
Currently `TestNewElectionResult` compares the input with the *expected* result:
[code]
That does not determine whether the *actual* `result` is correct.

[2021-10-03 01:10] ileossa opened #1769 "Party Robot: value not explicit"
We don't know that we need the value of the table in hexadecimal and upper.
Maybe rename the value ? Or adjust the exercise.

[2021-10-03 02:28] andrerfcsantos commented on #1769
Thanks for logging an issue.

The instructions do refer that the value must be in hexadecimal:

[source](https://github.com/exercism/go/blob/main/exercises/concept/party-robot/.docs/instructions.md?plain=1#L30)

Maybe you missed this part of the instructions? If so, what do you think it should be done so you wouldn't miss it?

[2021-10-03 02:51] #1767 closed

[2021-10-03 03:03] #1381 closed

[2021-10-03 03:27] #1520 closed

[2021-10-03 03:33] junedev commented on #1730
@SaschaMann also made the following point about this (#1759):

---
I suspect this falls under "asssume the student won't cheat", but this passes the tests but clearly not the spirit of the exercise. When following TDD-principles (which many Exercism tracks tend to do), this would be a sufficient solution:

[code]

Since Go comments follow a certain format, checking their content or at least that t

[2021-10-03 03:34] junedev commented on #1759
Added as part of #1730

[2021-10-03 03:34] #1759 closed

[2021-10-03 05:30] sachinmk27 commented on #1617
@jmrunkle Thank you. Will do it now.

[2021-10-03 08:27] andrerfcsantos commented on #1605
I can take care of this one - just waiting for all the concept exercises to settle down a bit before looking at this.

[2021-10-03 08:46] junedev commented on #1605
I noticed this as well, thanks for creating the issue. Regarding the target naming convention I would recommend just what you suggested in the second point: `Source: Title`

[2021-10-03 09:22] andrerfcsantos commented on #1371
I agree that removing the degenerate triangle test cases is the best option here.

Some students I mentored on this exercise got tripped up by this and were also confused.

[2021-10-03 09:31] sachinmk27 commented on #1617
@jmrunkle @ErikSchierboom I am sorry about the delay caused. Kindly review the draft PR.

[2021-10-03 09:58] chriseyre2000 opened #1776 "Party Robot does not test the table number"
It is possible to pass the tests with a hardcoded table number.

The instructions are confusing as to how to get from a number to a table 1B. I tried hardcoding it and it passed.

[2021-10-03 10:30] junedev commented on #1776
Exercise: https://github.com/exercism/go/tree/main/exercises/concept/party-robot

There are two tasks that should be done here:
- [ ] Improve the tests so that the exercise cannot be solved by returning a hard coded value.
- [ ] Improve the instructions so that it is clearer that the table number should be formatted as hexadecimal number. Maybe even add a short sentence explaining what hexadecimal

[2021-10-03 10:32] junedev commented on #1776
I will asked a new contributor who contacted me on Slack whether they want to work on this.

[2021-10-03 10:34] andrerfcsantos commented on #1776
@junedev In addition, I think we should also revise the hints for this exercise, as I don't feel they are specific enough to help solve the problem.

I'm also wondering if introducing hexadecimal formatting is worth for this exercise.

[2021-10-03 10:39] junedev commented on #1776
@andrerfcsantos Thanks for pointing this out. Do you have a good idea what to use instead of hex? Maybe just some padding, e.g. formatting 3 as 003?

[2021-10-03 10:41] junedev commented on #1769
We will use #1776 to track this issue.

[2021-10-03 10:41] #1769 closed

[2021-10-03 10:44] junedev commented on #1383
@bobtfish The current functions exercise only teaches a few things from the `Things to teach` list above. I would like to leave this issue open until we decided what to do with the rest/ created a new ticket etc.

[2021-10-03 10:53] andrerfcsantos commented on #1776
@junedev Padding a number with zeros seems an excellent alternative because 1) the student will probably use that more in their day-to-day coding in Go than hex formatting 2) we avoid either having to explain what hexadecimal is or assume that the student already knows what it is.

[2021-10-03 11:03] junedev commented on #1776
:+1: I updated the task list above accordingly.

[2021-10-03 11:04] #1581 closed

[2021-10-03 12:43] andrerfcsantos commented on #1588
I think this issue can be closed, as there was already a merge request addressing this https://github.com/exercism/go/pull/1726

New improvements for the hints of this exercise were suggested and are being tracked in #1776

[2021-10-03 13:09] omindu commented on #1560
@ErikSchierboom I have added a [PR](https://github.com/exercism/go/pull/1777). Do let me know if it is not the expectation.

[2021-10-03 13:54] junedev commented on #1588
I added checking the hints to #1776 as the hints for task 3 need to be rewritten there anyway. Closing this.

[2021-10-03 13:54] #1588 closed

[2021-10-03 13:56] #1560 closed

[2021-10-03 14:44] #1749 closed

[2021-10-03 16:49] bobtfish commented on #1728
I'm handling this

[2021-10-03 17:41] #1728 closed

[2021-10-03 17:51] bobtfish commented on #1624
This can be closed again. #1728 is done.

[2021-10-03 17:54] #1624 closed

[2021-10-03 18:04] junedev commented on #1736
Thanks for pointing this out. Additionally I think `Test` is a bad example there in general because this is how the test functions are called. Maybe use another example like `func Calculate` instead.

[2021-10-03 18:59] ynfle opened #1782 "elons-toys: issues"
- function aren't in order of tasks
  - `CanFinish` comes before `DisplayDistance` while their tasks are flipped
- no task for `Create` functions for `Car` & `Track` structs

[2021-10-03 20:15] #1644 closed

[2021-10-03 20:16] #1611 closed

[2021-10-03 20:38] #1371 closed

[2021-10-03 20:41] #1351 closed

[2021-10-04 03:19] Aballe7 opened #1786 "Annalyn's Infiltration - TestCanFreePrisoner"
// the prisoner can't be freed if it is sleeping.
annalyns_infiltration_test.go:244: CanFreePrisoner(false,false,false,true) = false; want true

//this is my first time writing issues here in github. so please bear with me.

[2021-10-04 04:29] Lewiscowles1986 commented on #1786
I think this is just a poorly worded example. Given the test-case I was able to deduce that either the prisoner needs to be awake, with both guards asleep or the dog awake (irrespective of prisoner); with the archer asleep.

Unfortunately this does make the exercise degenerate into some obscurist exercise in English grammar and language.

Either the language is borked or the test-suite is.

[2021-10-04 04:47] Lewiscowles1986 opened #1789 "Errors in Golang track not glanceable"
Just dry-running https://github.com/exercism/blog/blob/main/posts/exercism-is-the-official-go-mentoring-platform.md and noticed that the errors output seem to be the literal test function...

Fine for me, because I've been coding go for a few years. But for a person unfamiliar... I think YMMV

For a start a learner needs to be able to reconstruct the function call from the table tests (I love tabl

[2021-10-04 04:52] Lewiscowles1986 commented on #1789
The specific exercise that bit me was me rushing and being lazy, but https://exercism.org/tracks/go/concepts/slices

Locally I got the following error (because I'd forgot to bounds-check)

I didn't get this in browser when I omit lines to check for preExisting element at index

[code]

vs

[code]

[2021-10-04 04:58] junedev commented on #1789
Hi, thanks for the input.

Could you please paste what you saw in the browser instead?

[2021-10-04 05:03] junedev commented on #1786
We are discussing how to improve the instructions for this exercise over here: https://github.com/exercism/exercism/issues/6005

[2021-10-04 06:27] Lewiscowles1986 commented on #1789
https://user-images.githubusercontent.com/2605791/135803504-b3aaf158-9b2c-4ccb-960a-6fab40e34517.mp4
<details>
<summary>Textual output</summary>

[code]

</details>

[2021-10-04 06:30] Lewiscowles1986 commented on #1789
Interestingly. I Think it might be in that collapsed block, which leads me to question why the first test is not outputting helpful error messages. In any case I solved it because I can read go. I was checking out the new guided feature from the exercism blog, just to see how it would be for learners.

[2021-10-04 07:23] junedev commented on #1789
Thanks for the video. The issue you showed there is already reported here https://github.com/exercism/go-test-runner/issues/44 and the root cause for this is https://github.com/exercism/go-test-runner/issues/8.

[2021-10-04 07:23] #1789 closed

[2021-10-04 08:52] junedev commented on #1782
There are some more related issues with this exercise:

  - This is an exercise about methods that is available right after "Need for Speed". There, the student already wrote the NewCar function. Instead of requiring the same again here, NewCar should be part of the stub. As stated in the instructions this is a follow up for "Need for Speed".
  - The idiomatic name for CreateCar is NewCar so the i

[2021-10-05 04:20] mcastorina commented on #1731
Question: is there a reason `LargeHand` and `SmallHand` are split in this exercise? Perhaps a single function would make it more clear.

A mentor could also recommend writing private functions to organize the code better. The benefit of this approach is the learner can define `largeHand` and `smallHand` however they like.

[2021-10-05 06:35] ErikSchierboom commented on #1560
Thanks!

[2021-10-05 07:22] brandoncc opened #1799 "Should the table number really be hard coded?"
https://github.com/exercism/go/blob/4065546b0dde09d893967c067a70a67a0a11c44b/exercises/concept/party-robot/party_robot_test.go#L59-L66

The table number (27) is passed to the function, but not used. Instead, "1B" is the hard coded table number. That seems like an oversight?

[2021-10-05 08:32] andrerfcsantos commented on #1799
Thanks for the report.

We are looking into it in https://github.com/exercism/go/issues/1776

[2021-10-05 15:29] #1786 closed

[2021-10-05 15:45] #1745 closed

[2021-10-05 15:45] #1763 closed

[2021-10-05 17:33] junedev opened #1806 "Fix instruction "styling" for Annalyns Infiltration"
Since #1804 was merged, the different actions Annalyn can do now have different styling. One is italic, the others are normal font. I think that was not intended and it would be good to make all actions italic.

![image](https://user-images.githubusercontent.com/12543047/136072939-bd6ba3b1-f6f4-40e0-a290-443c25739979.png)

Source is here: https://github.com/exercism/go/blob/main/exercises/concept/

[2021-10-05 18:02] amarlearning commented on #1605
Hi, I was going through the slice documentation of Go Language [https://exercism.org/tracks/go/concepts/slices](https://exercism.org/tracks/go/concepts/slices). The `Learn more` text at the end of the document doesn't have any link.

![Screenshot from 2021-10-05 21-28-25](https://user-images.githubusercontent.com/9383897/136077945-e9bb4690-6c9b-4952-a584-2ece52cda3c9.png)

[2021-10-06 08:21] junedev commented on #1776
Added one more task above.

[2021-10-06 08:27] brandoncc commented on #1799
I just took a look at the other ticket and I see that I didn't realize `1B` was hex...which makes perfect sense to me now but that is an easy thing to miss. It would have been much more obvious if it was a hex number that was two letters, but I still might have been confused.

If there were two tests that expected different hex values, it would have led me to the correct implementation with hex.

[2021-10-06 19:07] andrerfcsantos commented on #1437
I think we should fix this. It can be really confusing for students to see a failure when their solution is correct.

@bitfield @jmrunkle There's even one more subtlety to this problem. Since it says that "Your solution must ensure that
every existing robot has a unique name", it encourages the names already attributed to be stored globally. The benchmark runs after the tests, but the tests consum

[2021-10-07 04:15] dstockto opened #1818 ""See what's changed" resulting in errors"
I got a number of outdated exercise warnings on various Go exercises. Some of them updated without issue, but quite a few are opening a nearly full screen loading spinner followed by a modal which says "Sorry - it seems that we can't work out what needs updating for this exercise. We've been alerted and will have a look.". This modal flashes and the console indicates the error boundary is being hi

[2021-10-07 04:36] junedev commented on #1818
@andrerfcsantos Are those the exercises where you added the cases file to editor.test maybe?

cc @ErikSchierboom

[2021-10-07 07:29] andrerfcsantos commented on #1818
@junedev I believe so.

I opened an issue a few days ago on exercism/exercism: https://github.com/exercism/exercism/issues/6010

One interesting case is the Allergies exercise. It had an update after that change, and because of that extra change, I was able to update it. But the changes to files.test seem to have the effect we intended.

While we don't get confirmation that this is maybe a bug sit

[2021-10-07 07:46] ErikSchierboom commented on #1818
This is indeed a known issue, where `files.editor` files are not included in the diff. I'll look into it.

[2021-10-07 09:25] ErikSchierboom commented on #1818
That sounds like a different error. I'll check

[2021-10-08 13:18] kahgoh opened #1825 "Raindrops: analyzer keeps saying variable should be declared & initialized on oneline"
In the raindrops exercise, the analyzer gives the following comment, even though the variable is already declared and initialized on one line:

This was the code in the iteration:
[code]

I also tried using `var result = ""` instead, but still got the same comment from the analyzer.

[2021-10-08 14:09] ErikSchierboom commented on #1818
I've looked into this, and here is what's happening:

- Commit https://github.com/exercism/go/commit/4065546b0dde09d893967c067a70a67a0a11c44b updated the `.meta/config.json` of the aforementioned exercises
- The exercise's Git SHA was updated to that commit's SHA (4065546b0dde09d893967c067a70a67a0a11c44b)
- The solution Git SHA remained the same, which is why you see the "The exercise has been upd

[2021-10-08 14:18] junedev commented on #1818
@ErikSchierboom Do you think this can be fixed soon-ish or should we perform some tiny change in all those exercises so at least  the diff process does not run into this error state anymore? That seemed to be a workaround, as noted in https://github.com/exercism/go/issues/1818#issuecomment-937529095.

[2021-10-08 14:29] dstockto commented on #1818
I'm not completely sure this is relevant but it sounds like it may be - if you're using the entire repository hash in order to determine the contents of subdirectories it might be better to try something that narrows it to just the subset you're looking at. I do the same for another project where a single project contains multiple UI apps and I use the hashes of combinations of directories and fil

[2021-10-08 15:30] Lewiscowles1986 opened #1826 "Golang chessboard output"
Following on from #1822 I was thinking that perhaps we could further enhance and help learners by outputting the chess-board for each test run.

@jmrunkle suggested creating an issue (which I should have really done before launching into a PR on hints :wink:)

I Noticed this when viewing the tests (not online editor)
https://github.com/Lewiscowles1986/go/blob/1f67dcc7ccf5b4acf3c8d80107ff6993d821f0

[2021-10-08 20:50] Lewiscowles1986 commented on #1826
I Also noticed that despite being told #1822 was correct, I still do not get hints https://exercism.org/tracks/go/exercises/chessboard/edit
This is unfortunate as it means I contributed a dud. Any assistance on verification prior to merging would be appreciated.

[2021-10-09 09:23] Lewiscowles1986 opened #1828 "Golang concepts: concurrency"
A few things I think might be missing from the go concepts are:

- Channels
- Goroutines
- Waitgroups
- `select`

What do others think about this?

[2021-10-09 09:31] #1828 closed, assigned to nobody

[2021-10-09 11:22] Lewiscowles1986 commented on #1390
👍  for

* [ ] goroutines
* [ ] waitgroups
* [ ] select
* [ ] channels

[2021-10-09 12:02] junedev commented on #1379
The topics mentioned in this issues are all covered in the current Concept Exercises.

[2021-10-09 12:02] #1379 closed, assigned to jamessouth

[2021-10-09 12:03] junedev commented on #1376
The topics mentioned in this issues are all covered in the current Concept Exercises.

[2021-10-09 12:03] #1376 closed

[2021-10-09 12:23] junedev commented on #1565
There is a problem with this task. It is very hard to make a sensible for loop exercise without slices. That is why the exercise that is currently in the making has slices as prerequisite. That means card tricks that teaches slices cannot have for loops as prerequisite.

I would recommend solving this by removing the for loop task from card tricks as this is much easier than removing slices from t

[2021-10-10 13:37] kahgoh opened #1834 "Need for speed: Tasking headings in hints.md does not match instructions.md"
I first noticed this while working on the Need for speed exercise - the hints for tasks 1 and 4 were not showing in the online editor.

[2021-10-10 14:46] #1834 closed, assigned to nobody

[2021-10-10 18:00] rootulp opened #1881 "Upgrade to Go 1.16+"
My solution to [tournament](https://exercism.org/tracks/go/exercises/tournament) passes locally but fails on exercism.com due to:

[code]

It looks like `io.ReadAll` was added in Go 1.16 per [this issue](https://github.com/golang/go/issues/44568#issue-815252790). However, the test-runner appears to run with Go 1.15 per https://github.com/exercism/go-test-runner/blob/b6393ab75da7b6bd6d0526e55608da8

[2021-10-10 20:35] sbromberger opened #1837 "Matrix: possible issue with instructions vs tests"
In [the test file](https://github.com/exercism/go/blob/main/exercises/practice/matrix/matrix_test.go#L6), we see

However, [the benchmark test](https://github.com/exercism/go/blob/main/exercises/practice/matrix/matrix_test.go#L274-L277) seems to require a `*Matrix, error` as a return value:
[code]
is this intentional? What is the proper signature for `New()`?

[2021-10-10 20:36] sbromberger commented on #1837
Related to #1499 but this doesn't seem to solve the issue that I'm having.

[2021-10-10 22:20] #1718 closed

[2021-10-11 13:46] sbromberger opened #1839 "Matrix: are the matrices one-indexed or zero-indexed?"
[The instructions](https://github.com/exercism/go/blob/main/exercises/practice/matrix/.docs/instructions.md) suggest they're one indexed, however, the tests appear to require 0-based indices:

[code]

[2021-10-11 15:02] junedev commented on #1818
This is the issue for showing multiple test files: https://github.com/exercism/exercism/issues/6033

This is the issue for the problem with the diff when new files are added: https://github.com/exercism/exercism/issues/6010

I am closing this one as we have those separate issues now and none of the issues are Go specific.

[2021-10-11 15:02] #1818 closed

[2021-10-11 16:53] sbromberger opened #1840 "Interest-is-interesting: negative interest rate on negative balances?"
I think this is ambiguous. Does this mean that if I have a negative balance of, say, ($100,000), then after one year I earn $3,213 on it, bringing my balance to ($96,787)?

If so, please name the bank that will let me take out a billion dollar loan on these terms :)

(I realize that the intent is probably to increase the size of the debt, but the way it's presented isn't clear.)

[2021-10-11 18:04] sbromberger opened #1842 "Interest is interesting: Fix float comparison logic"
The `Interest()` function unfortunately requires that the rates be in percentage, not decimal (i.e., "three percent" is `3.0`, not `0.03`), and in `float32` (as opposed to `float64`). This has the additional unfortunate consequence of introducing the student unfamiliar with IEEE 754 to the fact that
` n * float64(r) / 100` may not equal `n * float64(r / 100)`. (See https://play.golang.org/p/148rIM

[2021-10-13 02:17] ferueda opened #1844 "Elon's Toys exercise - Missing task instructions for two required steps/funcs"
https://exercism.org/tracks/go/exercises/elons-toys

On Elon's Toys exercise you are given instructions for four implementation tasks;

1. Drive the car
2. Display the distance driven
3. Display the battery percentage
4. Check if a remote control car can finish a race

But there are other two implementations that are required in order to pass the tests which are;

[code]

[code]

IMO, instructions

[2021-10-13 02:22] junedev commented on #1844
@ferueda Thanks for reporting but we already have an issue for this: https://github.com/exercism/go/issues/1782

[2021-10-13 02:22] #1844 closed

[2021-10-13 04:30] junedev commented on #1273
We have a concept exercise `savings-account` now that covers the topic of idiomatic enumeration. It just needs a bit more work before it can go live (see https://github.com/exercism/go/issues/1583).

[2021-10-13 04:30] #1273 closed

[2021-10-13 06:06] #979 closed

[2021-10-13 17:37] junedev opened #1846 "Add an automated PR comment"
Angelika created this great GitHub action that can generate PR comments depending on which files have changed in the PR.
https://github.com/exercism/pr-commenter-action

An example can be seen in the Elixir Track: https://github.com/exercism/elixir/pull/930#issuecomment-926567977

I was thinking about adding something similar for the Go track.
It could take care of the following things:
* Remind t

[2021-10-13 18:57] angelikatyborska opened #1848 "Need for speed: hint and exemplar mismatch with regard to `CanFinish`"
The hint says:

The exemplar solution says:

[code]

The exemplar solution doesn't assume that the battery is always equal to 100. It actually checks the battery. That feels more correct to me than what the hint suggests, but if that is supposed to be the desired solution, than I would suggest not only removing the hint, but also adding a new test case where the starting battery is less than 100.

[2021-10-14 09:29] bitfield commented on #1233
Thanks, @kwiat1990. Following your reference, Wikipedia says:

In your example, 4539 3195 0343 6467, the rightmost digit is the last 7. So we wouldn't double _that_ one, we'd double the _second_ digit as we move leftwards. That would be the 6, and every second digit thereafter.

So the exercise is correct, but as you and others have amply demonstrated, it's confusing! That's why I've suggested it

[2021-10-14 21:59] andrerfcsantos commented on #1846
Sound great!

Another little check I think it could be useful is that if the Pull Request is to fix a typo (maybe we can try to detect this by "typo" in the title), make sure that typo is fixed everywhere on the exercise files or even the whole repo. From the Pull Requests I've seen fixing typos, it's very easy for the PR author to fix just the place where they've seen the typo, but forget other f

[2021-10-15 03:32] junedev commented on #1848
@andrerfcsantos Re that test case, maybe I made a mistake mergin FYI Re that test case, maybe I made a mistake merging this then, the test looked different before: https://github.com/exercism/go/pull/1824 There is also a longer discussion about issues with the exercise in that PR.

[2021-10-15 08:02] #1848 closed, assigned to nobody

[2021-10-15 17:05] #1730 closed

[2021-10-16 14:49] junedev commented on #1840
The task here is to improve the instructions to remove the ambiguity mentioned above.

[2021-10-16 15:18] andrerfcsantos commented on #1839
Not sure if we should do something here. The instructions are according to [the spec](https://github.com/exercism/problem-specifications/blob/main/exercises/matrix/description.md) of the exercise and they never mention those numbers as being indexes. I don't think this is a source of confusion for students.

[2021-10-16 15:35] junedev commented on #1842
When dealing with large numbers, the comparison epsilon needs to be done in a relative fashion (pseudocode):
[code]
So the task here is to use that in the test code that compares the floats.
You might need to check if that works for all the small values as well in our case, its possible we need two different comparisons. (see e.g. https://github.com/exercism/javascript#running-the-test-suite)

[2021-10-16 17:49] junedev commented on #1757
The situation should be much better now that https://github.com/exercism/go/pull/1859 was merged. I am closing this and we will see whether a new issue comes up because further improvements are needed.

[2021-10-17 03:53] Lewiscowles1986 commented on #1826
Questions:

- Do you think it would benefit users to have this as part of hints, or inline for first iteration?
- Is there a way to test this locally?

[2021-10-17 10:05] voroskoi opened #1868 "Instructions for error-handling are not shown for the user"
Hi,

I have just tried to solve `error-handling` exercise and I have had a hard time with it. I wanted to open a PR for improving instructions to talk about named returns, type casting and recover() builtin function, as this knowledge would be quite useful for somebody trying to solve this issue.
It turns out that `.meta/description.md` has some hints, but it is not shown for the user. I think it

[2021-10-17 11:36] junedev commented on #1846
@andrerfcsantos The PR commenter is based on differentiating which files were changed so I am not sure it can currently handle this "do something depending on the PR title" logic right now. I added your suggestion as comment that always shows up for now.

[2021-10-17 12:28] andrerfcsantos opened #1870 "CI is silently skipping tests for exercises without a correctly named solution file"
I noticed the CI tests were passing even when there were errors in some PR's.  I found the root of the problem to be CI silently ignoring some tests if it didn't find the solution file it expected.

If an exercise is in a folder `something-something`, CI expects a `something_something.go` file for the solution. Not all exercises in this repo follow this convention, and for those the tests are effe

[2021-10-17 16:01] andrerfcsantos commented on #1870
That was also the PR that made me realize something was not right :D

[2021-10-17 17:09] #1870 closed

[2021-10-17 17:42] bitfield opened #1872 "Move cases_test.go content into <exercise>_test.go"
Mentors can't see test cases. I assume the student can see the test cases, as it would make life rather difficult for them if they couldn't, but I can't!

For example, I have a student asking:

Neither do I, as there's no way of seeing what the cases are. It's usual in Go to define your cases either in the test function itself, or at least in the same source file. Maybe we could do the same?

[2021-10-17 19:13] junedev opened #1873 "Elons Toys: Move Car and NewCar to separate file"
After merging https://github.com/exercism/go/pull/1863 I realized that there is one more improvement that could be made.

Currently `Car` is defined in the stub and `NewCar` in the test file which is not ideal and it means `NewCar` is not visible to the student on the website. What is more, `NewCar` is mentioned in the instructions.

This can be fixed by adding a new file (car.go or types.go) that

[2021-10-17 20:36] junedev commented on #1826
@Lewiscowles1986

**Regarding the exercise in general**
I thought a bit more about how to avoid the confusion which is rank and which file altogether. I realized that originally, one was labeled with numbers and the other one with letters. You can see this here: https://github.com/bobtfish/exercism-go/blob/a07d694538506b92150035c9ea8a1d45d3b4152f/exercises/concept/chessboard/chessboard_test.go
The

[2021-10-17 20:59] andrerfcsantos commented on #1868
Hi 👋

Glad you want to help!

You can check the [documentation for practice exercises](https://exercism.org/docs/building/tracks/practice-exercises) to know what are each one of those files. This exercise in particular is part of the [exercise specifications](https://github.com/exercism/problem-specifications/tree/main/exercises/error-handling).

Files in `.meta` are not presented to the student,

[2021-10-18 03:49] Lewiscowles1986 commented on #1826
I've updated the PR accordingly.

Lets park the mental model chat, as I neither agree nor have the time to fully explore it.

Thank you for your time reviewing, leaving breadcrumbs etc. Enjoy the week.

[2021-10-18 07:15] voroskoi commented on #1868
Hi,

It turns out that `.docs/instructions.append.md` is there, and it has every information needed. It just does not show up (at least for me).
I have checked the documentation, the file names are right, and they are in the right place. I have no idea what is going on.

[2021-10-18 07:16] #1732 closed

[2021-10-18 07:20] #1826 closed, assigned to nobody

[2021-10-18 07:48] andrerfcsantos commented on #1868
The instructions are supposed to appear in the editor, and they are showing:

![image](https://user-images.githubusercontent.com/6928620/137689419-31d06ac7-4739-4ec9-a8c7-f65478dfcd00.png)

[2021-10-18 13:11] #1846 closed, assigned to junedev

[2021-10-18 18:43] junedev commented on #1109
Closing this as it wasn't picked up in 3 years. In the v3 system, numeric limits are more a topic for the about.md file of some concept.

[2021-10-18 18:43] #1109 closed

[2021-10-19 19:22] #1840 closed, assigned to nobody

[2021-10-21 12:55] #1873 closed, assigned to nobody

[2021-10-22 18:31] junedev opened #1885 "Deal with (legacy?) ".meta/description.md" files"
Someone made a comment on [Slack](https://exercism-team.slack.com/archives/CAQP7JL3T/p1634923948039100) that some Go exercises have a `.meta/description.md` file that contains valuable information to solve the exercise.

Example "Linked List": https://github.com/exercism/go/blob/3acdd277236215bc4a47431e17c5210a40425ee8/exercises/practice/linked-list/.meta/description.md

This file is not part of t

[2021-10-22 19:36] junedev opened #1886 "[Discussion] Ideas for new Concepts"
### Concept Roadmap
There are already a lot of ideas for additional concepts that we could cover with concept exercises in the future.
You can find a list in our roadmap document: **[Roadmap - Potential Future Concepts](https://exercism.org/docs/tracks/go/roadmap#h-potential-future-concepts)**

We already created issues for the following new concepts:
- [x] https://github.com/exercism/go/issues/20

[2021-10-23 15:47] junedev opened #1892 "Allow additional custom tests in the generator"
For some exercises it makes sense to add some language specific test cases additional to what is listed in the [problem spec](https://github.com/exercism/problem-specifications) test cases.

Here an example where this would be helpful: https://github.com/exercism/go/issues/1451

Let's discuss ideas how to adjust the generator to incorporate additional test cases. The restriction should be that the

[2021-10-23 16:43] #1390 closed, assigned to hans-d, ZoltanOnody, sebito91, tehsphinx, mcaci, Prounckk, andres-zartab

[2021-10-23 16:43] #1389 closed, assigned to hans-d, ZoltanOnody, sebito91, tehsphinx, mcaci, Prounckk, andres-zartab

[2021-10-23 18:23] junedev opened #1893 "Add stub functions for practice exercises"
### Issue
Currently most practice exercises have empty stub files. That means the student always has to start the task with guessing the function signature by looking at the test file. That is frustrating for students, does not teach a valuable skill and is not the point of the exercise.

Examples of complains: https://github.com/exercism/go/issues/834, https://github.com/exercism/go/issues/842, h

[2021-10-24 13:06] sbromberger opened #1895 "simple-cipher: ambiguous instructions and conflicting files"
simple-cipher bundles two `.go` files - `cipher.go` which defines an interface and `simple_cipher.go` which holds a package definition. It is unclear what the purpose of `cipher.go` is - in fact, I didn't even see it there when I started the exercise.

Following on, there is no indication outside of `cipher.go` that the exercise is intended to teach/demonstrate interfaces. This should be clear in

[2021-10-25 14:30] denistsoi opened #1903 "Raindrops Exercise Test Error"
When running the test_cases for [Raindrops](https://exercism.org/tracks/go/exercises/raindrops/edit)

I get the following error log.
[code]

The affected file is [here:](https://github.com/exercism/go/blob/main/exercises/practice/raindrops/raindrops_test.go#L7)

[2021-10-25 14:33] #1903 closed, assigned to nobody

[2021-10-27 10:26] mcosta74 opened #1908 "robot-name does not clean used names on Reset"
In the `common_test.go` file there's a variable `seen` that keeps track of already seen names.

Unfortunately this variable is not updated when a robot is reset; this means that using a single robot and resetting it multiple times, it's possible to exhaust the available names.

This means that to pass the `bonus_test` the code should have the same bug (do not remove a name from the list of used on

[2021-10-28 11:43] andrerfcsantos opened #1911 "Tests being skipped instead of giving an error"
In the `kindergarten-garden` and `matrix` exercises, tests are being skipped (with `t.Skip()`) in situations where they should error, example:

[code]

We should investigate if these tests should really be skipped and possibly convert the calls to `Skip` to calls to `Fail`.

[2021-10-28 17:00] bitfield opened #1912 "robot-name: test runner fails with no output"
![Screenshot 2021-10-28 at 17 59 55](https://user-images.githubusercontent.com/142262/139301621-df2ae181-5bdd-4e85-a42c-873c8b35d0e0.png)

`exercism download --uuid=37138994b7ef4c7694e6bb844df801f8`

[2021-10-28 18:46] #1895 closed, assigned to nobody

[2021-10-28 20:18] #1885 closed, assigned to nobody

[2021-10-29 19:08] junedev opened #1915 "[Discussion] How to handle exercises that differ from the problem spec"
The Go track has a couple of exercises that exist in the [problem spec repo](https://github.com/exercism/problem-specifications) but the Go version differs from the problem spec version.

Here a list of the ones I saw (as part of https://github.com/exercism/go/pull/1913) and my proposal how to address them.

- [x] **accumulate**
  - The problem spec version of this exercise only works for language

[2021-10-30 17:37] junedev commented on #1638
@jmrunkle Could you give me an update whether I should unassign you or not?

[2021-10-30 20:51] ptillemans opened #1918 "POV: Change exercise from graph to tree logic"
[Original Issue Titel: **POV exercise passes all tests with a noop mandatory function**]

The `AddNode` function is mandatory however a noop implementation satisfies all the tests... Apparently the information passed in is never needed/tested.

here is my solution (I cannot find a way to link to it)

[code]

[2021-10-31 08:54] junedev commented on #1617
#1775 contains the work that was already done (80%). We need someone to finish this up.

[2021-10-31 10:45] junedev commented on #1918
You raised an excellent issue here. Indeed `AddNode` and `AddArc` are tied to a very specific implementation of the Graph struct, that is (as you demonstrated) not necessary to have to solve the exercise. Furthermore those two methods are used in the tests to construct the Graph without being properly testable themselves (without assumptions about the structure of Graph or other tricks).

I checke

[2021-10-31 21:46] #1617 closed

[2021-11-01 07:28] andrerfcsantos commented on #1918
For reference, I'll link the issue @junedev created in the problem specifications related to this: https://github.com/exercism/problem-specifications/issues/1874

We should keep an eye on that issue for potential changes in the `instructions.md` file.

[2021-11-01 08:22] andrerfcsantos commented on #1881
@junedev What problems do you anticipate from this upgrade?

The way I see it, it's just an upgrade in the Dockerfile of the test runner and with a script we can upgrade all the `go.mod` files to target a specific version. Do you have something else in mind?

As a general strategy, I think we should keep the test runner image always running the latest major release of Go.

Since the `go.mod` file

[2021-11-01 09:38] junedev commented on #1881
@andrerfcsantos There is no problem at all. I just meant that if we want to do this properly it is more work that changing one number somewhere and we didn't have much maintainer capacity at that point. (Remember that was before you even joined as maintainer.)

For me, a proper update would include the following tasks (incl. the version aspect you mentioned).
- [ ] update the dockerfile and go.mod

[2021-11-01 09:55] andrerfcsantos opened #1920 "atbash-cipher: quote strings in test output"
Right now the tests for the `atbash-cipher` exercise are printing the input and output strings as is:

[code]

This can make comparisons of the `test.expected` and `actual` strings a bit difficult, specially if the strings have trailing or leading spaces. This is relevant in this exercise since it requires building a string with spaces in it, and it's very easy for an almost-correct solution to ac

[2021-11-01 16:00] andrerfcsantos commented on #1915
- **accumulate** - I agree we should deprecate. A map operation on a slice is already asked in `list-ops`. I also agree that the name for this exercise is horrible. I remember doing this exercise for the first time and being extremely confused because of the name of the function - the instructions were suggesting a map, but the name of the function is suggesting having an accumulator of sorts.

-

[2021-11-01 16:15] #1920 closed

[2021-11-01 20:58] junedev opened #1924 "Accumulate: Deprecate exercise"
The `accumulate` exercise should be deprecated. See https://github.com/exercism/go/issues/1915 for details about why we want to do this.

The instructions how to do this can be found here: https://exercism.org/docs/building/tracks/deprecated-exercises

[2021-11-02 14:37] #1912 closed

[2021-11-02 14:38] #1908 closed

[2021-11-02 14:45] junedev opened #1925 "Phone Number: Set up instructions append"
The Go version of the [phone-number](https://github.com/exercism/go/blob/main/exercises/practice/phone-number/.docs/instructions.md) practice exercise differs slightly from the original in the problem spec repo: https://github.com/exercism/problem-specifications/blob/main/exercises/phone-number/description.md
In Go, the student needs to write two additional functions.

We want to get the instructi

[2021-11-02 15:40] junedev opened #1927 "Simple Cipher: Update exercise to match problem spec version"
The [problem spec description](https://github.com/exercism/problem-specifications/blob/main/exercises/simple-cipher/description.md) for **simple-cipher** expects the student implement just one cipher. The instructions are only divided into steps to guide the student to the solution.

The Go version currently has different instructions that require the student implement a different cipher per step

[2021-11-02 15:42] #1924 closed

[2021-11-02 15:46] junedev commented on #1915
I created the remaining issues. I will close this one. If someone has additional feedback later because they saw the post on Slack, please post it nevertheless.

[2021-11-02 15:46] #1915 closed

[2021-11-02 19:37] peterloane commented on #1927
The [problem spec description](https://github.com/exercism/problem-specifications/blob/main/exercises/simple-cipher/description.md) description reads

"Implement a simple shift cipher like Caesar and a more secure substitution cipher."

The "and" suggests at least two ciphers are to be implemented, a simple shift (substitution) cipher like Caesar, and an unnamed more secure substitution cipher.

S

[2021-11-03 04:55] junedev commented on #1927
@peterloane Sorry, my issue description was a bit misleading here. A student that follows the steps in the instructions would of course implement another version of the final cipher as an intermediate step. I just meant the final solution would only contain one cipher. I updated the issue description.

As for the exercise description in problem spec, I don't think the situation is quite as severe

[2021-11-03 10:53] andrerfcsantos commented on #1397
Is this still an issue? Seems ok:

[code]

[2021-11-03 16:44] junedev commented on #1881
@andrerfcsantos Another challenge we will have to solve once we have a generics (Go 1.18) exercise is that we currently run all the exercise tests on multiple Go versions in the CI pipeline. (https://github.com/exercism/go/blob/main/.github/workflows/exercise-tests.yml)

That means if a go.mod file would specify 1.18, that exercise would need to be skipped if, e.g. the test run is performed with 1

[2021-11-03 17:07] junedev opened #1931 "Linter failures are not picked up in the CI run on Windows"
If the linter that is executed via GitHub actions fails, this is correctly reported for Ubuntu and macOS. However, the run on Windows shows up as passed/green.

Example:
https://github.com/exercism/go/actions/runs/1417032474 / https://github.com/exercism/go/runs/4093326704 (not sure which link is "persistent")

I am not sure whether this also happens if the actual tests fail (e.g. because of a wro

[2021-11-03 17:26] andrerfcsantos commented on #1931
Thanks for opening this. I was about to open a similar issue :D

My first impression is that we are trying to run `./bin/fetch-golangci-lint` and `./bin/test-without-stubs` in Windows using powershell, but these are bash scripts. I have to check, but I'm under the impression powershell is just refusing to run them.

So, what I'm thinking:

- [ ] Investigate the problem further and see if it is ind

[2021-11-03 20:29] junedev opened #1934 "Separate concepts `conditionals-if` and `comparison` into their own new exercise"
## Getting started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2021-11-03 20:56] junedev opened #1936 "Cars Assemble: Rework exercise so it only covers `numbers` and `arithmetic-operators`"
:warning: Behold! This issue should only be tackled after #1934 was completed.

## Motivation
Currently, the concept exercise `cars-assemble` teaches 4 concepts. We want to split that exercise into one exercise that teaches `numbers` and `arithmetic-operators` (`cars-assemble`) and one exercise that teaches `conditionals-if` and `comparison` (`vehicle-purchase`).

Why?
* This would help getting th

[2021-11-03 20:59] junedev commented on #1936
Note for maintainers: Let's not set `x:` labels for this issue until it can actually be worked on.

[2021-11-03 21:22] peterloane commented on #1927
Hi @junedev thanks, the updated issue description makes things clearer.
I agree we don't need to hold off working on this issue until changes (if any) are made to the problem specification.

[2021-11-03 22:08] #1931 closed

[2021-11-04 20:32] junedev opened #1940 "Gross Store: Add additional test case for AddItem"
The current [test cases](https://github.com/exercism/go/blob/8ca15493141fc0a897d4c4a04ec79dd1336c3432/exercises/concept/gross-store/gross_store_test.go#L41) for AddItem in the concept exercise `gross-store` do not cover the case that an item is added more than once. That means, if a student uses `bill[item] = units[unit]` instead of `bill[item] += units[unit]` in their code, they still pass all th

[2021-11-05 09:04] andrerfcsantos opened #1941 "parallel-letter-frequency: have bigger test cases to show the benefits of concurrency"
On `parallel-letter-frequency`, one thing that often students find weird and talk about is how the sequential solution is often more performant than the concurrent one.

This happens because we have small test cases. Not only we have few strings for which to concurrently compute the letter frequencies, but the strings themselves are small. This makes the overhead of creating goroutines/channels/wa

[2021-11-05 09:28] andrerfcsantos commented on #1892
What about having a `canonical-data.append.json` in the `.meta` directory for the exercise?

[2021-11-05 14:25] junedev commented on #1892
@andrerfcsantos Great idea! That shouldn't be hard and the generator is in that directory already anyway.

So the task here is to change the [generator](https://github.com/exercism/go/blob/main/gen/gen.go) so that it checks whether `.meta/canonical-data.append.json` is present for the exercise. If it it is, the content should be combined with the content of the usual canonical-data.json file.

Gen

[2021-11-05 20:03] junedev commented on #1941
I am smiling about this a little because this is also what happens in real world scenarios a lot. People use channels and it gets slower. :wink:

Now to comment on the issue: I totally agree that it would be great that using channels actually makes sense when looking at the benchmark. The question for me is, how big (file size) do we need to make the test data so that the current solution is signi

[2021-11-06 20:58] jmrunkle commented on #1638
Sorry, still recovering from new baby. I'm nearly done with this so if you do not mind being a little patient, I can finish it.

[2021-11-06 21:16] junedev commented on #1638
@jmrunkle I know how that feels :blue_heart: and I would really like that you don't have this issue in your neck anymore. So if you don't mind, @andrerfcsantos offered to finish this up. If you could push whatever you have to some branch/ create a draft PR, he can pick it up from there.

[2021-11-07 01:18] andrerfcsantos commented on #1940
Closing this as the PR was already merged,

[2021-11-07 01:18] #1940 closed

[2021-11-07 01:27] andrerfcsantos commented on #1842
It seems we are already comparing to an epsilon: https://github.com/exercism/go/blob/main/exercises/concept/interest-is-interesting/interest_is_interesting_test.go#L10

Is there anything else to do here?

[2021-11-07 04:43] sbromberger commented on #1842
yes - the issue is that the epsilon needs to be proportional to the multiplicand, since the floating point errors are multiplied (and therefore magnified, exceeding the epsilon).

[2021-11-07 17:01] andrerfcsantos commented on #1638
@jmrunkle I don't mind waiting a bit more, but like June said, I'll happily finish this so you can have more time with your family!

[2021-11-07 17:27] andrerfcsantos commented on #1941
Did a quick test today and the good news is that our tests don't need to be that big for this difference to show up. These are the current tests on my machine:

[code]
Current `parallel_letter_frequency_test.go` size: 2277 bytes

I made the existing strings a little bit bigger and added a 4th one:

[code]

New `parallel_letter_frequency_test.go` size: 4189 bytes

So I think making this change is v

[2021-11-07 23:06] kahgoh commented on #1934
I'd like to work on this

[2021-11-07 23:22] andrerfcsantos commented on #1934
@kahgoh Glad to hear! I assigned this task to you. Don't hesitate to ask any questions you may have while doing this.

[2021-11-08 11:11] junedev commented on #1941
I think after our discussion on Slack this is ready to be worked on now.

Here are the tasks:
- [ ] In the test file, use texts that are roughly twice as long as the current ones and add a fourth entry of such length to the slice that is used for the test. (It would be nice to stick with the theme of having actual texts from different languages instead of "Lorem Ipsum" texts.)
- [ ] Use the soluti

[2021-11-09 13:35] #1842 closed

[2021-11-10 04:44] Lewiscowles1986 commented on #1617
Just a note on this. The third challenge text seems like incorrect English.

But in the example and tests, then the first day (offset 0) and then each odd day is expected to increment.

I would expect that the second day, would be odd days, not even in array-land, because of the zero offset.

    birdsPerDay := []int{2, 5, 0, 7, 4, 1}
    FixBirdCountLog(birdsPerDay)
    // => [3 5 1 7 5 1]

I thi

[2021-11-10 05:04] junedev commented on #1617
@Lewiscowles1986 Can you provide a PR with the new text you suggested?

[2021-11-10 07:04] Lewiscowles1986 commented on #1617
Sure if you think it will benefit. Mostly I wanted to 🦆 check this to see if it was reasonable.

[2021-11-10 19:48] junedev opened #1956 "Use `%q` in test failure messages that contain strings"
Currently, we often use `%s` or `%v` as formatting verbs when creating the test failure messages. That causes problems for students because due to the missing quotes around the strings, e.g. trailing whitespace is not visible. In some occasions this was fixed by manually adding quotes around `%s` because we were not aware that this can be done automatically by using `%q`. So we want to make use of

[2021-11-11 15:07] kahgoh commented on #1934
I have been looking at porting the tests from the Javascript version. I was wondering how closely does the exercise has to follow the Javascript version?

The reason I was asking is because I noticed in the Javascript version, the `ChooseVehicle` tests were expecting students to write a function that:
1. choose one of the vehicles from one of the parameters
2. return the chosen vehicle as part of

[2021-11-11 18:30] junedev commented on #1934
@kahgoh The additional part in the result in that task exists to discourage early returns (with that additional part they would lead to duplication). For chooseVehicle, I agree it doesn't make that much of a difference when a student sets one of the options as default at the beginning of the function. I still like that is is a little more involved than "return option2" and practices string concate

[2021-11-13 12:22] junedev commented on #1893
@PakkuDon Could you let us know whether you plan to work on the rest of the exercises as well or whether we should open this tasks up for other contributors?

[2021-11-13 18:02] #1925 closed

[2021-11-14 11:53] andrerfcsantos opened #1959 "grade-school: refactor tests to the conventional test structure"
Checking the tests for `grade-school` ([grade_school_test.go](https://github.com/exercism/go/blob/main/exercises/practice/grade-school/grade_school_test.go)), I noticed they are done in a very ad-hoc way and we probably should convert them to a more structured AAA (Arrange Act Assert) pattern like we are doing in the other exercises.

This is an example of the tests we have now:

[code]

My sugges

[2021-11-16 15:12] halfdan opened #1963 "Pythagorean triplets exercise could use more detailed explanation"
The current explanation for this exercise is extremely short and leaves the user (me) guessing what is exactly expected in the three functions that are presented. I've personally done this exercise in at least 2 other languages where the tests were sufficient to figure out what was expected. For Go, it's unclear what Sum/Range should do. I also found that Sum is sensitive to the order in which the

[2021-11-16 18:42] junedev commented on #1963
@andrerfcsantos Do you know what the other two functions are supposed to do and if yes, could leave a note here in the ticket so this task becomes easier for a contributor to work on?

[2021-11-16 21:45] andrerfcsantos commented on #1963
The [stub we provide](https://github.com/exercism/go/blob/main/exercises/practice/pythagorean-triplet/pythagorean_triplet.go) already provides a good description of what those functions should do, but it wouldn't hurt to maybe add them to the `instructions.append.md`:

https://github.com/exercism/go/blob/89661d04e7a6b78e6c51e18f05c87de9e835ab22/exercises/practice/pythagorean-triplet/pythagorean_tr

[2021-11-16 23:25] kahgoh commented on #1936
I'd like to take this one on (following on from #1934).

[2021-11-17 07:52] halfdan commented on #1963
Interesting - I must have been on an old version of this exercise as neither the downloaded files nor the editor showed me comments on those functions.

[2021-11-17 08:31] andrerfcsantos commented on #1963
This was a rather recent change: https://github.com/exercism/go/pull/1917

Did you start the exercise before November?

If you started an exercise a while ago, but still want to get these changes, the best thing to do is to open the editor, click on the 3 dots and chose "Revert to exercise start", which will force the editor to update to the most current changes (Exercism does this because it does

[2021-11-17 14:10] halfdan commented on #1963
I've since completed the exercise after (correctly) guessing the intent behind those functions, but I'll note that I don't remember being prompted on the website to update to a more recent version of the exercise (which I have seen on other exercises).

I think the original request still stands even with the code comments. All other exercises on the Go track so far had a list of instructions on wh

[2021-11-17 14:36] KalebHawkins opened #1965 "Vehicle-Purchase exercise typo"
In the Vehicle Purchase exercise there are repeat occurences of the word `Licence`.

I believe in some cases this may be a grammatical error and the correct spelling should be `License`.

A License is a permit granting authority to own or do something. Where as Licence is the act of granting a license.
So for example in the stub file the `NeedsLicence(kind string) bool`. Should probably be `NeedsL

[2021-11-17 15:47] jkisor commented on #1731
Dropping by to share my experience with this exercise. I was stumped for similar reasons to #1709.
The thought in my head was "How do i know I have 2 aces if i don't have access to what my cards are?"

It's a little indirect to be a process of elimination based on assumptions of **when** the function is called or not called. While technically correct, I think it distracts from the goal of the exer

[2021-11-17 16:15] junedev commented on #1731
@jkisor Thanks for the input! If there is no major difficulty/complexity hidden in FirstTurn currently, then your suggestion sounds like a good plan.

[2021-11-17 16:21] #1965 closed

[2021-11-17 18:16] junedev commented on #1963
I will leave this issue open. The task here is to move the instructions from the stub file into instructions.append.md.

General information about practice exercises can be found here if needed: https://exercism.org/docs/building/tracks/practice-exercises#Files

[2021-11-18 17:49] fyrchik opened #1967 "error-handling: ensure `Close` is called only once"
Related to #1939 .

The exercise requires the usage of `defer` (the code can panic). This in turn raises a questions about some inner workings of `defer`.

Answering to the comment in PR: https://github.com/exercism/go/pull/1939#issuecomment-961216677

In one of the solutions I have mentored there was something like this:
[code]

1. Knowing how multiple `defer`s are executed in case one of them ha

[2021-11-20 16:12] andrerfcsantos commented on #1967
Thanks for clarifying!

I'm now convinced this is a good change.

[2021-11-20 16:13] MayrJo170211 opened #1968 "List Ops: undefined func"
https://github.com/exercism/go/blob/8de5b265ce06df2057e1c4d7e0a0bd9a2fb92ba6/exercises/practice/list-ops/list_ops_test.go#L11

[code]

[2021-11-20 16:26] #1967 closed

[2021-11-20 16:29] #1893 closed

[2021-11-20 16:53] junedev commented on #1968
Good point. The following type definitions were removed from the stub but they should also be removed from the tests (replaced with the actual definition instead of the custom type):
[code]
Alternatively, these could be put back in consistently.

[2021-11-25 18:01] #1934 closed

[2021-11-27 16:09] chubin opened #1972 "Non-zero values returned wit non-zero errors in `protein_translation_test.go`"
This test here

https://github.com/exercism/go/blame/main/exercises/practice/protein-translation/protein_translation_test.go#L145

seems to be incorrect, at least this is not idiomatic in Go, return values with non-nil errors.
There is one important exception, sentinel errors (like `io.EOF` for example), but here it is not the case, as far as I can judge.

Maybe we should not encourage learning wr

[2021-11-28 00:57] khrome83 commented on #1233
I am starting this exercise now and I believe the reason for the confusion @kwiat1990 is that in the first of the example, they show less digits than the actual card number.

`79927398713` is the full number, the `3` is left off because that is the checksum.

So the idea here is that the sum should be evenly divisible by the 3 with no remainder.

Few questions that I think I can easily figure out

[2021-11-28 10:01] IAmSurajBobade opened #1974 "Chessboard: Instructions need improvement"
https://github.com/exercism/go/blob/d213d8ddc46022c99e12ab11ed15122132240dd0/exercises/concept/chessboard/.docs/instructions.md?plain=1#L3

No mention of how a chessboard value is set. Please read the instructions once again, the explanation and instructions are not clear.

[2021-11-28 17:52] andrerfcsantos commented on #1972
I agree.

The task here is to correct the test. When the function returns an error, we should check the error and ignore the resulting slice. Alternatively, we can check if the resulting slice is `nil` or empty when an error occurs, but I think just checking the error is enough.

[2021-11-28 17:54] andrerfcsantos commented on #1974
What specifically do you think should be changed so the instructions are more clear?

[2021-11-29 09:55] bitfield commented on #1233
I think the Wikipedia page is probably not helpful here. Perhaps the best thing to do with the exercise instructions is to add the same kind of clarification that Wikipedia does:

[2021-11-30 02:10] LeamHall commented on #1731
The definition of "Small Hand" is "less than 21 points", which does not match a pair of aces. Some of us think literally, and that can cause confusion if we're trying to following specifications that don't work. Which is real life, but this is a learning exercise.  :)

If we're going with @mcastorina 's suggestion then we probably need to work on the instructions, too. So far several of the code c

[2021-11-30 16:32] andrerfcsantos commented on #1638
@jmrunkle Can you give us an update on this?

[2021-12-02 19:34] jmrunkle commented on #1638
I just turned my in-progress code into a draft PR: #1976

I have lost a bit of context on where exactly I had left this, but I will try to make it complete today.

[2021-12-02 19:43] jmrunkle commented on #1638
Looks like the main thing that was missing was to copy the intro material about interfaces into the intro for the exercise. Let me patch that in and then send the PR out for review.

[2021-12-02 20:39] junedev commented on #1638
@jmrunkle To avoid further delays (students keep asking for this), I would suggest @andrerfcsantos can directly push small fixes to your branch if anything comes up instead of writing review comments and waiting for them to be resolved. This way it can be merged quickly. If you object, let us know.

[2021-12-02 21:13] ppmasa8 commented on #1972
I am trying to solve this problem. Am I correct in saying that what I need to fix here is to make the tryptophan in L145 an empty string?

[2021-12-02 21:33] junedev commented on #1972
I would recommend to use `nil` instead of an empty slice as nil is the zero value of that variable/field.

[2021-12-03 00:01] jmrunkle commented on #1638
Sounds fine to me. I don't mind either way

[2021-12-07 14:48] #1972 closed

[2021-12-09 02:56] ppmasa8 commented on #1968
I'm going to try to solve this problem, but I have one question. The type of the first argument of Foldl is different between list_ops.go and example.go, which one should I use?

**list_ops.go**
[code]
**example.go**
[code]

[2021-12-09 09:08] andrerfcsantos commented on #1968
If we are going to remove the custom types, they should also be removed from the example, which means using the full form of the type `func(int) bool` everywhere.

[2021-12-09 12:11] #1968 closed

[2021-12-12 13:03] #1638 closed

[2021-12-12 14:47] #1636 closed

[2021-12-12 14:47] #1640 closed

[2021-12-12 15:34] junedev commented on #1974
I am closing this since there was no feedback. Happy to re-open in case we get more info.

[2021-12-12 15:34] #1974 closed

[2021-12-12 15:52] #1963 closed

[2021-12-12 16:01] junedev commented on #1755
The open todos here are:
- [ ] The introduction should clarify when a constructor (`NewXY`) makes sense.
- [ ] Add a note in design.md that the analyzer should check whether a loop was used and if yes, recommend to try to calculate instead. (Other than that, it is totally fine if someone "researches ahead" and uses a different approach I think.)
- [ ] The parameter name is `track` and the specific

[2021-12-12 16:13] junedev opened #1984 "[Overview] Improve existing Concept Exercises"
This is a tracking issue for the concept exercises that need some cleanup or improvement.

- [ ] https://github.com/exercism/go/issues/1936 (claimed)
- [ ] https://github.com/exercism/go/issues/1755
- [ ] https://github.com/exercism/go/issues/1731
- [ ] https://github.com/exercism/go/issues/1583 & https://github.com/exercism/go/issues/1584
- [ ] https://github.com/exercism/go/issues/1579
- [ ] htt

[2021-12-12 16:16] junedev commented on #1396
A recommendation from the maintainers of other tracks (who already completed this task) was to fill all prerequisites first. Then a small script can report a list of concepts and their related exercises. That list can be used as a starting point to think about which concepts to set in "practices". For example, there might be 20 exercises that have "strings" as prerequisite but only max. 8 should h

[2021-12-12 23:41] ynfle opened #1985 "`type-conversion` concept & `sorting-room` exercise only display one return value for `strconv.Atoi`, but there are 2"
- Go documentation
  - https://pkg.go.dev/strconv#Atoi
- Links to files
  1. https://github.com/exercism/go/blob/c5ab85f211ed381cf50d4af76642a6769e8dc234/concepts/type-conversion/about.md?plain=1#L36
  2. https://github.com/exercism/go/blob/c5ab85f211ed381cf50d4af76642a6769e8dc234/concepts/type-conversion/introduction.md?plain=1#L20
  3. https://github.com/exercism/go/blob/c5ab85f211ed381cf50d4af7

[2021-12-13 03:09] #1985 closed

[2021-12-13 10:03] junedev commented on #1565
There are more things around card tricks that need to be fixed. I am closing this issue and create a new one that fits the current state of things.

[2021-12-13 10:03] #1565 closed

[2021-12-13 11:09] junedev opened #1989 "Create new Concept: Variadic Functions"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-12-13 15:02] junedev opened #1990 "Card Tricks: Adapt to current concept tree progression"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-12-13 17:59] hshahsahebi opened #1995 "Census: No test for manually setting street as its zero-value"
Exercise defines a method on the `Residence` struct called `HasRequiredInfo`. It returns true if `Name` property and `street` key of `Address` property are not set as their zero-value.
However, there is no test to fail if I set `address["street"] = ""`

[2021-12-13 18:28] #1995 closed

[2021-12-13 20:27] junedev opened #1997 "Implement new Concept Exercise: Error Wrapping"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-12-13 20:40] junedev opened #1998 "Implement new Concept Exercise: Type Parameters (aka Generics)"
In February 2022 Go 1.18 will land and include generics. I am sure students would love it if we could provide a concept exercise on that soon after the release. This is dummy issue for now in case someone wants to volunteer for preparing such an exercise.

The new features might also require more than one exercise. If someone has a good idea how to split things up, we could do that.

## Getting St

[2021-12-14 14:28] #1361 closed

[2021-12-16 16:40] stmllr opened #2004 "Sylabus Errors: introduction misses link references"
The introduction on https://exercism.org/tracks/go/concepts/errors says:

I guess the missing reference is https://stackoverflow.com/a/50333850 which is mentioned in exercises/concept/the-farm/.docs/introduction.md

The line-of-sight link also misses the reference

[2021-12-16 18:50] #2004 closed

[2021-12-17 13:36] Eptarch opened #2007 "Lasagna Master requires for-loops before they are taught"
The exercise "Lasagna Master" requires the student to know about for-loops which are taught later.

[2021-12-17 13:58] junedev commented on #2007
Haha, great. I was just reading an item on my todo list that said "check which exercises are missing `for-loops` as a prerequisite". Your report answered that question, so thanks for that. I will make the PR shortly.

[2021-12-17 17:19] #2007 closed

[2021-12-19 18:27] junedev opened #2011 "The Farm: Improve introduction"
Follow up from #2009

The tests for "The Farm" currently don't cover what should happen when a negative fodder amount and a non-scale error is returned. Go's general guideline is to not use the result if there was an error so passing on the error takes precedence over handling the negative amount.

## Tasks
- [x] Add a test case for a negative fodder amount and a non-scale error. The expected outc

[2021-12-21 17:13] telemachus opened #2013 "Recommend `errors.Is` instead of `==` for testing sentinel errors?"
The [current introduction to Errors in Go](https://github.com/exercism/go/blob/aab8c439abfa989fdf779fe42ac6d2eef6341136/concepts/errors/introduction.md?plain=1#L93-L101) recommends using `==` to test for sentinel errors, but I think that the community recommends using [`errors.Is`](https://pkg.go.dev/errors@go1.17.5#Is) instead.

For example, from the docs for [`errors`](https://pkg.go.dev/errors@

[2021-12-22 17:59] jmrunkle commented on #2013
The difference in meaning is really subtle. We do not really go into error wrapping in the current exercise so I am not convinced we should change it without also introducing the concept of error wrapping. @junedev?

[2021-12-22 18:46] junedev commented on #2013
There were some discussions around this an the consens was that it is good to also know how to not unwrap so we are teaching this here. Also people need to learn about == since it is still used in a lot of code bases.

Since also covering error wrapping properly in this exercise would have been too much content, there will be a separate exercise for this, see issue #1997. @telemachus It would be g

[2021-12-22 19:03] #2013 closed

[2021-12-22 19:08] junedev opened #2016 "Sorting Room: Add test case"
The `DescribeAnything` function is supposed to be able to handle `int`s but this is currently not covered in the test cases: https://github.com/exercism/go/blob/aab8c439abfa989fdf779fe42ac6d2eef6341136/exercises/concept/sorting-room/sorting_room_test.go#L145-L176

A test case for this should be added. Its probably good to explicitly mention the type in value for `input` to avoid it only works due

[2021-12-22 20:23] #2016 closed

[2021-12-22 21:44] telemachus commented on #2013
@jmrunkle Maybe I'm confused, but I'm not sure why this is necessary. Even if an error is not wrapped, doesn't `errors.Is` work? If that's so, can't this exercise recommend using `errors.Is` without mentioning wrapping?

To respond to @junedev's point ("people need to learn about == since it is still used in a lot of code bases"), I agree that `==` should be mentioned. How about this as a compromi

[2021-12-23 09:05] junedev commented on #2013
@telemachus `errors.Is` will work for non-wrapped errors like in the exercise but it will always unwrap for wrapped errors. I am not a fan of setting up this exercise in a way that it pretends `errors.Is` does nothing out of the ordinary because it is not true. I think it makes more sense to properly explain error wrapping first and then introduce errors.Is together with errors.As and explain the

[2021-12-23 11:32] telemachus commented on #1997
Two notes (per #2013)

1. When this lesson is done, [the original errors lesson](https://github.com/exercism/go/tree/main/concepts/errors) should be edited to include a forward reference to this lesson for more details about errors.
2. This lesson should include a note that `errors.Is` is recommended instead of `==` unless there is a specific reason *not* to unwrap the error.

See the discussion i

[2021-12-23 11:32] telemachus commented on #2013
@junedev Thanks for the detailed explanation. I hadn't thought of cases where people would not want the unwrapping behavior, so that helps. I'll leave a note on #1997 to edit this exercise after that one is written.

[2021-12-24 12:59] bitfield opened #2021 "Bank Account: race detector not run"
Solution 88c019dd66f14fd088b1fbc26af734e8 does not obtain the mutex when calling Balance, yet the tests pass. For this exercise, the tests need to be run with the `-race` flag to catch data races.

[2021-12-24 15:53] andrerfcsantos opened #2022 "sorting-room: TestExtractFancyNumber doesn't fully test for incorrect type"
In the `sorting-room` exercise, the `ExtractFancyNumber` function must check the type of the argument given:

However, the tests still pass with this function that doesn't check any type. Just checking if `Atoi` returns an error is enough:

[code]

This happens because the only test we have that tests a non-FancyNumber value is also a test that provides an invalid string number, which makes `Atoi`

[2021-12-26 12:16] junedev opened #2027 "Improve linter setup for this repo"
Someone reported an error that could have been caught by staticcheck (https://github.com/exercism/go/pull/2023). We should investigate whether we can improve the linter setup for this repo so such errors are caught by the CI before the code is merged.

[2021-12-26 12:20] junedev commented on #2021
Thanks for the hint! The test runner currently does not include this capability. I created an issue for this in the test runner repo: https://github.com/exercism/go-test-runner/issues/62 Once that issue is addressed, we can use the capability for the bank account exercise.

[2021-12-26 21:05] andrerfcsantos commented on #1579
After two PR's being merged with small improvements to this, we are slowly getting there, we know have a small story/motivation to add the comments.

I personally would like for the story to be developed a bit more, by making the tasks refer to directly to the story in some way, instead of just having the task description.

[2021-12-27 13:34] #2022 closed

[2021-12-27 16:14] junedev commented on #2011
A quote from @andrerfcsantos on Slack regarding the topic of the open task here:

This means that n theory, when you return an error, you can return anything in the other values - those other values aren't supposed to be looked at anyway because you are returning an non-nil error. But returning the zero value makes the code easier to read, as you are signaling there's nothing special going on ther