[2021-12-28 19:19] fmmatheus opened #2035 "booking-up-for-beauty: misleading example for output format on exercise 5"
### Description

Exercise 5:

[code]

Function signature:

[code]

### Issue

The output example suggest a formatted time `2020-09-15` which will require a `string` type, when the function signature requires a `time.Time` output. Based on exercise instructions, students will use the function `time.Date()`, which will return a different output.

### Suggestion

Use the output for `time.Date()` and

[2021-12-28 19:45] junedev opened #2036 "Lasagna Master: Improve task 3 (AddSecretIngredient)"
Lasagna Master was ported from JavaScript. Task 3 (`AddSecretIngredient`) was meant to make the student practice that in some cases the argument can/will be modified and the modification is visible outside of the function. In contrast, in task 4 the student practices NOT to modify the argument.

Because of the 1to1 port from JavaScript, the practice goal for task 3 got lost because currently `appe

[2021-12-28 19:53] andrerfcsantos commented on #2035
Good catch, thanks for bringing this to our attention.

I agree with changing the output to `2020-09-15 00:00:00 +0000 UTC` as it is what calling `String()` on a date will output. Along with a clarification that the time of day doesn't matter, might be worth to reinforce that the output is a `time.Time` representing a date.

[2021-12-28 20:00] junedev commented on #2035
I would be fine with this change as a quick fix. Long term we should think about maybe changing the task so that a string is returned there which is really `2020-09-15` and teaching `time.Format` that way.

[2021-12-28 20:03] junedev opened #2037 "Implement new Concept Exercise: Regular Expressions"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-12-28 20:26] junedev opened #2038 "Implement new Concept Exercise: Randomness"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-12-29 10:06] #1936 closed

[2021-12-29 14:01] tehsphinx opened #2041 "Unclear why exercise is locked"
In this case it is not clear why an exercise is locked.

![image](https://user-images.githubusercontent.com/6624571/147669831-509ff6f8-ad12-49c6-b2cd-81f2253e02d1.png)

I checked the dependency json and there are a lot more deps not connected in the graph. Is there something that can be done about that?

[2021-12-29 14:22] andrerfcsantos commented on #2041
That is a good point.

In that particular situation, do you know which of the dependencies is blocking the Maps concept?

[2021-12-29 15:30] ilmanzo opened #2043 "Make generators run under new directory structure"
run-generators script is not aware of the new directory structure; seems it expects to find all exercises under exercises/* , while they have been splitted in concept, practice, shared folders.
When ran manually, each generator gives error about missing import
[code]

[2021-12-29 15:59] andrerfcsantos commented on #2043
Thanks for opening an issue about this.

At a quick glance, the problematic line seem to be this one:

https://github.com/exercism/go/blob/4ed2ad1680b80ea55d0cf13aaa4fb2f675d40932/gen/gen.go#L108

Since generators only make sense for practice exercises, seems to me a quick fix for now would be to add `"practice"` to that path, but other things might have changed too.

[2021-12-29 16:13] jmrunkle commented on #2041
That looks like an issue with the graph rendering rather than something specific to the go repo.

The maps concept has 5 prerequisites: https://github.com/exercism/go/blob/4ed2ad1680b80ea55d0cf13aaa4fb2f675d40932/config.json#L165-L169

Only the last one (functions) is being shown in the UI. It is missing all of the others like "conditionals-if" and "numbers". I think this issue belongs in a compon

[2021-12-29 18:01] #2035 closed

[2021-12-29 18:24] junedev commented on #2041
This is intentional to avoid too many lines in the concept tree, see https://exercism-team.slack.com/archives/GC3K95MRR/p1639488266184100?thread_ts=1639483090.183400&cid=GC3K95MRR on Slack.

In the hover box it should say what is needed to unlock.
I will close this issue.
In case someone has a big problem with the current state, feel free to open an issue in exercism/exercism.

[2021-12-30 10:10] tehsphinx commented on #2041
@junedev: I kind of expected this to be intentional, to not overload the graph with too many lines. The problem is, that the hover box does not show any information on prerequisites either.

![image](https://user-images.githubusercontent.com/6624571/147742074-7b0224af-cfe6-419e-8af6-230afdaecdf5.png)

As a student who doesn't know where to look in the config files, I currently can't find a way to

[2021-12-30 10:19] junedev commented on #2041
@tehsphinx Can you clarify what you mean by "the hover box does not show any information on prerequisites". The hover box screenshot you posted says that you need to unlock "Conditionals Switch". Is that not correct?

[2021-12-30 10:52] tehsphinx commented on #2041
Oh, right. Didn't see that as I was expecting like a list of items needed to unlock this. My bad 😁

[2021-12-30 10:52] #2041 closed

[2021-12-30 16:49] andrerfcsantos opened #2046 "Minesweeper: deviance from problem specs and other tweaks"
I noticed the Minesweeper exercise deviates from the problem specs in a way that is not documented. The [original exercise](https://github.com/exercism/problem-specifications/blob/main/exercises/minesweeper/description.md) asks the student the student to fill each square of a board with the number of mines adjacent to that square. The Go version of the exercise deviates from this spec by adding a

[2021-12-30 18:46] junedev commented on #2046
I went digging around a bit and I found out that the exercise was added to the Go track 8 years ago when the canonical test data for this exercise did not exist yet. The description in problem spec at that time contained the border and it was removed from there 2 years ago: https://github.com/exercism/problem-specifications/pull/1602. The canonical test data never contained the border.

In conclus

[2021-12-30 22:24] fmmatheus opened #2047 "elons-toys: minor tweaks needed"
### Description

Minor tweaks found on `elons-toys` concept exercise:

1. Typo on `README.md` file, line 56. "On" instead of "own":

2. Wrong return example on items 2 and 3. Instructions and tests require `string` type return:

[code]

3. Tests are sorted differently from the exercise order:

[code]

### Suggestions

1. Simple typo fix
2. Either remove the returning `string` type and require stud

[2021-12-31 06:57] KroidHunt opened #2049 "Exercise Tournament not passing test cases"
_I apologize if this issue is not supposed to be posted here._

Hello all,
I have a solution that returns the expected output for the Tournament exercise but the test cases are not passing.
I am not able to ask for help on Exercism as I haven't been able to submit a solution yet.

Here is my solution:
[code]

And below is the output I get when I submit the solution.
[code]

[2021-12-31 07:50] andrerfcsantos commented on #2049
Your solution is printing a final newline that shouldn't be there. This is not easy to see because of the way we currently output the tests. But if you were to change the line in the tests:

https://github.com/exercism/go/blob/fddd098d153121ae0d302ec1ae91f73655e57a3c/exercises/practice/tournament/tournament_test.go#L120

To:

[code]

The output would better showcase the difference:

[code]

We hav

[2021-12-31 07:57] KroidHunt commented on #2049
Thank you @andrerfcsantos for pointing out the issue. I have solved the exercise!

[2021-12-31 07:57] #2049 closed

[2021-12-31 08:03] andrerfcsantos commented on #2047
These are good points.

1. I'll probably change the text to something simpler like "they will receive a copy...". I don't think "own" is clear language, as it is open to interpretation and in other languages it has a different meaning, i.e, in Rust variables can be owned by functions, but that is not related with copy (at least directly).
2. I would just change the example
3. Sound good.

[2021-12-31 22:05] andrerfcsantos opened #2050 "Run Length Encoding: Add Benchmarks"
I noticed the `run-length-encoding` is missing benchmarks.

Benchmarks for this exercise have been requested by users before, and it's one of the exercises where it actually makes sense to have them.

The exercise requires some string building, and benchmarks can help to tell the difference between solutions using simple string concatenation + conversion of runes to string and solutions that just

[2022-01-01 08:54] #2050 closed

[2022-01-01 15:58] #2047 closed

[2022-01-02 06:52] andrerfcsantos commented on #2043
I took a look at this issue and my previous comment is wrong. The line I mention above refers to a path in problem-specifications that did not change. I got the generator working for an exercise, here's the changes that need to me made here:

- [ ] The import path to the generator in `exercises/practice/<exercise>/.meta/gen.go` needs to be updated. Currently it refers to `"../../../gen"`, but sinc

[2022-01-02 19:37] #2043 closed

[2022-01-02 21:13] andrerfcsantos opened #2055 "Generator ignoring `include=false` of `tests.toml`"
`include=false`  is a directive that can be used in the `tests.toml` file of exercises to tell the tooling that a particular test is not implemented by the track. However, the test generator is ignoring this attribute when generating the tests, when it shouldn't:

from [problem-specifications](https://github.com/exercism/problem-specifications#track-test-data)

I ran into this issue when going thr

[2022-01-02 21:21] andrerfcsantos opened #2056 "Implemented tests not matching `tests.toml`"
The [saddle-points](https://github.com/exercism/go/tree/main/exercises/practice/saddle-points) exercise implements [4 tests](https://github.com/exercism/go/blob/main/exercises/practice/saddle-points/saddle_points_test.go), however [tests.toml](https://github.com/exercism/go/blob/main/exercises/practice/saddle-points/.meta/tests.toml) specify a lot more. There are probably more exercises in this si

[2022-01-03 04:46] sougat818 commented on #2036
Hi @junedev , I would like to work on this.

[2022-01-04 00:21] #2036 closed

[2022-01-04 09:54] ErikSchierboom opened #2060 "🤖 Sync error for commit b65cf8"
We hit an error trying to sync the latest commit (b65cf84250b5aeeb038af3c8c8b07a59a8ed1de0) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2022-01-04 09:55] ErikSchierboom opened #2061 "🤖 Sync error for commit b65cf8"
We hit an error trying to sync the latest commit (b65cf84250b5aeeb038af3c8c8b07a59a8ed1de0) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2022-01-04 09:55] #2061 closed

[2022-01-04 09:55] #2060 closed

[2022-01-04 11:21] andrerfcsantos commented on #2060
@exercism/maintainers-admin Is there any action needed from us here?

[2022-01-04 11:26] ErikSchierboom commented on #2060
There isn't, which is why I closed it. Sorry!

[2022-01-12 17:18] Eptarch opened #2067 "parallel-letter-frequency: steep learning curve"
First of all, thanks for Exercism, it's an awesome tool to learn new programming language.

I have just ended the torture and cheated my way out of the parallel-letter-frequency exercise. It was my 33rd exercise in Go track and I find it to be **the worst** I had so far in terms of understanding what to do.

I'd like to illustrate my point:
1. Check out example solution at https://github.com/exerc

[2022-01-12 20:08] junedev commented on #2067
@Eptarch Thanks for pointing this out. We launched v3 of Exercism a bit more than 3 month ago. v3 theoretically allows us to define which learning exercises need to be completed before a practice exercise will be unlocked. Currently, we are working on creating these learning exercises for the different concepts. The ones related to concurrency are not created yet, see our roadmap https://exercism.

[2022-01-12 20:38] andrerfcsantos commented on #2067
@Eptarch Thanks for our feedback. It's always great to have the feedback of people going through the track and talk about their pain points. This allow us to make things better, that's why I appreciate the time you took to let us know about your experience.

This is on us. Right now, we don't have any concept exercises teaching about this stuff, which I understand that does require someone to lear

[2022-01-15 20:07] lburnett88 commented on #2067
Hello,

I just completed this was some mentoring from my boyfriend, and agree it was harder to work out on my own. However the bigger problem was that my first solution wasn't actually concurrent, I had incorrectly used a range loop and set the functions off sequentially - but still passed all tests.

My boyfriend pointed this out, but looking at community solutions it looks like lots of people fe

[2022-01-15 20:30] junedev commented on #2067
@lburnett88 Thanks for leaving a note here.
In theory, you are supposed to use the benchmarks to check whether your solution performs better then the sequential solution. That will tell you how good you leverage concurrent execution. However, currently the test cases are not very good for this. We have a separate issue about this here: https://github.com/exercism/go/issues/1941
Unfortunately, we c

[2022-01-15 20:37] junedev commented on #1941
In #2067 @lburnett88 pointed out that a lot of community solutions are not really concurrent and the tests past whether there is a concurrent solution or not. We probably can't fail near-sequential solutions in the test runner but we could add instructions in the instructions.append.md file how students working locally can check themselves whether they did it properly using the benchmarks.

[2022-01-15 20:56] andrerfcsantos commented on #2067
@lburnett88  Can you share with us what such a sequential solution looks like or an example of a published solution that is sequential but passes the tests? I went through the first page of the most starred solutions (30 solutions) and all of them use goroutines. The same happens when searching for the newest solutions.

[2022-01-15 20:58] #2067 closed

[2022-01-16 16:36] ssilva opened #2070 "logs-logs-logs: Some details potentially missing in hints.md and introduction.md"
I am not sure whether these are by design (i.e. we want the user to search the Go docs) or just an oversight, but after going through the exercise, I feel that:

1. in [hint #2 (`hints.md`)](https://github.com/exercism/go/blob/b00b970fdcc9be8120a312258b446b903fdb0d66/exercises/concept/logs-logs-logs/.docs/hints.md?plain=1#L9), it should be mentioned that a `rune` must be first converted before it

[2022-01-16 17:20] andrerfcsantos commented on #2070
Thanks for bringing this to our attention!

1. Indeed, the hints should mention how to convert a rune to a string, since the solution will very likely use it. Looking at the whole file, the hints for task 3 could probably also get more love and be me more complete.
2. I agree. I can see how someone new to Go can be confused by seeing the `utf8` being used and seemingly coming from nowhere.

[2022-01-16 17:45] lburnett88 commented on #2067
@andrerfcsantos My first solution [here](https://exercism.org/tracks/go/exercises/parallel-letter-frequency/solutions/lburnett88) - it does use goroutines, but each goroutine ran one at a time as I'd used a channel to block the result, so although using goroutines it wasn't actually parallelised/concurrent.

@junedev thanks. I tried to get exercism running locally, but struggled with the instructi

[2022-01-16 17:57] andrerfcsantos commented on #2067
@lburnett88 Ah, I see, thanks for sharing. However, I'm not sure if we can solve that particular mistake by adding something to the instructions. I feel like this exercise has a lot of little details that can really benefit from a mentor, and asking for a mentor review is probably the best thing to do for now while we don't have the exercises practicing these basic concepts separately.

Meanwhile,

[2022-01-16 19:34] #1941 closed

[2022-01-17 09:45] tehsphinx commented on #2067
@lburnett88: Just a note on the solution: The goroutines are not running one at a time. Only the results are sent back one at a time. If the `Frequency` function would do a lot of work (like a few seconds of work, and there'd be not too many of them), that would distribute the work to all available CPUs just fine :)

[2022-01-17 14:54] #2070 closed

[2022-01-21 10:50] bitfield opened #2075 "Test runner does not catch panics"
Solution ec84829229e74e1da9828f67823637c9 to 'Tree Building' is not correct, but the test runner shows a pass. Running the tests on my machine produces:

[code]

[2022-01-21 14:23] andrerfcsantos commented on #2075
Hi @bitfield

Can you post the code of the solution that gives that result here please? I don't think we can access it just with the uuid.

[2022-01-23 20:49] junedev commented on #1990
I noticed another thing regarding this exercise. It would be good if `SetItem` would have a test case that checks that the student did not copy the slice.

[2022-01-24 11:52] shakhzodkudratov commented on #1990
@junedev maybe it will be better to include more articles in the syllabus concepts. The student should understand them and not need to check them in tests.

[2022-01-24 19:07] shakhzodkudratov commented on #1974
Unclear how to build structs

[2022-01-25 19:38] junedev commented on #1990
@shakhzodkudratov As I explained in our mentoring session, the conceptual understanding how the slice is passed to the function here should come from the functions concept (exercise "Lasagna Master"). I will make a separate issue regarding improvements there.

Additionally, when we add that test case I mentioned, we can use the hints to help out students where that new test case might fail.

[2022-01-27 07:10] Lewiscowles1986 commented on #2011
To be quite honest, I think this might be a problem with the errors introduction, that it does not support or show learners the "Handle specific errors, but defer others" explicitly.

[code]

I Was most frustrated as I did not see language I recognised as saying "Hey, we want to handle this error, but early exit all others."

I'd in-fact read the exercise as "We will only expect this error".

How

[2022-01-27 19:50] junedev commented on #2011
@Lewiscowles1986 You raise a good point there. However, I think what you are bringing up is unrelated to the open task in this issue. It would be great, if you could open a new issue instead and copy your comment in there. Then we can discuss a bit more in that new issue.

[2022-01-30 15:52] junedev commented on #2011
This issue and #2080 lead me to the question whether it is such a good idea to have the unusual pattern of "continue working with the result even though there was an error" as part of the concept exercise. As this is very rare, it might not be a good fit for the concept exercise that first introduces the student to the errors concept. It might even set a bad example. @andrerfcsantos How do you fee

[2022-01-30 18:36] myworkcircle commented on #1373
Hey guys,
Im a goloang developer, and also a learner from you website. I want to contribute to this issue

[2022-01-30 18:44] myworkcircle commented on #1989
I would like to contribute to this issue, can anyone help ne how can i start, can i simply clone and contribute to the issue, or do i need certain permissions?

[2022-01-30 19:12] junedev commented on #1989
@myworkcircle Thanks for volunteering for this task! You don't need any special permissions but you need to fork the repository first before you clone it. Then you work on your fork and create a PR from there to the original repo. If you are not familiar with the flow, here is a good introduction that explains this step by step: https://www.digitalocean.com/community/tutorials/how-to-create-a-pull

[2022-01-30 19:17] junedev commented on #1373
@myworkcircle It would be great if you could help out with this issue too but maybe it makes sense you work on the smaller one (https://github.com/exercism/go/issues/1989) first and see how you get along and once that PR is done and you developed a feeling for the work that needs to be done, you can work on this issue. Is that ok for you?

[2022-01-31 17:29] myworkcircle commented on #1373
sure, fine with me. Thanx a lot

[2022-02-01 12:42] andrerfcsantos commented on #2011
@junedev I agree we should change the exercise to not use the normal result of the function even though there was a non-nil error. Not only is a bit unrealistic like you said, but it might also unnecessarily make the exercise more complex.

I think the idea is to show how to check for specific errors, but that's probably best done in the Error Wrapping concept.

[2022-02-01 14:00] chillycurve1 opened #2084 "Typo on the "About Go" page"
Hello all,

Was just getting started on the Go track when I noticed that the [page](https://exercism.org/tracks/go/about) showing the advantages of Go had an error:

![image](https://user-images.githubusercontent.com/37170946/151982077-09ddab8b-1bd4-4b90-8348-4edd78801018.png)

I couldn't find the source code for that particular part of the page on Github, but I'd be happy to make a pull request i

[2022-02-01 19:33] andrerfcsantos commented on #2084
Hi,

Thanks for reporting this!

That text is present in the `config.json` file of the exercism/go repository:

https://github.com/exercism/go/blob/4eb89758649ad4b1cbd78beb151341da7e04fd5b/config.json#L2084-L2086

However, these lines contain more text than what's being displayed there. If I reduce the page width, the full text appears:
![image](https://user-images.githubusercontent.com/6928620/15

[2022-02-01 19:36] chillycurve1 commented on #2084
Thanks for checking it out. If that's the case, it might be present on other languages' pages, as well.

[2022-02-01 19:48] andrerfcsantos commented on #2084
@exercism/maintainers-admin This is probably a better fit for exercism/exercism. Can you transfer this issue to there?

[2022-02-01 20:23] davidandradeduarte opened #2085 "Wrong mention of current domain being golang.org"
In https://exercism.org/tracks/go/concepts/basics there's a mention to `golang.org` being the current domain, which isn't true at this point, since `go.dev` is the new domain.

Should be rephrased to:
... _Golang because of its **previous** domain name, golang.org, but the proper name is Go._ ...

[2022-02-01 20:29] junedev commented on #2085
Good point. Would you like to provide a PR?

Here are the files where this needs to be changed:
- https://github.com/exercism/go/blob/main/concepts/basics/introduction.md
- https://github.com/exercism/go/blob/main/concepts/basics/about.md

[2022-02-01 20:45] #2085 closed

[2022-02-02 03:52] Lewiscowles1986 commented on #2011
So, While I think this should leave this exercise, I also think it could be a separate exercise to wrapping, which to my mind serves a different purpose and ***is not*** *encapsulation*.

Encapsulating an error and providing domain-specific knowledge / behavior is it's own standalone take on errors to wrapping. It is not a general concept, that people have a nephew who can't be fixed / changed che

[2022-02-04 17:13] shakhzodkudratov opened #2088 "sorting-room: wrong test case"
I wrote:
[code]
and got:

![image](https://user-images.githubusercontent.com/37299109/152573008-9330df35-6f47-4d0b-bfb9-a9f5c8bac994.png)

[2022-02-05 18:06] #2088 closed

[2022-02-05 18:56] junedev commented on #1989
Did you find your way around in the repo? Let me know in case you have any more questions.

[2022-02-05 19:08] junedev commented on #1881
@andrerfcsantos I think this can be closed now, correct?

[2022-02-05 19:19] junedev commented on #1881
Re the issue I mentioned above (https://github.com/exercism/go/issues/1881#issuecomment-959705810), I think the matrix tests with multiple Go versions don't really add much value for Go because of the compatibility promise. So if we change the the exercise-tests.yml file to only run with the latest Go version, we can be sure all solutions can be compiled.

That said, I think this means this issue

[2022-02-05 20:09] andrerfcsantos commented on #1881
That's a good idea of testing just the latest version. I'd say to keep the tests on multiple platforms.

I kept this open due to the open PR in the analyzer (https://github.com/exercism/go-analyzer/pull/26), which I've updated now. Once that PR is merged we can declare the upgrade completed and close this.

[2022-02-05 20:21] junedev commented on #1881
Yes, multiple platforms are fine in the test of course. I just meant only having one entry for the version in the "matrix".

[2022-02-05 21:24] andrerfcsantos opened #2089 "Remove old Go version tests from CI"
As suggested by @junedev in https://github.com/exercism/go/issues/1881#issuecomment-959705810, we should stop running the tests with older versions of go in our CI.

Right now in [exercise-tests.yml](https://github.com/exercism/go/blob/main/.github/workflows/exercise-tests.yml) we have a matrix of tests that runs the tests with some older versions of Go.

Due to the [Go 1 compatibility promise](ht

[2022-02-05 21:25] andrerfcsantos commented on #1881
I merged the analyzer PR, so I'll close this one.

Made an issue for the removal of old versions from CI: https://github.com/exercism/go/issues/2089

[2022-02-05 21:25] #1881 closed

[2022-02-05 22:03] andrerfcsantos opened #2090 "linked-list: `Val` field accessed in tests"
The stub for `linked-list` has this comment:

https://github.com/exercism/go/blob/9d5b5eba3d1f214ff777a3e4cb0396313453a6a4/exercises/practice/linked-list/linked_list.go#L3

This gives the idea that the student is entirely free to define the `Node` and `List` structs freely, however this is not totally true for the `Node` struct. Since our tests access a `Val` field on elements, the `Element` struc

[2022-02-06 09:39] myworkcircle commented on #1989
yes @junedev, i have made changes at my end. Sorry got late in raising a pr. Had some issues with my older system.
Raised a pr :- https://github.com/exercism/go/pull/2091

[2022-02-08 23:46] olumidesan opened #2092 "Exercises' Community Solutions are visible without solving"
Hi, Exercism.

Not sure if this is a bug or an Easter Egg.

**Context**:
As a logged in user, the Community solutions for exercises are only visible **after** a valid solution has been submitted. The Community Solutions button is disabled prior to my submission of a valid solution.

**Bug (on the [WebApp](https://exercism.org))**
I noticed I can view the community solutions of any exercise without

[2022-02-09 13:44] junedev commented on #2092
This was discussed in out Slack channel and it was decided this is a "feature" for now. See https://github.com/exercism/exercism/issues/5850. Closing this as duplicate.

[2022-02-09 13:44] #2092 closed

[2022-02-10 08:47] jarbhav commented on #2089
Hey, if I understand this correctly, only go versions 1.17.+ should be there in the [exercise-tests.yml](https://github.com/exercism/go/blob/main/.github/workflows/exercise-tests.yml) file.

[2022-02-10 09:37] andrerfcsantos commented on #2089
@jarbhav Yes, exactly.

[2022-02-10 10:16] jarbhav commented on #2089
Made the changes. @andrerfcsantos it would be great if you review them!

[2022-02-10 17:24] andrerfcsantos opened #2095 "Need for Speed: Improve tests for the Drive function"
I recently came across a solution that writes `Drive` as:

[code]

This solution passes the tests, but has 2 problems:

* When the car is out of battery, it sets the `distance` to `0`, when none of the variables should be touched in that situation. This passes the tests because our test cases for battery drained also happen to have `distance` set to `0`. The fix here is to create or change an exis

[2022-02-11 08:31] artamonovkirill opened #2098 "Migrate data-driven tests to subtests"
Following [this Slack thread](https://exercism-team.slack.com/archives/CAS0EK88H/p1644497987712339) and [this PR discussion](https://github.com/exercism/go/pull/1254/files)

In the track, there are still some data-driven tests like:
[code]

Such tests could benefit from rewriting them with subtests:
[code]

Pros:
* Easier to parse test output of the test runner
* For an IDE user, it's easy to see

[2022-02-11 08:34] artamonovkirill commented on #2098
Slack thread screenshot, if it gets deleted:
<img width="1009" alt="Screenshot 2022-02-11 at 09 33 21" src="https://user-images.githubusercontent.com/2599636/153560094-f25e9727-0649-46f7-be79-30d1102258e9.png">

[2022-02-12 15:26] #1989 closed

[2022-02-22 18:12] LeamHall commented on #2095
There's a conflict between the instructions and the tests. The instructions say: "Assume the car is just starting the race:", which implies a fully charged battery. However, some of the tests assume the car starts with less than a full battery.

[2022-02-22 18:19] LeamHall opened #2105 "Need for speed: clarify instructions"
Adding more tests and more skills for the users is great, but if you add a test, make sure that it follows the instructions in the exercise. Or, get the instructions modified to make your test case valid.

For example, in "need for speed" there's a conflict between the instructions and the tests. The instructions say: "Assume the car is just starting the race:", which implies a fully charged batte

[2022-02-25 21:11] norbs57 opened #2106 "Sorting Room - suggestions re task description and additional test case"
In the sorting-room exercise task description, "Section 2. Describe a number box",  it says:

I wonder if this should be:

In the same section, the sample code  refers to

This looks odd as number boxes supply int- values, not floats. This could be fixed by using 12 instead of 12.345, for example.

In sorting_room_test.go, function TestExtractFancyNumber currently has only one non-FancyNumber  tes

[2022-02-26 00:32] venkateshpitta opened #2107 "test case expects 0.0 == parseInt("4")"
`        if ExtractFancyNumber(fnb) == 4 {
                // the test case says so --shrug--
                return fmt.Sprintf("This is a fancy box containing the number 0.0")
        }
`
is required to satisfy
`                {
                        description: "Describe a valid different fancy number",
                        input:       differentFancyNumber{"4"},

[2022-02-27 09:25] MikaeelMF opened #2109 "The Farm: Instructions can be more clear"
Hi!
I hope all are doing great!

In the instructions, I've found that it is not explicitly clear what should happen in the case of `ErrScaleMalfunction` and `fodder < 0`. It can mislead one to believe it is counted as "any other error" or all cases of `fodder < 0` is a `negative fodder` error.
To make this clear in instructions, I think it is a good idea to add a new subsection in instructions on

[2022-02-27 15:36] andrerfcsantos opened #2110 "sorting-room: make edge case of "Describe a fancy number box" clearer"
I've seen some reports of students this being confusing by this and it is something we can improve.

Right now we have the following test for task 4 "Describe a fancy number box" of the exercise `sorting-room`:

https://github.com/exercism/go/blob/8437f72dd89fc9d743927e88fcd0c5cef75b08dc/exercises/concept/sorting-room/sorting_room_test.go#L135-L139

The point of this test is to check if the studen

[2022-02-27 16:20] andrerfcsantos commented on #2105
Thanks for opening this issue!

The new tests without a fully charged battery were added recently, but I don't think they invalidate the instructions necessarily.
Maybe the problem here is that `"Assume the car is just starting the race"`  is ambiguous and opens up a lot of interpretations.

It can be read as implying a fully charged battery, but it can also be interpreted as implying that the car

[2022-02-27 16:32] andrerfcsantos commented on #2098
If anyone wants to work on this issue, it is OK (and even recommended) the make PR's for individual exercises - working on this issue doesn't mean necessarily fixing all exercises yourself all at once. On the contrary, several people are more than welcome to make PR's for individual exercises where this is a problem.

We'll use this issue as a tracking issue to track all the PR's related to this.

[2022-02-27 16:35] andrerfcsantos commented on #2107
Closing this for the same reason as https://github.com/exercism/go/pull/2108

Let's discuss this in https://github.com/exercism/go/issues/2110

[2022-02-27 16:35] #2107 closed

[2022-02-27 16:46] andrerfcsantos commented on #2106
Nice catches!

We have a similar test for task 4, unfortunately we don't have one for task 3, so this is a good addition indeed. To summarize, the changes that must me made:

[ ] Change the description of task 2 to refer to a number box as suggested.
[ ] Change the example of task 2 to have an int instead of a float
[ ] Add a test with something that is not a `FancyNumber` but has a string that is

[2022-02-27 17:23] andrerfcsantos commented on #2109
Thanks for opening this issue!

I don't see this as a problem as if there's an `ErrScaleMalfunction` and you multiply a negative fodder value by 2, it'll keep being negative, so I don't think there's doubt that a negative fodder always returns a negative fodder error, regardless of `ErrScaleMalfunction`. But maybe I'm overlooking something?

Where I see potential confusion is if we have `fodder <

[2022-02-27 17:35] norbs57 commented on #2106
Hi Andrew,

Thanks for reviewing that issue.

I don't have much experience with Github but I would be happy to have a go
at fixing it.

I am new to Exercism and I am unsure of the etiquette. In general, if I
have suggestions regarding a Go track exercise, should I raise it as an
issue or would it be better to try and contact the exercise authors or the
Golang track maintainers (first)?

Best,
Norb

[2022-02-27 19:43] andrerfcsantos commented on #2106
Go for it! I'll assign this to you.

[2022-02-27 20:21] norbs57 commented on #2110
Currently the example  in the instructions is as follows:

[code]

Maybe there would be less confusion if the second example was changed so that the string parsed as an int?

[code]

I think there is a similar issue in Section 3 "...extracting the number from a fancy number box" , but maybe students did not stumble about this because there was no corresponding test case.

[2022-02-27 21:17] #2106 closed

[2022-02-27 21:43] LeamHall commented on #2105
I agree completely! I didn't see a way to edit the text of the exercise, and I'm coming back to Go again so my skills aren't that great. Specifying that the distance can be > 0 and the battery can be < 100 would help the learner know that they are being intentionally challenged.

Thank you for understanding the issue.

[2022-02-28 15:24] norbs57 opened #2113 "Binary Search Tree: map functions - mismatch with specs"
File binary_search_tree.go defines two (higher-order) functions MapString and MapInt.  There seems to be a mismatch between the type of these functions and their specs in that source file:

- The type (and name) of the Map functions suggests that the argument f will be applied to each of the elements of the tree that is to be transformed into a slice.
- The specs do not mention the function argume

[2022-02-28 15:38] norbs57 commented on #1918
I am happy to work on this issue.

[2022-02-28 15:40] andrerfcsantos commented on #1918
@norbs57 All yours! Thanks for the interest in contributing to this issue.

Any questions you may have, feel free to ask!

[2022-02-28 16:05] MikaeelMF commented on #2109
Thanks for your reply, André!
The main confusion that this might make is if one considers `ErrScaleMalfunction` and `fodder>0` as a single case of error. This will result in considering `ErrScaleMalfunction` and `fodder<0` as another form of error and returning 0 and the same error by mistake. Since we also have the test case with negative fodder and no error as well.

Things might be a bit more c

[2022-03-02 11:25] norbs57 commented on #1918
I have prepared a draft PR. The new material is in a new folder for now as I am unsure how it will be integrated:

- Will it replace the old POV exercise that worked with graph operations?
- Or will it be a new, independent exercise
- Potentially one could also merge both into one large POV exercises with separate sections for graphs and trees.

[2022-03-02 15:44] norbs57 commented on #2046
I'd be happy to have a go at this.

I noticed that in C# and Java APIs, there is an `Annotate` function that takes a slice of strings and returns a slice of strings. I would suggest following this example. This would resolve the byte-vs-rune issue as neither appears in the API.

[2022-03-02 16:19] andrerfcsantos commented on #2046
Assigned! Thanks for taking a look at this.

I have no problems on having a slice of strings too.

[2022-03-02 19:30] andrerfcsantos commented on #1918
@norbs57 This will replace the old POV exercise.

[2022-03-03 11:00] andrerfcsantos commented on #2113
Looking at the the [problem specifications](https://github.com/exercism/problem-specifications/tree/main/exercises/binary-search-tree), the canonical tests seem to require 2 things from this exercise: adding new elements to the tree and getting the elements of the tree ordered.

In Go it seems the second requirement gave origin to the map functions. The point of them is to force the student to wri

[2022-03-04 11:10] MikaeelMF commented on #2109
I have created a PR to address both issues. it would be great if you could review it.

[2022-03-05 15:38] #2046 closed

[2022-03-05 15:52] #2109 closed

[2022-03-06 15:52] jewthon opened #2122 "Cars Assemble: Error in return value of test case"
There is a problem in #2083
Problem : the expected return type in test case 14 and 15 is float but the testcase it is receiving is in int.
Solution : I want to make correction is the test case return value

Please assign me this issue

[2022-03-06 16:39] andrerfcsantos commented on #2122
Hi!

Thanks for taking the time to write an issue.

Maybe I'm missing something, but I don't see the issue. Tests 14 and 15 for me are these ones:

https://github.com/exercism/go/blob/9ecfb014112598afd9f2d77c12e2ee46dc711d37/exercises/concept/cars-assemble/cars_assemble_test.go#L147-L156

This is in the `TestCalculateCost` function, that tests the `CalculateCost` function. `carsCount` and `want` a

[2022-03-06 16:47] jewthon commented on #2122
Thanks for reaching me out .
But even if I am including the  codition in raw but still it is given error
I can show you

On Sun, 6 Mar 2022 at 22:09, André Santos ***@***.***> wrote:

[2022-03-06 17:28] andrerfcsantos commented on #2122
If you are detecting the error in a particular solution, yes, please post the solution here.

[2022-03-07 09:19] andrerfcsantos commented on #2122
@jewthon Sure, no problem, take your time!

If you believe the problem might be with your solution, you can ask for mentoring and a mentor will help you see if there's anything wrong with your solution or are the tests that are potentially wrong.

If on the other hand you strongly believe the problem are the tests, you can post the problematic solution here and we can take a look.

[2022-03-07 12:56] jewthon commented on #2122
Thanks, I'll check it out.

On Mon, Mar 7, 2022, 2:49 PM André Santos ***@***.***> wrote:

[2022-03-11 11:15] stmllr opened #2125 "Run benchmarks in online editor tests"
I was pointing a student to benchmarks as described in
https://exercism.org/docs/tracks/go/tests

The student uses the online editor on exercism.org and asked if it was possible to run benchmarks there.

What do you think?

[2022-03-12 11:19] andrerfcsantos commented on #2125
In a previous call, there was talk on how formatting and benchmarks are really important for some languages, but not as much important in others and having this functionality in the online editor would be great.

For formatting there's already ongoing discussion in https://github.com/exercism/exercism/issues/5986 to add this to the editor.

For benchmarks, the first solution that comes to mind wou

[2022-03-12 11:21] andrerfcsantos commented on #2122
@jewthon Any news on this?

[2022-03-12 12:17] jewthon commented on #2122
Not yet!

On Sat, Mar 12, 2022, 4:51 PM André Santos ***@***.***> wrote:

[2022-03-15 13:27] junedev commented on #2098
@andrerfcsantos Did you already check whether this issue might also be related to code that produced via the generator? I have a hunch this is not just a matter of making individual PRs but this might be a generator issues that needs to be addressed.

[2022-03-15 15:01] andrerfcsantos commented on #2098
@junedev Some exercises suffering from this problem do have generators, but others don't. So I don't think it's a generator specific problem, although for the exercises that do have the generator, we must adjust it. Your suggestion would be to add this capability to the generator first and then work on individual exercises? (Although exercises without a generator currently don't have this dependen

[2022-03-15 21:23] junedev commented on #2122
@jewthon Did you start this exercise some months ago and then continued later on? There was a different version of this exercise before, maybe that is causing the issue.

[2022-03-15 22:17] andrerfcsantos opened #2129 "Update to Go 1.18"
Go 1.18 is a very anticipated release of the language due to the inclusion of generics, among other things. We should update the tooling of the Go track to support solutions using Go 1.18.

This is a tracking issue for the updates to the track tooling:

- [x] https://github.com/exercism/go-test-runner/issues/68
- [x] https://github.com/exercism/go-analyzer/issues/32
- [x] https://github.com/exerci

[2022-03-15 23:32] norbs57 commented on #1990
I am happy to work on this.

[2022-03-16 02:52] jewthon commented on #2122
I also doubt that. I think this is the reason why I am getting error. Ok I
got you

On Wed, Mar 16, 2022, 2:53 AM June ***@***.***> wrote:

[2022-03-16 17:43] #2095 closed

[2022-03-16 18:01] junedev commented on #2110
@andrerfcsantos @norbs57 Is this issue resolved by the PR that was merged or is there more we want to do here?

[2022-03-16 18:12] andrerfcsantos commented on #2110
@junedev Yes, this solved. Not entirely sure why he PR being merged didn't close this, but thanks for pointing it out.

[2022-03-16 18:12] #2110 closed

[2022-03-16 20:06] junedev commented on #2090
I would go with the first option listed above. However, I would not type out the Node struct in the stub file with `Val` set and then a comment regarding other fields. Instead I would add another comment below the existing one saying that the test expects the Node to include an exported field with name `Val`. Then the student can still go an figure out the data type, other fields etc.

[2022-03-16 20:07] junedev commented on #2090
I also prefer `Value` over `Val` but its not critical.

[2022-03-16 20:19] junedev commented on #1373
@myworkcircle Haven't heard from you in a while. Are you still interested in working on this?

[2022-03-16 23:27] bupjae opened #2131 "linked-list: contains test case that doesn't match exercise insturction"
Exercise instruction says this:

However, prototype of List contains `PopBack() (interface{}, error)` and `PopFront() (interface{}, error)`, which suggests that we should return error object when list was empty. Test cases also asserts that correct error object is returned when list was empty.

I opened this issue here because test cases on problem specifications repository doesn't have this issue

[2022-03-17 20:49] #1918 closed

[2022-03-19 09:40] myworkcircle commented on #1373
@junedev Really sorry for being inactive in the past couple of weeks, i was really busy with my company's work due to some strict deadlines.
I have already started on this issue last week. Im figuring out how to write the test cases for panic recover.
Im working on it, will try to complete it as soon as possible

[2022-03-19 12:18] junedev commented on #1373
@myworkcircle Great to hear from you. There is no rush, I was mainly asking because I did not assign you to the issue yet. I will do this now.

As for testing the panic part, maybe you can take some inspiration from how testing frameworks like https://github.com/stretchr/testify do this.

[2022-03-19 13:57] myworkcircle commented on #1373
Thanks @junedev

[2022-03-20 14:50] junedev opened #2134 "POV: Make test structure more test runner friendly"
Currently, the structure of the tests differs from our usual patterns and is not very good for the test runner.

We should investigate, whether we can bring it more into this format: https://github.com/exercism/go-test-runner#subtest-format-specification (This might mean that this causes some duplication which is ok.)

Even if we can't reach that ideal structure, we should make sure that the cases

[2022-03-20 19:19] norbs57 commented on #1731
I would be happy to prepare a PR for this.

[2022-03-21 08:22] norbs57 commented on #2038
I am happy to have a go at this.

[2022-03-21 14:20] #2021 closed

[2022-03-21 19:53] junedev commented on #2131
Thanks for bringing this up. We might want to keep the current code in the track but in any case the [instructions.append.md](https://exercism.org/docs/building/tracks/practice-exercises#h-file-docs-instructions-append-md) file should describe any of those differences. This is missing currently.

[2022-03-22 20:58] #1731 closed

[2022-03-22 21:11] junedev opened #2137 "Blackjack: Add test case for "other card" case"
I checked the code coverage for the blackjack exercise and noticed that the ["default" case](https://github.com/exercism/go/blob/39b054e0c79d38aa6f42196a1c6f236cc34f52dc/exercises/concept/blackjack/.meta/exemplar.go#L26-L27) for `ParseCard` is not covered by a test case currently. That should be fixed.

The test file can be found here: https://github.com/exercism/go/blob/main/exercises/concept/bla

[2022-03-23 11:57] #1990 closed

[2022-03-23 19:42] #2137 closed

[2022-03-28 02:28] JayKayy opened #2142 "Tree building exercise test results unclear"
The test results show a failure on all of the test cases but the actual and expected results appear to be identical and I'm not sure what to do.

https://github.com/exercism/go/blob/b531203995d0e9a805bdcbb0a2f8b54d0b37a68f/exercises/practice/tree-building/tree_building_test.go#L14

[code]
Any idea why the returned is not meeting the expected output? Am I missing something?

[2022-03-28 08:00] andrerfcsantos commented on #2142
Thanks for opening an issue about this!

Can you please post the solution the is giving you that result? At first sight, I believe this might be caused by the way we are checking if your tree and the expected tree are equal. We are using `reflect.DeepEquals()` that might be missing some edge cases:

https://github.com/exercism/go/blob/16a43d15d0f3d56b134161acd51b33b3d838b890/exercises/practice/tre

[2022-03-28 10:17] JayKayy commented on #2142
Thanks for your response! Below is the iteration in which I'm seeing these results.

[code]

Solution:
[code]

[2022-03-29 08:11] #2113 closed

[2022-03-29 08:43] #2038 closed

[2022-03-31 18:12] JayKayy commented on #2142
I got it working now based on your suggestions. Thanks a bunch for your help. Is there anythign else you need from me?

[2022-03-31 22:42] norbs57 opened #2147 "Vehicle purchase exercise, introduction: UTF-16 link and string order"
The [introduction to this exercise](https://github.com/exercism/go/blob/main/exercises/concept/vehicle-purchase/.docs/introduction.md) contains the following paragraph:
[code]

One of our students raised two issues about this:

1.  The link is to a UTF-16 resource. This is confusing as Go strings are UTF-8 encoded.

2. The last two sentences suggest that the ordering of Go strings is lexical based

[2022-04-01 21:17] norbs57 commented on #2142
I'd be happy to have a go at improving this exercise in line with the suggestions above.

[2022-04-03 05:06] ynfle opened #2149 "Fix: `expenses` instructions refer to `Total` function, but stub file and tests require `TotalByPeriod` function"
This
https://github.com/exercism/go/blob/eb5c0a3a814cd5f87e3659fc9535d6d8a9ad75a9/exercises/concept/expenses/.docs/instructions.md?plain=1#L115-L136

versus
https://github.com/exercism/go/blob/eb5c0a3a814cd5f87e3659fc9535d6d8a9ad75a9/exercises/concept/expenses/expenses.go#L34-L38
and
https://github.com/exercism/go/blob/eb5c0a3a814cd5f87e3659fc9535d6d8a9ad75a9/exercises/concept/expenses/expenses_te

[2022-04-03 08:30] #2149 closed

[2022-04-03 15:09] andrerfcsantos commented on #2147
I agree with both suggestions.

Going into the details of utf-8 here is unnecessary indeed.

[2022-04-03 19:42] andrerfcsantos commented on #2142
@JayKayy The suggested fixes were applied. This means your original solution works now.

[2022-04-03 19:42] #2142 closed

[2022-04-03 20:11] norbs57 commented on #2134
I'd be happy to have a go at this.

[2022-04-04 12:21] norbs57 commented on #2037
I would be happy to have a go at implementing a basic version of this including a concept exercise.

[2022-04-04 23:12] andrerfcsantos opened #2155 "Clarify when an exercise is tested with the `-race` flag."
For some exercises, we are running the tests with the `-race` flag. The tests that run with this flag have a custom property in its `config.json`. Here's `bank-account` for example:

https://github.com/exercism/go/blob/920eb320d4dc6f569f55d65c4b4a15f5acc3401d/exercises/practice/bank-account/.meta/config.json#L34-L37

However, this can create some confusion among the students, as they can run the t

[2022-04-05 11:33] #2134 closed

[2022-04-05 11:33] #2147 closed

[2022-04-06 02:59] shapito27 opened #2156 "Code examples: "Output" for non print statements can be confusing"
Hi, I started to use Exercism for practice in Golang recently and I like you product. Thank you for you job 👍🏼
I have one remark.

I've noticed that https://exercism.org/tracks/go/exercises/annalyns-infiltration has nice code example with Output after fmt.Println:
[code]

but if you take a look at this example https://exercism.org/tracks/go/exercises/vehicle-purchase (and most of other)

[code]

i

[2022-04-08 08:39] TristanAppDev commented on #1396
I‘d like to work on this issue.

[2022-04-08 22:04] gawelczyk commented on #1786
"Prisoner has to be awake to be rescued" so two unit tests are wrong:

`func CanFreePrisoner(knightIsAwake, archerIsAwake, prisonerIsAwake, petDogIsPresent bool) bool {}`

[code]
and
[code]

Both of them should expect FALSE unless you change the description.

[2022-04-08 22:21] gawelczyk opened #2164 "Wrong expected value in unit test for Annalyn's Infiltration"
From the Instructions: "Prisoner has to be awake to be rescued ..." so two unit tests are wrong:

`func CanFreePrisoner(knightIsAwake, archerIsAwake, prisonerIsAwake, petDogIsPresent bool) bool {}`

[code]
and
[code]

Both of them should expect FALSE unless you change the description.

[2022-04-08 23:20] andrerfcsantos commented on #2164
The instructions and the tests are correct.

Note that the part that says the prisoner must be awake is also listed as "one of two ways" to succeed. The other way to succeed is:

This case doesn't depend on the prisoner being awake.

[2022-04-08 23:37] #2037 closed

[2022-04-09 09:05] gawelczyk commented on #2164
The prisoner is not startled by Annalyn's sudden appearance when she has a dog - case 1, the prisoner might be asleep or not,
but when she hasn't got the dog, the prisoner is startled by her appearance so the prisoner has to be awake - case 2.

It works from logical point of view but sounds a bit misleading when read first time :-) Especially when you focus on coding, not analyzing logic in detail

[2022-04-09 09:05] #2164 closed

[2022-04-09 13:59] ahmedsameha1 commented on #2156
Good point.

[2022-04-09 14:03] andrerfcsantos commented on #2156
I agree that showing "Output" when there's not a print instruction can be confusing, as there is no output. It's probably a good idea to remove those instances.

Other ways to express the idea can be to put the value in the same line of the variable or explicitly saying what the variable is `==` to:

[code]
or:

[code]

or even:

[code]

I tend to prefer the first two forms as they are compact and

[2022-04-09 22:27] ahmedsameha1 opened #2169 "Add a service like Grammarly to the CI/CD pipeline."
Is it possible to add a service _**like**_ [Grammarly](https://app.grammarly.com/) to the current CI/CD pipeline? This will catch as many typos and grammar/punctuation mistakes as possible.

[2022-04-10 00:02] andrerfcsantos commented on #2169
Do you know any good service for this?

The problem with using any one service for this is that I don't know any that would be able to deal with the diversity of files we have. I'm a user of Grammarly and I even use it on VSCode when reviewing medium/large PRs where a lot of markdown files are involved. Grammarly is great at giving smart suggestions for regular text, but can easily throw a lot of

[2022-04-10 01:10] andrerfcsantos commented on #1396
@TristanAppDev Thanks for the interest in contributing.

Some additional thoughts on this task:

- Not all concepts will be well covered by practice exercises, hence we won't probably be able to follow the `Try and choose 3 - 8 Exercises that practice each Concept` rule of thumb for all concepts. But it's important to identify what those concepts at this stage. We can then think on how we can have

[2022-04-10 01:38] andrerfcsantos opened #2170 "Add new practice exercise: state-of-tic-tac-toe"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Practice Exercises?](https://exercism.org/docs/building/product/practice-exercises)
- [Anatomy of a Practice Exercise](https://exercism.or

[2022-04-10 10:33] TristanAppDev opened #2172 "Tree Building: Exercise should be labeled as medium not easy"
Imo the exercise [Tree Building](https://github.com/exercism/go/tree/main/exercises/practice/tree-building) should be labeled as _medium_ not as _easy_ because it could be very frustrating for new gophers when they see an exercise like this in the category _easy_. There's a huge step between **TwoFer** and **TreeBuilding** for example.

It has the same label as **TwoFer** and **GigaSecond** (which

[2022-04-10 10:43] TristanAppDev opened #2173 "Isbn Verifier: Test case for invalid Isbn should be added"
For [Isbn Verifier](https://github.com/exercism/go/tree/main/exercises/practice/isbn-verifier) an additional test case should be added because you can have code which allows this `4-598-21507-A` ISBN and still pass all tests.

[2022-04-10 13:49] #2172 closed

[2022-04-10 16:19] andrerfcsantos commented on #2173
Additions to the test cases of practice exercises must be suggested in the [problem specifications](https://github.com/exercism/problem-specifications) first, so all tracks can benefit from them. IF the changes are approved there, we can sync our exercise to match the tests in problem specs.

[2022-04-10 16:19] #2173 closed

[2022-04-11 19:37] TristanAppDev commented on #2156
I believe the **good first issue** label would be a good fit for this one.

[2022-04-12 09:30] shapito27 opened #2181 "Lasagna Master: Improve functions introduction"
https://exercism.org/tracks/go/exercises/lasagna-master

Introduction for exercise says:

Task 3 says:

Resulting code for task 3:
[code]

I don't understand, how newbie will understand why they pass the slice by value to the function but myList will be changed outside.

I suppose it will be better to clarify why it happens.

[2022-04-12 18:35] junedev commented on #1786
@gawelczyk Are you referring to this line? https://github.com/exercism/go/blob/25cfebe1b8c91b399f3ef503aebfd8b4e1ec846a/exercises/concept/annalyns-infiltration/.docs/instructions.md?plain=1#L17

That line belongs to the second bullet point/option (line 16/17), not the first one. The two test cases you mentioned belong to the scenario in the first bullet point (line 14/15).

[2022-04-12 18:43] junedev commented on #2037
@norbs57 You wrote on Slack that you didn't cover all parts of what was described in this issue. If that was the case in the end, please create another issue that states what is currently missing (would probably be good to include a link to this issue as well).

[2022-04-12 19:46] junedev commented on #2169
In the JavaScript track, we had a contributor that applied all the suggestions tools made and it removed a lot of the "story like" phrases we use in concept exercises. They used Grammarly and some other tool. Lots of parts of that PR had to be reverted to the original version. That means even if we would somehow only look at markdown and somehow exclude the code parts, it would still give lots of

[2022-04-12 20:20] junedev commented on #2156
I always thought the general logic of these type of comments is that they should be written in a REPL fashion. Coming from that perspective, here some comments from my side:

* I think removing `Output` when there is no print statement is good.
* I don't think we should have print statements everywhere because that clutters the examples a lot.
* I don't think the first and second examples are good

[2022-04-12 20:38] andrerfcsantos commented on #2156
@junedev That makes sense. I like it as a standard going forward.

[2022-04-12 20:46] junedev commented on #1396
@TristanAppDev I don't want to discourage you from working on this but I want you to be aware what is involved here as this task might sound easier than it actually is.

To define a set of prerequisites for a practice exercise you need to have a good understanding of the existing concepts and the content they cover. Then you need to form an idea in your head about the minimal set of concepts that

[2022-04-13 00:18] andrerfcsantos opened #2182 "Implement New Concept Exercise: Channels and Select"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2022-04-13 00:18] andrerfcsantos opened #2183 "Implement New Concept Exercise: String Builder"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2022-04-13 00:18] andrerfcsantos opened #2184 "Implement New Concept Exercise: Stringers"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2022-04-13 00:18] andrerfcsantos opened #2185 "Implement New Concept Exercise: Bitwise Operators"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2022-04-13 05:51] TristanAppDev commented on #1396
Thanks @junedev after reading your explanation I trink it‘s too soon for me to work on this issue.

[2022-04-13 17:13] norbs57 commented on #2156
I agree with most of the points raised.

With regards to the "results of assignments", in the recent `parsing_log_files` example, I used the following notation taken from the C# track:

[code]

This notation is pretty concise, but I feel ambivalent about those arrows. On the one hand, it is neat to use an arrow to indicate something being "returned".  On the other hand, the arrow goes in the wrong

[2022-04-13 17:26] norbs57 commented on #2156
Also, I saw on the C# track that some of the examples were written without assignments, e.g. the above example would then be written as

[code]

[2022-04-13 18:36] junedev commented on #2156
My understanding was that the arrows are used because they appear in some form in the actual REPL that comes with the language. Not sure how it is for C#. Because a REPL is not a standard thing in Go, I am not sure it makes sense to include it.

I wouldn't worry about the direction of the arrow too much because as noted in the second comment by @norbs57, often the assignment can be removed from th

[2022-04-13 19:17] BethanyG commented on #2156
This probably doesn't help, but in case it does - here are two examples of the Python REPL.  The first is the standard one that ships with Python.  Note that the arrows are for inputs, and the "output"/"value" or "return" doesn't have them:

<img width="512" alt="2022-04-13_12-08-44" src="https://user-images.githubusercontent.com/5923094/163252592-ebe4b13f-8a5d-42eb-a029-1f377df5fdf4.png">

The se

[2022-04-13 20:26] junedev commented on #2181
Good catch! The introduction of the functions concept needs to be fixed here.

There is a general challenge here though. While we need to teach about functions early in the concept tree/learning path because following concepts rely on those prerequisite learnings, the real deep dive into points comes later in the tree because it needs a separate exercise as there is a lot to cover. So will always

[2022-04-13 20:30] junedev commented on #2156
@BethanyG I know that officially we should use the some standard REPL format for the examples. But tbh even if a standard REPL would exist for Go, I still find this
[code]

more readable than this
[code]

Do you actually always use some official REPL format in Python as described here https://exercism.org/docs/building/markdown/markdown#h-code?

[2022-04-13 20:34] junedev commented on #2156
I realized that there is an issue with the version without the arrow. It gets confusing when there is an additional explaining comment:
[code]

Also people on Slack voted for the arrow so let's go with that.

[2022-04-15 13:32] andrerfcsantos opened #2188 "Add new practice exercise: killer-sudoku-helper"
## Getting Started

This task requires the implementation of a new practice exercise. If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Practice Exercises?](https://exercism.org/docs/building/product/practice

[2022-04-17 20:26] scubbo opened #2191 ""Errors" concept appears to contradict itself on practicality of comparing errors"
Referencing [this content](https://exercism.org/tracks/go/concepts/errors) ([source](https://github.com/exercism/go/blob/main/concepts/errors/introduction.md)).

Early on, the introduction references [this StackOverflow question](https://stackoverflow.com/a/50333850), which notes that (_heavily_ abridged): "_the `errors.New()` function[...]returns a pointer to a very simple struct value. This is s

[2022-04-19 07:36] junedev commented on #2191
@scubbo I am sorry, I have trouble understanding the issue. If I paste your example into the playground, I cannot reproduce the case where the comparison would evaluate to false: https://go.dev/play/p/NzioqeS8mKi

Of course, if `ErrResourceNotFound` would be exported form another package, you would have to import it to make the comparison, e.g. it would look like `err == repository.ErrResourceNotF

[2022-04-20 05:00] Krish-bhardwaj commented on #2185
Hi can i contribute in this issue @andrerfcsantos

[2022-04-20 09:40] nahuakang commented on #2181
I can work on this. Happy to be assigned to this issue.

[2022-04-20 09:54] andrerfcsantos commented on #2185
@Krish-bhardwaj Sure! But before assigning this to you, I want to remind you that it is a significant task and might not be ideal as a first contribution to exercism. But if you feel you are up to the task, don't let me discourage you! Just let me know that you acknowledge that this might require a bit of work and reading some docs beforehand.

[2022-04-20 14:08] junedev commented on #2181
@nahuakang Thanks for helping out with this!

[2022-04-21 08:27] nahuakang commented on #2156
@junedev For the scope of this issue, should the assignee apply the arrowed comment to all exercises?

[2022-04-21 09:44] TristanAppDev opened #2194 "Code examples: "Output" for non print statements can be confusing - Gopher's Gorgeous Lasagna"
Change "Output:" to "=>" for Gopher's Gorgeous Lasagna.

For easy tracking: #2156

[2022-04-21 10:31] TristanAppDev opened #2196 "Code examples: "Output" for non print statements can be confusing - Cars Assemble"
Change "Output:" to "=>" for Cars Assemble.

For easy tracking: #2156

[2022-04-21 10:45] junedev commented on #2156
I would treat the issue as a general one. So in the end it would be great to have consistent examples with either the arrow or print syntax in all concept exercises and concepts. And of course updated documentation of what we decided for here.

[2022-04-21 11:18] junedev commented on #2194
@TristanAppDev Please do not create new issues for each exercise as this creates overhead for maintainers. Feel free to add a list of checkboxes to tick off as a comment in the original issue, if you want to indicate which exercises need to be fixed. All PRs can link the same original issue, that's fine.

[2022-04-21 11:18] #2194 closed

[2022-04-21 11:41] TristanAppDev commented on #2194
Ok @junedev

[2022-04-21 22:09] norbs57 commented on #2037
Current coverage of Learning Objectives:

* which flavor of regex syntax is used in Go and its performance
   => No details given, only link
* limitations of regex in Go (see "Caveats" section here: https://swtch.com/~rsc/regexp/regexp3.html)
  =>  No details given, only link
* how to create a regular expression with `Compile/MustCompile` and when to use which
  => Done
* how to use the most commo

[2022-04-22 14:42] nahuakang commented on #2090
If no one has picked this up, can you @junedev please assign it to me? 🙏

[2022-04-22 20:58] scubbo commented on #2191
Ah, ok - I seem to have made some false assumptions about idiomatic Go, then. I'm used to instantiating an Exception (to which Go's Errors are similar, but not the same) at the point of throwing them, not pre-instantiating them and then referring to them at return("throw")-time. In such a setup (i.e. where Errors are instantiated when-returned), it wouldn't be possible to export the Error in order

[2022-04-23 05:15] CODETOSPACE commented on #2188
"I'd like to work on this"

[2022-04-25 08:49] andrerfcsantos opened #2202 "Format the output of code examples consistently across exercises/concepts"
After some discussion in #2156, it was decided that to show the output of code examples, we must follow a standard format across exercises and concepts. The agreed format is to put the output of a piece of code as a comment after the code. The comment should start with an arrow `=>`. It looks like this:

[code]

Examples that have some specific reason to include a print statement should have the f

[2022-04-25 08:52] andrerfcsantos commented on #2156
To give better visibility on exactly what needs to be done and how to contribute to this, I created [this new issue](https://github.com/exercism/go/issues/2202) with the result of the discussion here.

[2022-04-25 15:55] #2191 closed

[2022-04-25 17:43] #2181 closed

[2022-04-26 08:09] nahuakang commented on #2155
@andrerfcsantos Happy to claim this issue :)

[2022-04-26 18:22] #2196 closed

[2022-04-26 18:24] junedev opened #2204 "Concept Regular Expressions: Add some more details"
There are some ideas for more details to be added in the regular expressions concept, especially in the about.md file. See https://github.com/exercism/go/issues/2037#issuecomment-1105809316 (and the original issue there) for details.

Only topics that are relevant for solving the exercise or for the basic understanding should be added to the introduction.md of the concept. Everything else should o

[2022-04-26 18:25] junedev commented on #2037
@norbs57 Thanks for the summary, I created a small follow up issue.

[2022-04-26 23:54] norbs57 opened #2205 "Two-bucket exercise - problem in instructions, possible additional "bonus" test case"
In the two-bucket exercise, the  [Go-specific part](https://github.com/exercism/go/blob/main/exercises/practice/two-bucket/.docs/instructions.append.md) of the instructions includes the following statement:

[code]

This looks incorrect - for example if `sizeBucketOne == sizeBucketTwo == goalAmount == 3`, there is the trivial one-step solution.  The following statement is more precise (c.f [Wikipe

[2022-04-27 17:44] #2090 closed

[2022-04-27 19:27] junedev opened #2206 "Define/fix initial Go syllabus"
Outcome was posted here: https://github.com/exercism/go/issues/1610#issue-998161143
This issue is only for awarding the reputation and will be closed right away.

[2022-04-27 19:27] #2206 closed

[2022-04-29 16:54] #2155 closed

[2022-04-29 21:22] nahuakang commented on #2105
I'll claim this :)

[2022-05-05 15:10] #2105 closed, assigned to nahuakang

[2022-05-10 19:58] iHiD commented on #2213
(Moved this to exercism/go as I think it's track-specific)

[2022-05-14 10:16] MikaeelMF commented on #1579
Hi!
I have created PR #2216 to help resolve this issue. I would appreciate it if you could check it out!
Thank you!

[2022-05-19 15:11] dirkkul opened #2219 "Linked List: Inconsistency between method names in global and track specific instructions"
Hi,

I'm currently doing the linked list exercise and noticed that some methods are named differently in the global and track specific instructions. In specific, in the readme part that comes from the global problem specification (instructions.md), the List should have the the methods:
* `push` (*insert value at back*);
* `pop` (*remove value at back*);
* `shift` (*remove value at front*).
* `unsh

[2022-05-19 16:14] dirkkul commented on #2219
Another thing I've noticed:

The description says

But the go tests do exactly that (https://github.com/exercism/go/blob/main/exercises/practice/linked-list/cases_test.go, just search for ErrEmptyList) and require the definition of an additional ErrEmptyList. Otherwise they do not even compile. This variable is mentioned nowhere

[2022-05-22 13:56] MikaeelMF commented on #1886
Hi!
I was wondering if we can add networking related concepts to the roadmap. I personally suggest creating a prerequisite exercise on events first and then create an exercise to implement a basic http server and client.

[2022-05-25 09:51] #1579 closed

[2022-05-25 23:31] rootulp opened #2222 "Improvement idea for Diamond tests"
While solving the Diamond exercise, I had a difficult time iteratively solving the exercise because [diamond_test.go]( https://github.com/exercism/go/blob/main/exercises/practice/diamond/diamond_test.go) is all or nothing. In other words, the entire solution is implemented and all tests pass or the solution isn't implemented and all tests fail.

While solving, I found it helpful to iteratively sol

[2022-05-26 17:28] MikaeelMF opened #2224 "Improve exercise nth-prime"
Hi all!

While I was solving nth-prime exercise I figured out there might be two problems regarding this exercise:
1) The description is really vague regarding what the main function should return. It is not clear why there is a boolean field,
2) Looking at test cases, one can figure out that the solution should return if the input is less than 1 or not (since there is no 0th prime number!) and it

[2022-05-26 22:19] andrerfcsantos commented on #2213
Does this still happen? I'm unable to reproduce.

I tried the solution Bob posted and the analyzer seems to have no automated feedback [check iteration 6](https://exercism.org/tracks/go/exercises/raindrops/iterations).

However, running Bob's solution in the analyzer locally gives me this:

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/6928620/170588925-f60dce8d-ff36

[2022-05-26 22:43] andrerfcsantos commented on #2219
@dirkkul Thanks for opening an issue about this, you raise some great points here.

Feel free to open a PR with this.

We can adjust the tests to remove the need for that variable indeed in the short term.
In the long-term, we probably want to look at making the tests conform with the [problem specs](https://github.com/exercism/problem-specifications/blob/main/exercises/linked-list/canonical-data.

[2022-05-26 22:47] andrerfcsantos commented on #1886
@MikaeelMF We definitively can consider it :)

When do you say a prerequisite on "events", what are you thinking exactly? Something like callbacks?

[2022-05-26 23:21] andrerfcsantos commented on #2222
Hi!

Thanks for opening an issue about this.

The instructions and test cases come from the [problem-specifications repo](https://github.com/exercism/problem-specifications). The test cases for this exercise are in [canonical-data.json](https://github.com/exercism/problem-specifications/blob/main/exercises/diamond/canonical-data.json).

It seems that Go decided to not use the test cases in the pro

[2022-05-26 23:56] andrerfcsantos commented on #2224
Thanks for opening an issue about this,

I agree that returning an error here would be more idiomatic than returning a boolean. Since this exercise has a test generator that generates test cases from problem-specifications automatically, the test generator [gen.go](https://github.com/exercism/go/blob/main/exercises/practice/nth-prime/.meta/gen.go) for the exercise must be adjusted accordingly.

If

[2022-05-27 00:23] bobahop commented on #2213
Well, I suppose if something is given ten months before being addressed there is a chance for it to have been fixed along the way. 😄  I also can no longer reproduce the analyzer issue. So, since I opened the issue I'll go ahead and close it.

[2022-05-27 00:23] #2213 closed

[2022-05-27 10:16] MikaeelMF commented on #1886
@andrerfcsantos
Great!
About the "events", sorry it was my misunderstanding. I mistakenly thought Go has events like what we see in socket.io for socket programming, but upon further reading I understood this is not the case.
On another note, explaining callbacks before discussing http servers is a great idea!

[2022-05-27 11:42] MikaeelMF commented on #2224
Great! Thank you for your clarification!
So if it is okay with you, I will correct the [gen.go](https://github.com/exercism/go/blob/main/exercises/practice/nth-prime/.meta/gen.go) and write a `instructions.append.md` to explain the expected function's return value in Go.

For general clarification of the problem, I will create an issue in problem-specification.

[2022-05-27 12:47] andrerfcsantos commented on #1886
@MikaeelMF Some frameworks do need to handle events and they do it with a callback like you'd do in javascript. But since Go is strongly typed, each event has to be represented by a type and an handler for that event must be a function that receives the event as an argument. An example of this is [discordgo](https://github.com/bwmarrin/discordgo). This is a library to make discord bots, and to mak

[2022-05-27 13:16] andrerfcsantos commented on #2224
Sure, Go for it :)

I'll assign this to you just to signal others that you are working on this.

[2022-05-27 13:35] MikaeelMF commented on #2224
Great!

[2022-05-27 13:45] MikaeelMF commented on #1886
@andrerfcsantos
That is pretty interesting! I am new to Go so these topics are a bit unfamiliar for me, I will definitely look further into it! Thank you for your explanation.

About the constraint that you have mentioned, so is it possible for clients/servers to connect to `localhost:random_port` and communicate with each other?

[2022-05-27 16:27] andrerfcsantos commented on #1886
This should work, yes.

[2022-05-28 16:04] andrerfcsantos opened #2226 "Implement new concept exercise: enum pattern"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2022-05-29 12:00] #2224 closed

[2022-05-29 12:04] andrerfcsantos commented on #2224
Merged! Feel free to open the PR in problem specifications repo and import any changes there to the Go track later.

[2022-05-29 13:39] MikaeelMF commented on #1886
Great!
I am interested in working on this topic. If it is ok, could you write up a guideline for me so I can start working on it?

[2022-05-29 16:38] #2184 closed

[2022-06-03 08:21] #2219 closed

[2022-06-04 21:24] andrerfcsantos opened #2230 "pig-latin: Remove call to `Printf` in tests and use sub-tests"
While testing solutions locally for the exercises in the track, I noticed that the exercise pig-latin has a direct call to `fmt.Printf`:

https://github.com/exercism/go/blob/d631baf6724946b6682fbcbad06bdeda0a09bf14/exercises/practice/pig-latin/pig_latin_test.go#L13

This makes it so just running `go test` produces output, which is not desirable. I understand this call to print was probably an atte

[2022-06-05 10:56] Satho-M commented on #2230
I can work on this one if nobody else is already.

[2022-06-05 13:25] #2230 closed

[2022-06-05 14:42] andrerfcsantos opened #2232 "logs-logs-logs: Additional tests to ensure the student is checking the first application character"
This solution has a bug, but passes our current tests:

[code]

The bug with this solution is that it goes to a list of application characters and returns the application of the _first application character on that list_ that also appears in the string. However, the specifications say that it must be the first application character that appear _on the log line_ that must determine the application

[2022-06-07 16:05] eklatzer commented on #1755
Hey, I would like to improve this exercise. As I have never contributed to Exercism one question: do I have to take care of anything special?

[2022-06-07 16:13] andrerfcsantos commented on #1755
@eklatzer Thanks for the interest in contributing.

See the previous message from june for a list of points for improvement in this exercise. Other than that, feel free to submit a PR addressing this and let us know if you have any questions.

[2022-06-07 17:33] andrerfcsantos commented on #2232
@Jasstkn Go ahead! Let us know if you have any questions.

[2022-06-07 19:04] eklatzer commented on #1755
I am a bit confused. Regarding to https://exercism.org/docs/building/tracks/concept-exercises the `config.json` should contain a UUID, slug and some other required fields (-->https://exercism.org/docs/building/tracks/config-json#concept-exercises). The `config.json` of the current exercise is the following one:
[code]

What am I getting wrong?

[2022-06-07 20:12] eklatzer commented on #1755
How to get the point with the `design.md`? Are analyzers implemented by humans or is there a syntax? Looks like analyzers are implemented by humans using the feedback of the part `Analyzer`. This part already contains the following two lines:
- A for-loop can be used in this exercise in the `CanFinish` function, however it might not have been taught yet
- If a for-loop was used, it is encouraged t

[2022-06-07 20:37] andrerfcsantos commented on #1755
Analyzers are programs that usually look up the Abstract Syntax Tree of exercises looking for patterns in the code, and can emit warnings when they see certain patterns in specific exercises. You can see the go analyzer here: https://github.com/exercism/go-analyzer

About the point in `design.md`, it seems that was fixed here https://github.com/exercism/go/pull/2031, that's why you see those lines

[2022-06-07 20:53] vanclmil opened #2237 "Need for speed: car already in on the track?"
It is not clear for me whether the car may be already on the track or not (from this [information](https://github.com/exercism/go/blob/37fda27323803a9c15a88ef1e756b13f51c51d7d/exercises/concept/need-for-speed/.docs/instructions.md?plain=1#L59)).

If so, there is missing test case to check it, see example:
[code]
In that case, I think that most of the community solutions would return false, so fail

[2022-06-07 21:49] andrerfcsantos commented on #2237
Thanks for opening an issue!

In our test suite, we do have tests that have `distance > 0` and `battery < 100%`, see [need_for_speed_test.go](https://github.com/exercism/go/blob/37fda27323803a9c15a88ef1e756b13f51c51d7d/exercises/concept/need-for-speed/need_for_speed_test.go#L169). Do you think we are missing a test there?

[2022-06-07 22:04] eklatzer commented on #2237
Hey, the following test-case nearly covers this case:
[code]
But the possible distance is 100: `car.battery / car.batteryDrain * car.speed`
(100/5) * 5 = 20 * 5 = 100

For the example of this issue:
(100/10) * 5=10 * 5=50

The point: as the car already drove a distance of 50, the total distance is still 100, because:
- already driven: 50
- still possible: 50
- -->sum: 100
To cover this case, `func

[2022-06-08 06:08] Jasstkn opened #2239 "[numbers] Add example of printing precision for float variables"
Hey.

I think it can be useful to add here https://exercism.org/tracks/go/concepts/numbers the following example of :
[code]

What do you think?

[2022-06-08 06:24] Jasstkn commented on #2239
Now I see that it's mentioned in the better place: https://exercism.org/tracks/go/concepts/string-formatting

[2022-06-08 06:24] #2239 closed

[2022-06-08 06:56] eklatzer opened #2240 "Missing-test case for exercise Luhn"
Hey, when mentoring [Luhn](https://exercism.org/tracks/go/exercises/luhn) and playing a bit around with my solution and when checking community solutions, I have found out that there is not test-case covering the following problem. The requirement is: If the sum is evenly divisible by 10, then the number is valid. The test-cases also pass, if for example `sum%2==0` or `sum%5==0`  (both divisors of

[2022-06-08 09:00] vanclmil commented on #2237
@eklatzer thank you very much for your sumarization, that's exactly what I wanted to point out

[2022-06-08 14:56] andrerfcsantos commented on #2232
We should, thanks for remembering me.

This can be done automatically when the linked PR is merged, but we didn't use any of the [magic words](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) so it wasn't.

[2022-06-08 14:56] #2232 closed

[2022-06-08 23:33] andrerfcsantos commented on #2237
The idea of the exercise is to not consider `distance` in the computations. This means that if the car has `distance > 0`, this distance was driven before the track. The `Assume that you start the engine of the car for the race` is meant to make it more obvious that you are just starting the race, but might not be enough?

This is not the first time this discussion has come up, and at the time we

[2022-06-08 23:45] andrerfcsantos commented on #2240
Do you have an example of a solution that is passing the tests but wouldn't pass with those additional tests?

[2022-06-09 03:11] eklatzer commented on #2240
These two examples currently pass the test, even though they should not, if I am not getting something wrong:
[code]

[code]

When checking different sources, only `sum%10==0` seems to be the correct solution:
- https://www.geeksforgeeks.org/luhn-algorithm/
- https://en.wikipedia.org/wiki/Luhn_algorithm

The text in instructions currently is: `If the sum is evenly divisible by 10, then the number

[2022-06-09 03:19] eklatzer commented on #2237
What do you think about changing the instructions to:
[code]

[2022-06-09 07:39] andrerfcsantos commented on #2240
Seems a valid concern.

@eklatzer Since this is a practice exercise, changes to the description and tests must be added in the [problem-specifications](https://github.com/exercism/problem-specifications) so all tracks can benefit from it. I'll transfer the issue there. If after some discussion there's agreement on changes, a PR fixing this must also be created in the problem-specifications repo. A

[2022-06-09 07:48] andrerfcsantos commented on #2237
Sound good! I'd just try to divide the sentence into shorter ones to make it more readable, something like:

[2022-06-09 07:57] eklatzer commented on #2237
Yes, I will do it later today

[2022-06-09 17:47] junedev commented on #2226
FYI There is a wip exercise in the repo already that covers parts of what is listed above: `savings-account`, concept `constants`.
The exercise would probably need quite some improvement so it might be better to start from scratch. I just wanted to mention it.

Nevertheless, it might be worth thinking about sticking with `constants` as concept name (and adding some non-enum related into about cons

[2022-06-09 18:02] junedev opened #2242 "Implement new Concept Exercise: net/http"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2022-06-09 18:03] junedev commented on #2242
This issue is claimed by @MikaeelMF.

[2022-06-09 18:11] andrerfcsantos commented on #2226
Sound good.

I agree with renaming this and making sure we name concepts just after things that are on the language.

If you agree, we can change this issue to be the improvement of that exercise (if any) and we make sure that both constants and this "enum" pattern are well covered.

[2022-06-09 18:12] junedev commented on #1886
@MikaeelMF I created a dummy issue for you here: https://github.com/exercism/go/issues/2242
I would recommend you start by thinking about the learning objectives. That means creating a short bullet point list of the things you want to teach in your concept document and concept exercise. You might also want to add a list of things you don't want to include so the scope stays reasonable. You can put

[2022-06-09 18:18] junedev commented on #2226
Yes, sounds good.

[2022-06-09 18:18] andrerfcsantos commented on #1373
@junedev related: https://github.com/exercism/go/pull/2133#issuecomment-1100138495

[2022-06-09 20:23] junedev commented on #2237
@andrerfcsantos Can this issue be closed now that the PR was merged?

[2022-06-09 20:26] andrerfcsantos commented on #2237
Yes, forgot to properly link the PR, sorry.

[2022-06-09 20:26] #2237 closed

[2022-06-10 00:37] andrerfcsantos commented on #2242
@MikaeelMF Just bouncing some ideas about this. There was discussion about if it would be possible to have a client program communicate with a server program on localhost (eventually server and client can be the same program). Asking around, it seems that this is possible.

Our containers run with networking disabled `--network none` and I did a little test to see if this could influence the capac

[2022-06-10 09:08] MikaeelMF commented on #1886
Great! Thanks!

[2022-06-10 09:11] Jasstkn opened #2243 "booking-up-for-beauty: add link and improve task with AnniversaryDate()"
Hi.

I have two questions/proposals:
1. Do you think it will be useful to add link to https://gobyexample.com/time-formatting-parsing as well? It was helpful for me to solve this task.
2. I think we can make it a bit harder for passing AnniversaryDate. For example, it can take a year as a parameter:
- if this argument is empty, it should print the current year anniversary,
- if it's not - print re

[2022-06-10 09:12] MikaeelMF commented on #2242
Thanks @andrerfcsantos for checking this out! My initial ideas are exactly revolving around testing solutions using a client/server structure as well.

[2022-06-10 09:12] MikaeelMF commented on #2242
Thanks @andrerfcsantos for checking this out! My initial ideas are exactly revolving around testing solutions using a client/server structure as well.

[2022-06-10 09:13] MikaeelMF commented on #2242
Great! Thank you for the instructions.

[2022-06-10 10:03] andrerfcsantos commented on #2243
Parsing time strings in Go can be confusing as it works differently from other languages, so more help is always welcome!

Assuming the year parameter would be an int, what exactly do you mean by "empty"?

The task currently makes the student get the current year which is something new to the task and makes the student create a date from scratch using all parameters., which is also new in the task

[2022-06-10 10:30] Jasstkn commented on #2243
Thanks for reply. I'll create a PR with new link then.

Regarding improvement, I was thinking about something like that:
[code]

But it seems to be not ideal at all so maybe you're right and it's better to have a separate task in scope of working with time..
We can get inspired by example here: https://www.sohamkamani.com/golang/time/#duration---adding-and-subtracting-time, for e.g. we have schedu

[2022-06-10 18:37] junedev commented on #2243
@andrerfcsantos Can this issue be closed or is there something else open to be addressed?

[2022-06-10 23:11] andrerfcsantos commented on #2243
@junedev While the first point for the link was addressed by #2246, there's still the question if we should add something to the exercise.

[2022-06-11 07:17] Jasstkn commented on #2243
Let me know if you have any thoughts about what I wrote here: https://github.com/exercism/go/issues/2243#issuecomment-1152218842

[2022-06-11 23:26] MikaeelMF commented on #2242
## Learning Objectives:
The general objective is to get someone who knows nothing about network programming to start to get curious and get introduced to resources to follow up on given subjects if they wish to learn more. Therefore I have tried to give a short introduction on the following topics:
1. what is HTTP?
2. What makes a client request in HTTP?
3. What makes a server response in HTTP?
4.

[2022-06-12 06:50] eklatzer opened #2250 "Grains"
Hey, when mentoring `Grains` (https://exercism.org/tracks/go/exercises/grains) I was asked, why the person must iteration from `0` to `65` and why this works:
[code]
After a bit of debugging I found out, that this is caused by an overflow:
[code]
When adding `2^65` after the overflow the result is the result that was expected and all tests pass. Is there anything we could do, to detect this, as th

[2022-06-12 11:26] andrerfcsantos commented on #2250
That's a good catch. I'm not sure there is really a good way to test for this or even if it's something we want to test.

A possible way to detect this overflow (at least the basic cases) would be to parse the AST of the solution and try to detect loops or shift operations that would cause an overflow, but this is probably something that the analyzer should do and not the tests for the exercise.

[2022-06-12 12:15] eklatzer commented on #2250
Do you want me to summarize the problem for the mentor nodes?

[2022-06-12 14:08] andrerfcsantos commented on #2250
@eklatzer That would be great! Feel free to message me on slack so we can exchange some notes :)

[2022-06-13 15:15] junedev commented on #2242
@MikaeelMF Please keep in mind that Exercism concepts/concept exercises are always about "How to do X in language Y? (for someone that already knows X)". They are not about "What is X?". In this case that means 1-3 would not be part of the concept, the concept would only be about 4+5 (How to make an http request in Go? How to set up an http server in Go?). For 1-3 you can say some brief introducto

[2022-06-14 22:20] MikaeelMF commented on #2242
Ah I see!
Thank you for letting me know!
I will change my outline to better match exercism policies!

[2022-06-15 21:21] andrerfcsantos commented on #2170
@AbhilashJN Assigned the issue to you, thanks a lot for the interest in collaborating.

The test on line 382 as the key "reimplements", which means that it is the one that must be considered since it supersedes the other one. In that particular test, the "reimplements" seems to reference its own id, instead of the ID it supersedes. I believe this is an error, but I'll try to confirm. In any case,

[2022-06-16 09:12] andrerfcsantos opened #2252 "Update the "generating test cases" section of the readme to mention configlet"
As suggested in https://github.com/exercism/go/pull/2251#issuecomment-1157379887, running configlet to generate the `tests.toml` for the exercise and then run the test generator is an important part of updating the exercises to be in sync with [problem specifications](https://github.com/exercism/problem-specifications).

We should mention this in the [Generating Test Cases](https://github.com/exer

[2022-06-16 11:49] eklatzer commented on #2055
Hey, I will try to fix this

[2022-06-16 12:09] eklatzer commented on #2055
Hey, I came across the following problem. Most of exercise-specific-generators look something like this:
[code]

All of them define the structure for the `canonical-data.json`. Later when comparing the test-cases to the data from the `tests.toml` every test-case would need the uuid to get the corresponding entry. What is the recommended way of handling this problem to follow guidelines of this pro

[2022-06-16 12:10] eklatzer commented on #2055
Another question: how should external dependencies be handled? I have created a draft code to play around with the handling of the `.toml` as I have never used one in Go. Therefore I use the external dependency `github.com/pelletier/go-toml/v2`. What is the recommended way of handling this dependency?

[code]

[2022-06-16 15:27] eklatzer commented on #2055
Regarding this issue we could use something like this: Instead of passing a `interface{}` as storage for the JSON data to `func Gen`, we could create our own interface:
[code]
Then we have to adjust `func Gen` something like this (pseudo-code):
[code]

[2022-06-16 22:19] MikaeelMF commented on #2242
I have created a draft PR for this issue. I have written the client section and would really appreciate it if you could look at it and share your thoughts and ideas with me.

P.S. I don't know if it is OK to create a draft PR and check things step-by-step in exercism, so please let me know if it is against here's working manners and I will close the PR right away. I just thought the concept will b

[2022-06-16 23:29] andrerfcsantos commented on #2242
@MikaeelMF It would help if in the description of the PR you could add some indication of the status of the PR. With this I mean a brief list of things you consider done (hence we can give feedback on), what is in progress and what is planned. This makes us avoid giving feedback on something that is not finished and avoid suggestions of things you've already planned.

[2022-06-16 23:44] MikaeelMF commented on #2242
Oh My bad! I will do so right away!

[2022-06-17 14:23] qiankunxienb opened #2256 "The answer of task4 of Interest is Interesting is wrong."
Here is my code:

[code]

Here is the last test case:

<img width="597" alt="image" src="https://user-images.githubusercontent.com/71627005/174317258-ec6ae421-258c-402f-8436-1582a16c4492.png">

The correct answer is 104, instead of 85:

[code]

[2022-06-17 14:46] andrerfcsantos commented on #2256
The test is correct. The problem with your solution and trying to use a formula, is that the interest rate is not constant, and it grows as your balance grows, so you can't assume your interest rate will always be `0.01621` - it'll change over the years as the balance increases.

[2022-06-17 14:56] qiankunxienb commented on #2256
Yes, you are right. I get the point.

[2022-06-17 14:56] #2256 closed

[2022-06-17 17:50] eklatzer commented on #1911
Hey, I have checked the skipped parts and I think that both `t.Skip()` are only used to tell the developer of the tests if the used input (`test6.diagram`) would trigger the test-case to fail. The given test is only used to check, if `func NewGarden()` modifies the second parameter (`children []string`) in place. So here is what the if's with the `t.Skip` are for:

[code]
-->If the given input is

[2022-06-17 18:04] eklatzer commented on #1911
We could also change the `t.Skip` to `t.Fatalf`. If a developer changes the input used for the test, the CI-job will not pass, as the example solutions fail, but I do not know if test should fail, if the used input is not as expected. Here is, what it could look like:
[code]

[2022-06-18 02:53] andrerfcsantos opened #2257 "Remove suggestion of `sync.Map` from Parallel Letter Frequency"
In [instructions.append.md](https://github.com/exercism/go/blob/main/exercises/practice/parallel-letter-frequency/.docs/instructions.append.md) for `parallel-letter-frequency`, we have a link for the docs of `sync.Map`.

Some students actually read this and get the idea they should use a `sync.Map`. This is terrible advice for this exercise because:

1. Even the docs discourage the use of this map

[2022-06-18 07:22] Jasstkn commented on #2257
That's true. Firstly, I was trying to use sync.Map but it wasn't obvious how to do it and I failed.
For me also several articles were helpful:
- https://golangbot.com/buffered-channels-worker-pools/
- https://www.digitalocean.com/community/tutorials/how-to-run-multiple-functions-concurrently-in-go
- https://www.golang-book.com/books/intro/10

[2022-06-18 20:15] #1755 closed

[2022-06-19 04:16] eklatzer opened #2258 "Exercise diamond \n at end of diamond"
Hey, as discussed in #2255 we could remove the required `\n` at the end of the diamond, as also the instructions do not have one as you can see here:
Diamond for letter 'C':
[code]

[2022-06-19 12:13] andrerfcsantos opened #2259 "Update track README"
Over the years, the track README become quite big with some large sections.

To make it easier to read, one suggestion would be to make each big section that is about a specific topic a separate .md file as a track docs file ([/docs](https://github.com/exercism/go/tree/main/docs)) and in the main README we can put links to those files. By making these sections into track docs, we also give them mo

[2022-06-19 12:17] #2252 closed

[2022-06-20 17:23] AshiishKarhade opened #2262 "Problem in the "Gopher's Gorgeous Lasagna" question"
I found a problem with the 2/6 test cases while attempting the question "[Gopher's Gorgeous Lasagna](https://exercism.org/tracks/go/exercises/lasagna/)".

I believe the given test cases provided in the system are WRONG.

**The failing test cases are - 5 and 6**

Problem -

`func elapsedTime(numberOfLayers, timeInOven){
    return (numberOfLayers * 2) + (40 - timeInOven)
}`

**TestCase 5 -  layers:

[2022-06-20 20:09] Jasstkn commented on #2262
@AshiishKarhade hey. I guess you don't need to subtract expected  amount of time and actual one. Because according to the exercise:

Basically, you need to sum up total time for cooking all layers and actual time in the oven.

[2022-06-21 03:53] AshiishKarhade commented on #2262
@Jasstkn Thank you for checking out.
But there's a function
`
func RemainingOvenTime(actualMinutesInOven int) int {
    // calculates remaining oven time left
}
`
It makes no sense for this function to accept the parameter _actualMinutesInOven_ and return it as it is

Also, in the instructions - **TASK 2**
You will find more clarification here.
![Screenshot 2022-06-21 at 9 22 03 AM](https://user-i

[2022-06-21 06:09] MikaeelMF commented on #2242
I have completed my To-Do list for sections that I am going to cover about the server. I initially wanted to cover middlewares as well but figured maybe it becomes too long and also is not really beneficial to the general goals of the concept.
Please let me know if there are any sections that you believe must be discussed and it is missing from my list.

[2022-06-21 07:45] Jasstkn commented on #2262
But it's not cooking time. It's time that you have spent working on the lasagna:

Function `RemainingOvenTime` refers to the time that you need to keep cooking lasagna in the oven. It's not connected with the `ElapsedTime` function.

[2022-06-21 08:19] #2262 closed

[2022-06-21 17:16] BethanyG commented on #2259
@andrerfcsantos  @AshiishKarhade  -  I'm happy to help with this one as well, if you want to collaborate.  😄

[2022-06-21 23:52] #2222 closed

[2022-06-22 03:35] AshiishKarhade commented on #2259
Yes @BethanyG , I would love to.

[2022-06-22 07:50] andrerfcsantos commented on #2259
@AshiishKarhade @BethanyG All yours! :)

Thank you both for the availability to work on this.

[2022-06-22 11:53] andrerfcsantos commented on #2257
Sure! Thanks for taking interest in the issue. Yeah, I think those links are good, feel free to include them.

[2022-06-23 04:19] AshiishKarhade commented on #2259
@BethanyG Hi, This is my very start for open source contribution. I know little things and would expect your little help and guidance to work on this issue. Also, I am not very sure how does this work by collaborating. How do we go forward?

[2022-06-24 04:58] BethanyG commented on #2259
Hi @AshiishKarhade 😄

Apologies for the slow response.  Got a bit buried with some work.

I am happy to answer any questions I can for you.  This issue is mostly editing/writing in markdown that will display here on GitHub and exercism.org - so the bulk of the work is figuring out what information needs to stay in the README, what information should be moved into a track-specific CONTRIBUTING doc,

[2022-06-24 09:01] #2257 closed

[2022-06-24 18:11] MikaeelMF commented on #2242
Hi!
Just wanted to let you know that the main text for introduction is completed. I just need to do some formatting and add the appropriate reference for a code snippet that I've used. So I would appreciate it if you would check it out and see if anything comes to your mind that is missing.

[2022-06-25 13:22] MikaeelMF commented on #2242
I have fixed the formatting based on exercism guidelines and I think the content is ready to get merged.
Only one problem that I have encountered for using configlet to change the main config.json, I couldn't install it using the script in go/bin. I encounter error "curl: (23) Failure writing output to destination".(btw I'm using a macOS 12.4)

[2022-06-25 17:08] andrerfcsantos opened #2271 "Bank Account: fix links in instructions"
In the [Bank Account](https://exercism.org/tracks/go/exercises/bank-account) exercise, the [instructions.append.md](https://github.com/exercism/go/blob/main/exercises/practice/bank-account/.docs/instructions.append.md) has some links that could use some formatting:

<img width="742" alt="image" src="https://user-images.githubusercontent.com/6928620/175783330-d1fedb66-36cc-4372-beed-a8977f690ce0.pn

[2022-06-25 17:10] Jasstkn commented on #2271
@andrerfcsantos just noticed. would like to contribute this if you don't mind. :)

[2022-06-25 17:21] andrerfcsantos commented on #2271
@Jasstkn Go for it :)

[2022-06-26 09:09] #2271 closed

[2022-06-28 14:46] junedev commented on #1911
I would recommend to use `t.Fatalf` instead of `t.Skip` as mentioned in the last comment above. But I would try to make it very clear in the failure message that this failure is not related to the student code, e.g. `"error in test setup: ..."`. (This is also how we handle such situation at work.)

@eklatzer With that input, do you want to go ahead an make a PR?

[2022-06-28 14:51] eklatzer commented on #1911
Yes, I will do after my vacation.

[2022-06-28 20:17] junedev commented on #2055
@eklatzer I don't think changing the signature of `Gen` (and with it a lot of code in all the exercises) is necessary to solve the issue at hand. I would recommend the following approach where we modify the canonical-data.json data to out liking before passing it on.
1. Inside the `Gen` function, parse the toml to get the list of uuids to exclude.
2. Unmarshal the `canonical-data.json` file conten

[2022-06-28 20:26] andrerfcsantos commented on #2258
Alternatively, we can make the tests accept both forms, by comparing the newline trimmed versions of expected vs. actual. This might make the tests harder to debug though.

I don't think there's a right answer here because what's more convenient depends on the algorithm the student is using. I'll post here the two kinds of solutions I see the most when mentoring, one would benefit from having a `\

[2022-06-28 20:57] junedev commented on #2258
Thanks @andrerfcsantos for the insights! I forgot to consider the different approaches here.

[2022-06-29 15:58] junedev commented on #1583
We will make these improvements part of https://github.com/exercism/go/issues/2226 so closing this issue to avoid duplication.

[2022-06-29 18:20] junedev commented on #2226
@andrerfcsantos I updated the issue title and the description. Would be great if you could double check it makes sense. Feel free to make more edit as you see fit.

[2022-06-29 18:59] andrerfcsantos commented on #2226
@junedev Thanks for taking care of this. I took a look and it sounds great!

[2022-06-29 19:26] junedev commented on #2250
@eklatzer The mentor notes live in this repository/folder: https://github.com/exercism/website-copy/tree/main/tracks/go/exercises
It would be great if you could create a PR there. If you feel like it, you can create "full" mentor notes for grains like we have for hamming https://github.com/exercism/website-copy/blob/main/tracks/go/exercises/hamming/mentoring.md. Otherwise, you can also just add th

[2022-06-29 20:02] Jasstkn commented on #2243
@junedev Okay, I don't have any objections.

[2022-06-29 20:02] #2243 closed

[2022-06-30 05:11] junedev commented on #2055
@AbhilashJN I thought the only reason the generator needs to be run with that environment variable is that there was no go mod file in the directory. If this wasn't the only reason, do you know why the env is needed in the first place?

[2022-06-30 07:14] junedev commented on #2055
@AbhilashJN Yes, that makes sense. I read that it is possible to use the replace directive for local imports (https://thewebivore.com/using-replace-in-go-mod-to-point-to-your-local-module/) but that would mean to add this replace directive in the go.mod file of each exercise.
The better solution seems to be to use the new workspace mode that was introduced with Go 1.18: https://go.dev/doc/tutorial

[2022-07-01 21:01] eklatzer commented on #2258
Thanks @andrerfcsantos for the examples. There is of course no right answer for this issue, but we should at least adjust the instructions to make clear what is expected (`\n` or not). Which version do you prefer?

[2022-07-02 20:53] junedev commented on #2258
I pondered this a bit more and my tendency is now towards actually requiring no line break at the end as @eklatzer originally suggested. Contrary to what I wrote before, I think that it actually adds value to the exercise because the scenario that you build something up line by line but then need to do something different at the end also happens in the real world.
Let's say we stated clearly in th

[2022-07-02 21:11] #1911 closed

[2022-07-04 12:44] eklatzer opened #2281 "Missing test-cases for election-day"
Hey, when mentoring `election-day` I have seen the following code:
[code]
It only passes as there is only the following test case:
[code]

We should add further test cases here

[2022-07-04 17:47] andrerfcsantos commented on #2258
I also agree with this. I think my position of allowing both comes from my brief experience in competitive programming, where my team got screwed a lot by these kinds of things. Failing a submission because of missing or extra whitespace at the end always gave me this "unfair" feeling.

I agree with imposing no extra line at the end, but we must state that clearly in the exercise description and w

[2022-07-04 18:35] eklatzer commented on #2258
So summarized: no `\n` at the end but a specific test (or maybe included in the other tests) that checks if the only error is a additional `\n` at the end?

[2022-07-04 18:42] andrerfcsantos commented on #2258
Yes :) I don't think it needs to be a new test, can be included in the existing ones.

[2022-07-04 21:40] eklatzer opened #2282 "Missing test case for exercise chessboard"
Hey, when mentoring `chessboard` I have seen the following submission:
[code]

The instructions: Return a count of zero (0) if the given file is not a valid one (not between 1 and 8, inclusive).

To really cover this, we should add further test cases. At least a test case with 0 and one with a negative value for `file`

[2022-07-05 06:50] burakkarasel commented on #2281
I faced it accidentally it is a good catch

[2022-07-05 07:08] #2282 closed

[2022-07-07 06:31] #2281 closed

[2022-07-08 09:26] eklatzer opened #2289 "Formatting of instructions of meteorology"
Hey, when doing the exercise `meteorology` I have seen, that the format of the instructions could maybe be improved:
![image](https://user-images.githubusercontent.com/47006675/177961739-e033ab17-eae5-4df6-b103-b84d4da3cbe9.png)

We should maybe move the format to a/the codeblock

[2022-07-08 10:03] eklatzer commented on #2258
I will work on this one when #2279 is finished, so I can directly update the generator

[2022-07-08 11:48] eklatzer commented on #2056
Hey, I think this will be done when the discussion in #2279 is finished so you could assign me

[2022-07-08 12:08] junedev commented on #1892
@eklatzer Not sure whether you mean you want to include this in #2279 but if yes, it would be better if this would be separate PR. Otherwise if the added code for this feature has issues that blocks the other PR for now reason. And the more things are in one PR, the harder it is to review.

[2022-07-08 12:32] eklatzer commented on #1892
I will wait for #2279 to be merged and then I will do it

[2022-07-09 08:13] eklatzer opened #2292 "Missing test case for logs-logs-logs"
Hey, when mentoring `logs-logs-logs` I was asked to add one test case. This solution also passes the current test cases:
[code]
We could for example add the following test case:
[code]

[2022-07-10 07:33] myworkcircle commented on #1373
@junedev In this exercise should i be writing a testCase for `Recover()` function also? My question is that, i have added a testcase which for a method `AddPanic()` which let us know if user have written some code which  created `panic` now, if i want to write a testCase that checks whether user has used panic recovery.

[2022-07-10 08:07] andrerfcsantos commented on #2289
A full codeblock instead of the inlined form could work better here indeed and it is worth trying.

Thanks for the suggestion!

[2022-07-10 09:25] myworkcircle commented on #1373
My question basically is, how do i write a testCase that checks for panic created by function and then same panic should be recovered in another function function. To do that recover in exampler.go in the `AddPanic()` method i need to defer a call to `RecoverPanic()` method, but then the panic creation test case fails.

[2022-07-10 09:56] myworkcircle commented on #1373
I have removed `AddPanic()` method. I have simply written testCases for checking if the user has recovered panick in another function and if the user has resolved the panic condition in another function

[2022-07-10 12:58] #2289 closed

[2022-07-10 15:40] #2292 closed

[2022-07-12 08:36] eklatzer opened #2300 "Update of README to document how to add exercise generator"
Hey, with the changes in #2279 the structure of the exercise generators changed. We should update/add a part on how to develop a new generator for an exercise. The two significant changes:
The signature of `func Gen` changed. It now accepts a `map[string]interface{}` instead of `interface{}`. Additionally, it supports recursively searching the `canonical-data.json` for test cases. All cases are fl

[2022-07-12 08:42] junedev commented on #2300
Yes, I also thought it the vicinity of the part you linked is a good place.

[2022-07-12 13:42] junedev commented on #1373
@myworkcircle I haven't looked at the current state of the PR, just leaving some thoughts in the issue. I was about to suggest something similar/the same as you mentioned above. There should be a task that requires writing a function that calls a function (provided as argument) that panics. Then the student is supposed to e.g. return the error message that was revealed when recovering the panic. T

[2022-07-12 17:31] eklatzer opened #2302 "Update of exercise generators"
Hey, as the test case generator was updated and refactored in #2279 we also need to update the generators of the exercises that have one. The signature of `func Gen` changed. It now accepts a `map[string]interface{}` instead of `interface{}`. Additionally, it supports recursively searching the `canonical-data.json` for test cases. All cases are flattened to a list and grouped by the value of `prop

[2022-07-12 17:32] eklatzer commented on #2302
Currently the following exercises need an updated:
- [ ] acronym
- [ ] all-your-base
- [ ] allergies
- [ ] alphametics
- [ ] anagram
- [ ] armstrong-numbers
- [ ] atbash-cipher
- [ ] binary-search
- [ ] bob
- [ ] book-store
- [x] bowling
- [ ] change
- [ ] clock
- [ ] collatz-conjecture
- [ ] connect
- [ ] custom-set
- [ ] darts
- [x] diamond
- [ ] dominoes
- [ ] flatten-array
- [x] forth
- [ ] gi

[2022-07-12 17:32] eklatzer commented on #2302
The currently checked generators are covered in #2279

[2022-07-13 19:26] #2056 closed

[2022-07-14 17:10] bobahop opened #2323 "Card Tricks: clarify GetItem out-of-bounds handling"
Card Tricks used to return the indexed value and true/false for it the index was valid. If the index was invalid, then `0, false` could be returned.

That was changed to returning `-1` for an invalid index. But there is automated advice elsewhere that:

It seems that returning `-1` for an out-of-band value might be leading the student down the wrong path.

So, as per discussion with @andrerfcsanto

[2022-07-14 18:37] RezaSi commented on #2182
I'd like to work on this

[2022-07-15 09:22] andrerfcsantos commented on #2323
I agree with doing this if keeping the exercise as is.

[2022-07-15 12:39] bobahop commented on #2323
I'm with both of you on keeping as is with an admonition.

[2022-07-15 19:14] junedev commented on #2323
Great, I'll use this issue to track that the admonition gets added. I changed the title for that.

[2022-07-15 19:18] bobahop commented on #2323
I love the word "admonition" btw. It's so fun to pronounce.

[2022-07-16 08:09] #2300 closed

[2022-07-16 08:18] #2258 closed

[2022-07-16 10:23] andrerfcsantos commented on #282
@petertseng We ran into the `var _ error = err` when doing some updates to the tests for `largest-series-product` and are a bit confused by this bit of code and what is doing. From #381 looks like this was introduced as a compile-time check for the type of `err`, but I'd argue this is not needed. Since `err` is assigned as the second return of functions that return an `error` as the second return

[2022-07-16 12:17] junedev commented on #2182
@RezaSi I discussed with @andrerfcsantos and we decided that it is fine for this exercise to assume that the student already knows goroutines. So when you move on to creating the exercise, goroutines can be included. I adjusted the description above accordingly.

[2022-07-16 12:38] RezaSi commented on #2182
Tnx, and yes goroutines are needed for this exercise.
I already started it(https://github.com/exercism/go/pull/2324) and I need your advice on my PR.

[2022-07-16 12:49] junedev commented on #2182
@RezaSi Yes, I am aware you are waiting for a review. 🙂 Sorry for the delay but I (or André) need to find some slot where I can really focus on this. That's not always easy to arrange with work, family etc.

[2022-07-16 17:13] petertseng commented on #282
Here is an example of the code we had in mind.

[code]

They returned a `*struct{}` from `decrementIfPossible` when they should be returning an `error`.

[2022-07-16 19:07] Ilingu opened #2351 "Kindergarten garden: go mod module makes no sense"
Hi, while doing the `kindergarten-garden` exercise I notice a **very minor** problem in the `go.mod` file.

The module is set to _"are"_ while the package is named _"kindergarten"_, so I think there is some type of **typo** here.

I know that it's an insignificant issue, but I don't think that it was set to _"are"_ on purpose, besides all others exercises have a coherent naming which respect the *

[2022-07-17 08:21] kishannsangani opened #2352 "Missing Test Case in Go exercise "Census""
[Census exercise in Go](https://exercism.org/tracks/go/exercises/census) has a task of completing the function `HasRequiredInfo` that validates if resident has all the required info. The test cases have empty address but doesn't have `nil` address. Shouldn't `nil` test case be a valid one?

[2022-07-17 11:34] andrerfcsantos commented on #2352
It should.

So the task here is to add one (or more) test cases where the `Address` field is `nil`.

[2022-07-17 11:39] andrerfcsantos commented on #2351
Well spotted!

So the task here is to change the module in [go.mod](https://github.com/exercism/go/blob/main/exercises/practice/kindergarten-garden/go.mod). I suggest changing it to have the same name as the package: `kindergarten`.

Checking if the name in the go.mod file matches the package is something that we can maybe add as a check in [gomod-syns](https://github.com/exercism/go/tree/main/gom

[2022-07-17 12:04] junedev commented on #2352
You raise an interesting point here but probably a different one than you think.

A check like `if r.Address["street"] == ""` will never panic or something like that, even if Address was `nil` in the resident struct. Go always return the zero value of the type of the map values.

That means is probably no code that works for an empty map but fails for nil. Since the test cases are not shown to stu

[2022-07-17 12:18] andrerfcsantos commented on #2352
I still think the `r.Address == nil` test case has value. A student might initially only check for the `r.Address != nil` case thinking it is everything they need to check. But then if they look at the tests they see that the `nil` case is passing but not the test for `r.Address["street"]` being empty.

This also means that it's probably a good idea to have the `r.Address == nil` test case before

[2022-07-17 14:50] #2351 closed

[2022-07-17 16:16] eklatzer commented on #1892
Note for future: we could use the feature of this issue in the exercise `reverse-string` as there is currently the following additional test case:
[code]

[2022-07-17 18:37] eklatzer commented on #1892
Same for `roman-numerals` (will also need adjustment in the generator):
[code]

[2022-07-18 06:29] kishannsangani commented on #2352
@andrerfcsantos, @junedev

I assumed that the `nil` map might throw panic even during the read as well. But apparently, that is not the case. Yet, I will raise PR for `r.Address == nil` so that the tests are incremental.

[2022-07-18 08:00] #2352 closed

[2022-07-18 08:46] andrerfcsantos opened #2379 "Support external dependencies in the Go track"
This issue is meant as a discussion and tracking issue for the support of external dependencies in the Go track.

## Current state

Right now the test-runners run in a container with no network access, which makes the use of external dependencies not possible at the moment.

## Possible solution

A possible solution is to have a list of allowed external dependencies in a file, and make the Dockerf

[2022-07-18 18:17] eklatzer commented on #1892
Same for `two-bucket`:
[code]

[2022-07-19 08:00] junedev commented on #1892
@eklatzer Please don't start on this yet. I think we need to discuss again what is the best approach here. I am not sure anymore the extra json file helps us much compared to what was done in those examples you found. I will leave some more thoughts on this later.

[2022-07-19 09:51] andrerfcsantos opened #2386 "census: missing tests for the `Count` function"
The last task asks to write a function `Count` that counts all the residents with valid information. However, the invalid residents we have also happen to have a missing address. This means that a solution that only tests for the presence of the address passes the tests:

[code]

## Tasks

- [ ] Add more tests to the `Count` function in [census_test.go](https://github.com/exercism/go/blob/main/exe

[2022-07-19 11:02] Jasstkn commented on #2386
@andrerfcsantos hey. can I work on it?

[2022-07-19 11:15] andrerfcsantos commented on #2386
@Jasstkn Go ahead!

[2022-07-20 09:30] #2386 closed

[2022-07-24 11:08] bobahop commented on #2379
All of those sound good to me, but I don't know how much it may complicate things for the maintainers. I'm not sure I would even know how to prioritize them. They are "nice to have" but maybe not "must have."

[2022-07-26 23:10] saurami opened #2394 "Need For Speed | Task 3 | Drive the Car"
Instructions for "Task 3 - Drive the Car" are not clear:

Implement the Drive function that updates the number of meters driven based on the car's speed, and reduces the battery according to the battery drainage. If there is not enough battery to drive one more time the car will not move:

[code]

Whats the relation between distance, speed and battery drain ?
OR
Whats the formula to calculate the

[2022-07-27 12:39] junedev commented on #2250
Yes, I forgot to link the issue before merging. Thanks for the reminder.

[2022-07-27 12:39] #2250 closed

[2022-07-27 16:37] eklatzer commented on #2394
Hey, in the first lines of the instructions you can find the following line, which describes this: `Each time you drive the car using the remote control, it covers the car's speed in meters and decreases the remaining battery percentage by its battery drain.`

[2022-07-27 17:24] saurami commented on #2394
That isn't enough information. There's no information about calculating distance.

[2022-07-27 17:52] eklatzer commented on #2394
`Each time you drive the car using the remote control, it covers the car's speed in meters`--> each time you `Drive`, the distance increases by the value of `speed`

[2022-07-28 06:23] saurami commented on #2394
Just finished with the solution.

`Each time you drive the car using the remote control, it covers the car's speed in meters`--> each time you Drive, the distance increases by the value of `speed` if the battery is 100%

[2022-07-28 08:26] eklatzer commented on #2394
This is not correct: it is done if the battery>=battery drain, not if the battery is 100%

[2022-07-28 20:03] saurami commented on #2394
Looks like there's a bug in the test cases for the drive function.

The below code for `Drive` function passes all 5 `TestDrive/` test functions:

[code]

[2022-07-29 04:21] eklatzer commented on #2394
Hey, thanks for the info, I created a PR to cover a case that also allows to drive, but with less battery than 100%. The case directly covers `battery=batteryDrain`.

[2022-07-30 10:06] andrerfcsantos commented on #2379
The more I look into it, I think it might simplify things for us actually. Specially the dependencies around tests, it means we can have more standard ways to write tests. An example of this is how on some tests we are repeating functions to check if slices are the same, or if two floating point numbers are the same given a threshold - I think it would be fine to delegate these tasks to an externa

[2022-07-30 10:10] #2323 closed

[2022-07-30 11:32] andrerfcsantos opened #2400 "Update instructions on how to use the the `run-generators` script"
The script `bin/run-generators` was recently changed in #2395

We should have the README briefly mention how to use this script.

[2022-07-30 11:34] eklatzer commented on #2400
I will do it when I have time

[2022-07-30 12:23] #2394 closed

[2022-07-30 22:07] bobahop opened #2401 "[Card Tricks] Fix link in admonition"
Need to change format of link in admonition so that it renders properly.

Need to change `[zero value][zero value]`
`[zero value]: https://www.geeksforgeeks.org/zero-value-in-golang/`

to

`[zero value](https://www.geeksforgeeks.org/zero-value-in-golang/)`

[2022-07-30 22:29] #2401 closed

[2022-08-04 15:27] junedev commented on #1892
Sorry for putting this on hold, here my thoughts on the matter.

When I originally wrote this issue, I did not know we already had a "solution" for adding custom tests. Comparing the existing solution of appending test cases to the generated test cases list to the idea in this issue to have a separate json file, it feels to me the existing way might be better. The idea with the json file only work

[2022-08-04 15:35] eklatzer commented on #1892
I completely agree, do you want me to add the docs?

[2022-08-06 16:33] junedev opened #2411 "Use an assertion library (e.g. testify) for all exercise tests"
This can of worms was opened up in Slack discussion and is something that has been on my mind for a while so I want to use this issue to follow up on the discussion.

### Question: Do we want to use some external package like [testify](https://github.com/stretchr/testify) as assertion library in all the exercise tests?

The test runner can handle external dependencies by "baking them in" when crea

[2022-08-06 16:40] junedev commented on #2379
While both relate to adding packages in the test runner, I think there are two separate issues to consider here and I will note down my thoughts on those separately.

1. Do we want to use some external package as assertion library in all the exercise tests?
2. Do we want to bake-in additional packages into the test runner so that the students can use those when solving the exercises?

I created a

[2022-08-06 17:25] #1892 closed

[2022-08-06 19:25] NobbZ commented on #2411
As much as I love (d) testify at work, as much am I opposed using it, as long it isn't *the* one-stop-shop solution in the community.

As long as there are competitors that are equally used in the wild, using a certain framework here, might cause confusion for students that (have to) use something else at work.

If we stick to gos provided testing "library" we lower the burden, as it is more likel

[2022-08-07 10:57] junedev commented on #2411
I checked what some prominent Go projects are doing, I'll leave my findings here for reference:
* Hashicorp Consul, Nomad and Vault are heavily tested with testify, Terraform uses stdlib and https://github.com/go-test/deep (I did not check all their other big products)
* Etcd has testify in ~50 test files
* Kubernetes has testify in ~300 test files

[2022-08-07 19:42] eklatzer commented on #918
Hey, I will add the exercise

[2022-08-08 18:18] #2400 closed

[2022-08-08 19:23] saurami commented on #918
@eklatzer - can you share the updated link to implement an exercise from specification ?

The [current link](https://github.com/exercism/docs/blob/main/you-can-help/implement-an-exercise-from-specification.md) shows a 404

[2022-08-08 19:55] eklatzer commented on #918
I hope this helps: [implement-an-exercise-from-specification](https://github.com/exercism/legacy-docs/blob/9f69fa90dbd8d1a91c9b3ad179c468dd9ae4c453/you-can-help/implement-an-exercise-from-specification.md)

[2022-08-08 20:31] #2302 closed

[2022-08-09 00:45] funwithbots opened #2417 "Improve test for Animal Magic / GenerateWandEnergy"
The current test validates that different values are generated but it doesn't detect typecasting `rand.Intn` to float64. This passes and I don't believe meets the intent of the challenge.

`
func GenerateWandEnergy() float64 {
   return float64(rand.Intn(12))
}
`

[2022-08-09 08:08] junedev commented on #2417
@norbs57 In case you are still around, would you like to take a look at this as you are the author of the exercise?

[2022-08-09 08:12] junedev commented on #918
@eklatzer Is there really no version of this on any non-legacy repo or `exercism.org/docs`? Did you find the instructions in there were still roughly correct?

[2022-08-09 08:18] eklatzer commented on #918
I only searched for the name of the file and Exercism and found this one. Did not search further as everything was clear for me

[2022-08-09 11:33] junedev opened #2418 "CI should run tests and linters for non-exercise folders"
Currently, we only run the tests and linter for the exercises but we should also check everything is passed for the generators and for the gomod-sync repo. This can be done by modifying some existing CI script or adding a new one.

[2022-08-09 11:40] norbs57 commented on #2417
We could add a test that divides the range [0..12] into a number of smaller intervals, say 20 intervals each of size 0.6, e.g. [0..0.6), [0.6..1.2), [1.2..1.8), etc. The test program would count the frequency of generated numbers in each interval, and it would flag up student submissions where the frequency distribution was statistically highly improbable.

In order to detect more sophisticated "n

[2022-08-09 11:50] junedev commented on #2417
I like the idea with the intervals. It doesn't have to be more sophisticated just as you said.
The check for "highly improbable" can also just be something simple like "2 buckets with 0 values inside after some large number of tries".

@norbs57 @funwithbots Anyone up for creating the PR with the new test?

[2022-08-09 12:09] funwithbots commented on #2417
math/rand pretty much only gives back some variation of `int` or `float` values. I think detecting use of `int` for the test is probably sufficient. If someone goes nuts and does something elaborate with floats or intentionally games the test, I agree it's not worth trying to gauge true randomness. There are so many ways to break this short of a statistical analysis.

`float64` gives enough digits

[2022-08-09 12:42] norbs57 commented on #2417
The bucket-approach would also deal with submissions that leave out part of the expected range, say they never generate numbers less than 1 or larger than 11.  Having said that, you could also write some separate tests to deal with those.

The approach of checking frequencies could also be used to improve testing of functions `RollADie`  and `ShuffleAnimals` functions in this exercise.

[2022-08-09 13:42] norbs57 commented on #2417
I am taking a break from Exercism (and Slack) during the Summer. Having said that, I would be happy to check the probability of "false positives" in the "Animal Magic" additional tests. Please drop me an email if you would like me to look at that.

[2022-08-09 13:59] funwithbots commented on #2417
Sounds good! I'll open a PR for this issue. Once it's good, I'll plan to tackle the other two exercises.

[2022-08-09 17:03] andrerfcsantos commented on #2379
From the top of my head, dependencies that would be good to add would be:

- [golang.org/x/text/cases](https://pkg.go.dev/golang.org/x/text/cases) - mainly because it has `cases.Title`, which is the recommended function to use instead of the deprecated `strings.Title` function of the standard library. I don't know at the top of my head, but I remember a function like this being potentialy useful i

[2022-08-09 17:04] andrerfcsantos commented on #2411
I'm also in favor of using testify. Right now there's a couple of problems with our tests that testify (or a similar library) could help us solve:

- We have a lot of duplicate functions that are doing basically the same things, either to check if slices are equal, check if a floating number is in a given range to adjust for imprecisions in the representations of floats.
- It could help making our

[2022-08-09 18:06] junedev commented on #2379
@andrerfcsantos Do you know how/where other tracks document which dependencies are available so students could look it up if needed?

[2022-08-09 18:52] andrerfcsantos commented on #2379
The only place I know to look for these is the file with the dependencies used in the build of the docker image: [rust's supported_crates file](https://github.com/exercism/rust-test-runner/blob/main/local-registry/supported_crates).

But I think we can include this list easily in the track docs.

One thing Rust had problems in the past and would be great if we could avoid, is also to be clear abou

[2022-08-10 04:33] junedev opened #2421 "Add comment at the top of generated files with test cases"
Every now and then it happens that contributors directly edit the cases file which is produced by the generator. As we might move towards autogenerating issues about updating exercises that contributors can pick up, this problem might happen more often.

To avoid this, it would be good if the main generator script would add a comment section at the top explaining that the file is auto-generated an

[2022-08-10 20:19] funwithbots commented on #2417
PR is open and all sanity checks passed. Review anyone?

https://github.com/exercism/go/pull/2420

[2022-08-11 11:22] junedev commented on #2379
If those two don't get added in 1.20, we should also consider adding them to our list:

- https://pkg.go.dev/golang.org/x/exp/maps
- https://pkg.go.dev/golang.org/x/exp/slices

I thought they would land with 1.19 but they didn't.

[2022-08-11 18:19] junedev commented on #918
I couldn't find a good equivalent in the docs repo, I will open an issue there.

[2022-08-11 18:25] eklatzer commented on #2421
Hey, I will adjust the generator

[2022-08-11 18:49] eklatzer commented on #2418
Hey, I can do that

[2022-08-11 19:34] tehsphinx opened #2424 "Tests too lax on Lasagna Master"
On task 3 of `Lasagna Master`, the `AddSecretIngredient` this is what should be done:
[code]

But solutions that just overwrite the last ingredient (instead of adding an additional one) like the following are also considered correct:
[code]

That shouldn't be the case. Also this solution would change the input which is not allowed according to the description.

[2022-08-11 19:41] tehsphinx commented on #2424
It seems I was looking at an older exercise version and now I'm wondering why the change to replace the last item instead of adding an additional one.

[2022-08-11 20:45] junedev commented on #2424
@tehsphinx Please see https://github.com/exercism/go/issues/2036 for the reasoning.

Let me know whether there is still something to be improved here or whether the issue can be closed.

[2022-08-12 11:00] eklatzer commented on #1451
Hey, as we discussed adding additional in #1892, this issue could be continued

[2022-08-12 11:16] junedev commented on #1451
Yes! The documentation how to add custom test cases can be found here: https://github.com/exercism/go#tests

[2022-08-12 11:20] eklatzer commented on #2098
Hey, to get an overview I used the following script:
[code]
Seems like the following exercises still need subtests:
- [ ] ./exercises/concept/animal-magic/animal_magic_test.go
- [ ] ./exercises/concept/chessboard/chessboard_test.go
- [ ] ./exercises/concept/deep-thought/deep_thought_test.go
- [ ] ./exercises/concept/weather-forecast/weather_forecast_test.go
- [ ] ./exercises/practice/accumulate/ac

[2022-08-12 12:39] eklatzer commented on #1451
@CoderYihaoWang Do you want to add test cases?

[2022-08-12 20:49] #2421 closed

[2022-08-13 08:39] CoderYihaoWang commented on #1451
Thanks for letting me know @eklatzer, and glad to know that custom test cases are supported now. I will have a look and add those tests soon :)

[2022-08-13 19:39] saurami commented on #2226
I'd like to work on this

[2022-08-13 19:46] saurami commented on #1391
@junedev I'd like to work on this

[2022-08-13 20:17] junedev commented on #2226
@saurami You commented on 2 issues that you would like to work on them. Could you decide for one of them and work on that one first and once it is done pick up the next one?

[2022-08-13 20:22] saurami commented on #2226
This is going to be my first contribution towards a concept exercise.

Which one would you recommend ?

[2022-08-13 21:48] saurami commented on #2226
I'm going to start with the [other PR](https://github.com/exercism/go/issues/1391).

[2022-08-14 05:00] junedev commented on #2226
Honestly, both tasks have their own difficulties so I couldn't have picked for you. As you made a decision now, I will assign you accordingly.

[2022-08-14 09:51] andrerfcsantos commented on #2417
Can this be closed since #2420 is merged?

[2022-08-14 11:30] #2417 closed

[2022-08-14 22:21] rafacteixeira opened #2446 "Suggestion - Go Sylabus - Create a dependency between Ranged Iteration and Type Definition topics"
I got to a point where I could tackle the Ranged Iteration exercise or the Type Definition Exercise.

I took the ranged Iteration and had an issue because i needed a concept that would be taught by Type Definition

I'd like to suggest to put a strong dependency of completing Type Definition  before being able to access Ranged Iteration concepts.

thanks

[2022-08-15 17:39] junedev commented on #2446
@rafacteixeira I can't quite follow the issue here. It looks like there are two possible path in the syllabus tree but when you look more closely (i.e. open the concept) you will see that both concepts (type definitions and range iteration) are introduced by the same exercise "chessboard". That is why in the introduction text for the chessboard there is a section at the end about defining non-stru

[2022-08-15 17:41] rafacteixeira commented on #2446
it's not an issue. just a suggestion to make it more clear.
but i see your point. it is there and i didn't find it.
i'll close this suggestion.

[2022-08-15 17:41] #2446 closed

[2022-08-15 20:26] saurabhmshr opened #2448 "Add Code Coverage Service For Efficient Testing"
[Codecov](https://about.codecov.io/) is a code coverage solution which provides visibility into the parts of code which are not covered by unit tests.

Visibility of an implementation (located in `exercises/concept/<CONCEPT-NAME>/.meta/exemplar.go`) against its unit tests (located in `exercises/concept/<CONCEPT-NAME>/concept_name_test.go`) can indicate whether or not enough tests have been written

[2022-08-15 21:24] saurami commented on #1886
Can we add "Cryptography" to the concepts roadmap?
I'm not sure if it is already in the roadmap because the linked webpage shows a 404.

[2022-08-16 18:15] meatball133 opened #2449 "Go lang test runner error"
In the gross store exercises. Using the following code will generate a blank error message on the website:

func GetItem(bill map[string]int, item string) (int, bool) {
    qty , ok := GetItem(bill, item)
    return qty, ok
}

[2022-08-16 18:16] meatball133 commented on #2449
![image](https://user-images.githubusercontent.com/69751659/184950318-966237af-6b40-4dd4-a212-adc8ef90565f.png)

[2022-08-16 19:01] meatball133 commented on #2449
package gross

// Units stores the Gross Store unit measurements.
func Units() map[string]int {
	messurements := make(map[string]int)
    messurements["quarter_of_a_dozen"] = 3
    messurements["half_of_a_dozen"] = 6
    messurements["dozen"] = 12
    messurements["small_gross"] = 120
    messurements["gross"] = 144
    messurements["great_gross"] = 1728
    return messurements
}

// NewBill creat

[2022-08-16 19:02] meatball133 commented on #2449
full code

[2022-08-16 19:12] junedev commented on #2449
This is strange. It should report a stack overflow and I wrote a fix for the test runner recently for exactly this use case but it does not seem to work in this scenario. Anyway, thanks for reporting. I will move the issue to the test runner repository and take a closer look later on.

[2022-08-17 12:26] jneurock opened #2450 "gigasecond: tests pass from the start"
When starting the gigasecond exercise, tests pass without modifying the code.

[code]

![image](https://user-images.githubusercontent.com/326789/185106908-c344d83c-360a-444d-9593-70fe7add022c.png)

[2022-08-17 13:47] junedev commented on #2450
@jneurock Can you make some random change (add a space somewhere) and run the tests again to see whether you still get the same result? I run that code but I get the expected test failure.

[2022-08-17 13:50] jneurock commented on #2450
Hmm... I did that quite a few times but the tests still passed. I haven't looked at the tests but it makes me wonder if there's some randomness involved that might cause falsely passing cases?

[2022-08-17 14:03] junedev commented on #2450
I think it is a more general issue, I had this yesterday on another exercise as well. I asked the Exercism team on our Slack about this.

[2022-08-17 16:09] iHiD commented on #2450
I may be wrong, but I don't think this is a general issue.

This happens exactly the same to me with go/giagseconds but not other exercises. @junedev Notice that `cases_test.go` is appearing in the editor and being submitted as a student file. That doesn't seem right to me, and only happens for this exercise. I feel like something there is wrong.

[2022-08-17 16:29] junedev commented on #2450
@iHiD I experienced the same problem yesterday with the gross-store exercise which does not have a cases_test.go file.

Sidenote: The reason that the cases_test.go file is listed as an editor file even though it is really a test file is that the platform currently can't handle multiple test files correctly, see https://github.com/exercism/exercism/issues/6033.

[2022-08-17 16:35] iHiD commented on #2450
@junedev This is what the Go test runner returns when I run the stub go/gigasecond:

[code]

stderr looks like this:
[code]

So the test runner is saying that that stub passes all the tests.

[2022-08-17 16:45] junedev commented on #2450
@iHiD Thanks for the info. I used "reset exercise" and run the tests on the website and I got this:

![image](https://user-images.githubusercontent.com/12543047/185195927-828b2f68-6fc4-4b56-81e0-57781df54786.png)

But maybe the "reset" did not reset everything. :shrug: I will check what happens when I execute the test runner locally.

[2022-08-17 16:48] iHiD commented on #2450
Interesting. Is your solution updated to the latest version of the exercise?

[2022-08-17 17:14] iHiD commented on #2450
Ok great! Let me know if I can help in any other way :)

[2022-08-17 18:03] #2450 closed

[2022-08-17 20:46] jneurock commented on #2450
Thanks, all!

[2022-08-17 22:14] saurami commented on #1391
- [x] Finish exercise "Booking up for Beauty"
- [x] Review PR #2243 (and associated [Go By Example](https://gobyexample.com/time-formatting-parsing) page
- [x] Review concept exercise "[The Time Keeper](https://exercism.org/docs/building/tracks/stories/datetimes-time-keeper)"
- [] Create files and directories in `$PROJECT_ROOT/exercises/concept/the-time-keeper` based on [documentation](https://exe

[2022-08-18 10:24] junedev commented on #1886
@saurami I fixed the link. The one at the top leads to the same page and that one was working.

Re cryptography: The syllabus is not about teaching programming concepts in general (we will have separate content for that on Exercism in the future). It is about "How to do X in Go?". Keeping that in mind, would be great if you could add some more thoughts on what you would like to see covered under "

[2022-08-18 16:16] saurami commented on #1886
Thanks @junedev.

I'll go over some cryptography concepts this weekend and see if a concept exercise can be implemented.

This could be a prerequisite for the "Diffie-Hellman" practice exercise.

[2022-08-24 13:53] andrerfcsantos commented on #2448
I wonder how useful this would really be.

Usually, we notice that there's a lack of tests when we see a student's solution that manages to pass the tests but it shouldn't. In most of those solutions, test coverage would be really high, because all the lines are executing on the student's solution most of the time. The problem with missing tests is often not with the code that is in the solution,

[2022-08-25 17:36] SR8H commented on #2448
Writing additional tests is one of the more easier things that a contributor can do.
So at the very least, test coverage would indicate which exercises they can contribute to.

I'm not sure I understand completely - when there's a lack of tests, a solution is more likely to pass than not, and test coverage is guaranteed to be low.

Code coverage is an important metric for testing. In most cases a

[2022-08-30 12:54] saurabhmshr opened #2473 "Lack of Information in Learning Exercise Elon's Toys"
Couple if issues with this exercise:

+ Introduction section doesn't have an example for returning a pointer to struct

+ NewCar Function:
	1. Tests are not using it.
	2. Instructions don't have any information on it, even though it's being used in the code block of all tasks.

+ All methods have to be implemented to see the result of the test suite. This may be the only exercise where this happen

[2022-08-31 00:35] SR8H commented on #2473
I've come up with test suite:

[code]

And implementation:

[code]

[2022-08-31 00:37] SR8H commented on #2473
@junedev Please let me know your thoughts. If possible, I would like to work with @eklatzer on this issue for the "Pair Extraordinaire" badge.

[2022-09-01 20:00] dbh opened #2475 "roman-numerals: Adjust Readme and Unit Tests to support maximum Roman numeral 3999"
The Roman numeral problem description now states:

That's a little confusing if we're looking at the definition of Roman numerals and assuming the full range would be supported.

I propose altering the documentation to state that the maximum Roman numeral which can be expressed has the value of 3999 (to match definition of Roman numerals). Unit tests will be modified to include through 3999 as val

[2022-09-02 18:43] saurabhmshr opened #2477 "Insufficent Information in Learning Exercise "The Farm""
There's a lot of gap between the "Introduction" and "Instruction" sections.

In the "Introduction" section, only the first paragraph has information about interfaces. Everything else is about errors.
In the code block, `DivideFood` function receives an interface object and there is no information on this. This makes instructions tough to follow.

Unlike other exercises, multiple tasks are associat

[2022-09-04 08:55] legendarykamal opened #2478 "Clear distinction between private and public function needed"
In this file https://github.com/exercism/go/tree/main/concepts/basics

[2022-09-04 10:43] junedev commented on #2478
@legendarykamal Thanks for leaving a note. Can you say more why you think this is necessary? The syllabus is designed to gradually walk through the different concepts and the goal for basics is only to give a very rough overview so students are able to solve the following learning exercises.

Public/private is then introduced later in the "packages" concept: https://exercism.org/tracks/go/concepts

[2022-09-04 17:57] unicormsatan opened #2479 "Prerequisites for exercises"
I am a totally new to Go programming language and after learning on the python track I thought exercism would be the best and easiest way to learn Go.. But I have some issues with that.
After i joined the Go learning track just completing the hello world concept unlocked all the exercises. This was not the case with my python learning experience. It unlocked exercises as i completed the required p

[2022-09-05 13:02] mantrobuslawal commented on #2011
I'm happy to help on this task

[2022-09-05 17:55] junedev commented on #2479
Thanks for reaching out. The reason the experience is different on the Go track is that we did not yet configure all the unlocking mechanism for the exercises. The open issue for this is here: https://github.com/exercism/go/issues/1396
This is a lot of work that nobody had time for yet. It also requires a lot of knowledge about the exercises and the concepts, so not something where we can easily a

[2022-09-05 17:55] #2479 closed

[2022-09-05 17:59] junedev commented on #2011
@mantrobuslawal If you want to make some small change related to the original open issue at the top, feel free to go ahead and create a PR. However, I would advise against bigger rework as we are planning to structurally change this exercise in the future (move interfaces into its own exercise and instead teach errors and error wrapping in one exercise).

[2022-09-09 13:32] W8CYE opened #2482 "Saddle Points - Directions / Comments Incorrect"
saddle_points_test.go contains the following incorrect comment.

[code]

The key point `Submit only saddle_points.go for this exercise.` will result in online tests failing while local tests succeed.

I propose changing this to `Submit both saddle_points.go and matrix.go for this exercise.` which allows the online tests to pass.

Alternatively, the comment could be removed entirely suggesting that

[2022-09-09 14:04] W8CYE opened #2483 "Flatten Array - Allow tests to PASS for both nil and empty slices."
Update flatten_array_test.go so that test cases will pass for both nil and empty slices. Some students have had problems where the test FAILS reporting [] != []:

[code]

I propose that we implement the same fix used in [Exercise grep : fix test case which incorrectly fails on nil slice, but expect empty slice (PR #2452)](https://github.com/exercism/go/pull/2452)

Original
[code]

Proposed
[code]

[2022-09-10 11:06] junedev opened #2484 "Investigate why the test for animal magic sometimes fails on windows"
The test for the "SeedWithTime" function in animal magic exercise sometimes fails on windows.
See https://github.com/exercism/go/runs/8195983378?check_suite_focus=true for an example.

We already tried to increase the timeout but that didn't solve the problem.

[2022-09-14 19:26] Ravalnath commented on #2484
@junedev Quick question, why does the time.duration in sleep have to be a random number. Can't we just keep it as time.Duration(10) instead?
I think this has some coincidence when the random number generated is 0. I am able to reproduce this here:
[Go Playground](https://go.dev/play/p/GZHeBWe4vms)

[2022-09-14 19:38] junedev commented on #2484
For reference, the question was already answered in the PR linked above.

[2022-09-14 19:54] junedev commented on #2484
@Ravalnath With your hint, I think I got it (might be what you meant above). We select a number between 0 and 10 for the waiting time and the seed also applies for that selection. When the waiting time was 0, the seed might be the same as before, leading to another waiting time of 0 and so on. The test fails. I read that the waiting time is particularly important on Windows as the seeding is slow

[2022-09-14 20:05] thiagonache commented on #2411
at least for small texts I still think that cmp is simpler and as beauty as testify since you do a small trick. I did some tests comparing `assert.Equal(a, b)`, `cmp.Diff(a, b)` and `cmp.Diff(strings.Fields(a), strings.Fields(b))` and turns out that I prefer `cmp.Diff` sometimes and `cmp.Diff` using `strings.Fields` for most cases...

[2022-09-14 20:34] junedev commented on #2484
I will close the issue for now and re-open it in case the problem re-appears.

[2022-09-14 20:34] #2484 closed

[2022-09-17 14:45] junedev commented on #2448
I also don't think code coverage makes sense for this repository. The repo only contains one "random" example solutions. Running coverage for that would not help us with what the track is about. Imagine an example solution would contain some small extra sanity check for some input that is nice to have but not required by the exercise description. In the sense of the track, it is a perfectly valid

[2022-09-17 14:45] #2448 closed

[2022-09-17 14:53] junedev opened #2489 "Avoid compiler optimization in benchmarks"
As layed out by Dave Cheney here https://dave.cheney.net/2013/06/30/how-to-write-benchmarks-in-go in the section at the bottom, a function call in a benchmark should always assign the result to some global variable to avoid that the compiler simply does not execute the function at all. Bill Kennedy also teaches this in his Go trainings if I remember correctly.

Currently, we don't do this at all.

[2022-09-17 18:55] junedev opened #2491 "Improve concept about how parsing/formatting time works"
Someone pointed out that the time parsing is not well explained in the time concept but the PR was abandoned.
https://github.com/exercism/go/pull/2387

Maybe someone else wants to give it is a try and make a new PR.

[2022-09-17 19:50] junedev commented on #2473
Here my thoughts on the points you mentioned:

* > Introduction section doesn't have an example for returning a pointer to struct

    This is taught in the exercise about pointers (election day) which is a prerequisite for working on Elons Toys. We cannot repeat all the things already taught earlier in the introduction.

* > NewCar Function: Tests are not using it.

    True, but it is stated tha

[2022-09-17 19:56] junedev commented on #2473
As for the tests and code you posted, from those code blocks, I cannot see what you changed and why. What are you trying to illustrate with those? The points you mentioned were mostly not about tests and example solution so I don't understand how those relate.

[2022-09-17 20:06] junedev opened #2492 "Improve learning experience for interfaces, errors and error wrapping"
[This is a dummy issue for now to keep track of this improvement idea. More detailed issues that can be worked on will be created later. If someone wants to work beforehand, please comment below and we can discuss.]

In JavaScript, teaching inheritance together with errors works very well which is why I thought a similar combination might work out in Go. But I think it's not working very well, int

[2022-09-17 20:11] junedev commented on #2477
I am also unhappy with the learning experience that the exercise provides, especially because the resulting code does not look very idiomatic.

But instead of trying even more small improvements, I am planning a more general restructering. Please see https://github.com/exercism/go/issues/2492. For now, I think the exercise is ok-ish to leave it like it is for a bit longer.

Since a new interfaces

[2022-09-17 20:11] #2477 closed

[2022-09-17 20:16] junedev commented on #2011
Here the issue for the rework I mentioned above: https://github.com/exercism/go/issues/2492
I am closing this issue in favor of the more general one. As said above, PRs are ok but I don't want to encourage too much "patching it up" work on this exercise.

[2022-09-17 20:16] #2011 closed

[2022-09-17 20:17] junedev commented on #2492
See https://github.com/exercism/go/issues/2011 for something to include in the new errors concept.

[2022-09-17 20:17] junedev commented on #1997
Putting this on hold because of https://github.com/exercism/go/issues/2492.

[2022-09-17 21:08] junedev commented on #2156
I am re-opening this because I think the track readme was not yet updated to include the guidelines we settled on here. This is also not mentioned in the new issue linked above so let's use this one here to track the readme update.

[2022-09-17 21:11] junedev commented on #2202
Judging from https://github.com/exercism/go/pull/2472, it looks to me like most files are fixed by now. To avoid more PRs like https://github.com/exercism/go/pull/2472 that go in the wrong direction, I will close this issue for now. If we find more concrete places that need fixing, we can re-open it.

[2022-09-17 21:11] #2202 closed

[2022-09-18 06:15] #1451 closed

[2022-09-18 06:26] junedev commented on #2482
Good catch, I totally agree. If you agree that matrix is helpful for this exercise, I would suggest leaving the comment as such intact and just fixing it as you mentioned in the first suggestion.

[2022-09-18 07:56] junedev commented on #2483
I think in the context of this exercise, it makes sense to expect a result, that would actually render as `[]` when e.g. formatted as JSON (how to return `[]` from a JSON API is a common question from beginners). I also think it is a good practice for the student if the test fails to think about how to fix this. I totally agree there should be a better error message specifically for this case thou

[2022-09-18 23:40] W8CYE commented on #2483
I am happy to adjust this further to make it clear. I took @junedev 's  idea "got nil slice, expected empty slice", but wanted to keep the same or similar formating to the existing error messages.

**New**
[code]

[code]

I have implemented

[code]

Your approach is good, but I wanted to put out an additional option for consideration.

If we add the `#` verb modifier, we can see the difference bet

[2022-09-18 23:49] W8CYE commented on #2483
I am happy to adjust this further to make it more clear. I took @junedev's idea "got nil slice, expected empty slice" but wanted to keep the same or similar formatting to the existing error messages.

**New**
[code]

**Original**
[code]

I considered another apporach of adding the `#` verb modifier to differentiate the `nil` and `empty` slice, but I found the results less clear than the solution a

[2022-09-19 04:01] bupjae opened #2494 "Anagram: 'non-ascii' character doesn't match with problem description"
It seems that recent pull request (https://github.com/exercism/go/pull/2445, https://github.com/exercism/go/issues/1451) add non-ascii test case.

However, problem description says `The target and candidates are words of one or more ASCII alphabetic characters (A-Z and a-z).`

I'm not sure whether 'word may be contain non-ascii characters' is enough. For example, should we handle non-ascii punctat

[2022-09-19 17:00] junedev commented on #2483
I had the same thoughts around `#v` and came to the same conclusion as you.

[2022-09-19 18:25] junedev commented on #2494
Good catch! We should add/update the instructions.append.md file to clarify that the Go version of the exercise is a bit different.

[2022-09-21 19:02] #2418 closed

[2022-09-21 19:12] saurabh-mish commented on #2473
This issue is for holistically improving this learning exercise, that's why it has suggestions for description **and** a test suite. I would have created PRs based on eventual suggestions.

As per your feedback for the first three points - about introduction, NewCar Function: Tests, and NewCar Function: Instructions, everything's covered as they can be impleied, referred, etc.
There's no point in

[2022-09-21 19:15] saurabhmshr commented on #2473
This issue is for holistically improving this learning exercise, that's why it has suggestions for description and a test suite. I would have created PRs based on eventual suggestions.

As per your feedback for the first three points - about introduction, NewCar Function: Tests, and NewCar Function: Instructions, everything's covered as they can be implied, referred, etc.
There's no point in addin

[2022-09-21 19:15] #2473 closed

[2022-09-21 19:36] junedev commented on #2494
I don't think we need to say anything about punctuations. They don't appear in the test cases and whether people decide to add extra code to remove potential punctuations or treat them as letters therefore does not matter at all for passing the tests.

[2022-09-21 19:55] #2424 closed

[2022-09-21 22:56] bupjae commented on #2494
One existing test case and newly added test case contains space " " (U+0020). I'm not sure whether these spaces should be ignored or not.

Newly added test case contains punctuations; "，" (U+FF0C) and "," (U+002C). It seems that the test case is suggesting that these characters should be treated like normal character.

[2022-09-22 15:27] W8CYE commented on #2494
DISCLAIMER: I do not read or write Chinese, so my view may be flawed.

The Anagram exercise instructions and `cases_test.go` suggests a definition, which is limited to rearranging letters of a word to create a new word.

The new test case in 'anagram_test.go' uses the phrase "你好，世界" meaning "Hello world," and expects a new phrase as the solution.

I propose limiting the `nonAsciiTestCases` to word

[2022-09-22 19:37] junedev commented on #2494
@bupjae Sorry, I totally misremembered the new test case. I was sure it was only "letters". 🙈 Thanks for it out (again).

@W8CYE Yes, please change to use only "letters".
I am aware of the overall discussion and often times I am on side of keeping the exercise as easy as possible. However, in this case the point is to demonstrate to that you actually do not have to change anything to make it work

[2022-09-23 19:51] #2483 closed

[2022-09-24 02:04] mikejoh12 opened #2497 "Sieve: Returning an empty slice passes all tests"
The tests for Sieve of Eratosthenes all pass with a function returning an empty slice. To reproduce, run the tests with the code below which will pass:
[code]
The likely cause appears to be the conditional in the TestSieve function:
[code]

[2022-09-24 19:13] aedwardg opened #2499 "Running test suite locally does not work on M1 Mac"
### Problem

After running `bin/fetch-golangci-lint` and `bin/run-tests` on an M1 Mac (or other arm64 system), contributors receive the following error:

[code]

This is due to an interaction with `golangci-lint` and `go-critic` on older versions of `golangci-lint`.
See [this issue](https://github.com/golangci/golangci-lint/issues/3107) for more information.

Note, this issue has been [documented]

[2022-09-25 10:38] andrerfcsantos commented on #2489
I also thought about this before and did a test or two with our benchmarks and the reality is that I haven't really seen any differences in the benchmark results with and without the optimization "prevention".

This is one of the best practices in Go that I wonder if it's really needed. If the compiler is smart enough to realize the return value is not being used, wouldn't it also be able to detec

[2022-09-25 10:51] #918 closed

[2022-09-25 11:21] #2497 closed

[2022-09-25 11:35] #2499 closed

[2022-09-25 17:07] eklatzer commented on #2098
@junedev or @andrerfcsantos
Could one of you check the exercises without a :heavy_check_mark: and check if one of them needs usage of subtests, I am not sure about all of them, so double checking would be nice :smile: Thanks in advance
https://github.com/exercism/go/issues/2098#issuecomment-1213004176

[2022-09-26 02:09] mikejoh12 opened #2502 "Transpose: An empty slice passes all the tests"
The tests for Transpose all pass with a function returning an empty slice. To reproduce, run the tests with the code below which will pass:

[code]
The likely cause appears to be the || conditional in the TestTranspose function:
[code]

[2022-09-26 08:41] andrerfcsantos commented on #2098
Left my analysis below. This was a quick analysis of each exercise. If there's an exercise for which I wrote that we maybe could add subtests, but when tackling you conclude that is not viable, feel free to say so.

I also noticed some exercises are missing generators. Adding generators is of course optional for this task, but some refactoring into subtests could be made in a way that makes writin

[2022-09-26 08:44] #2482 closed

[2022-09-26 08:47] #2494 closed

[2022-09-26 08:49] #2502 closed

[2022-09-29 08:36] bupjae opened #2504 "Triangle: type of Kind is forced to string"
If Kind is not string, submitting got this error message:

    # triangle
    ./triangle_test.go:50:5: (*testing.common).Fatalf format %s has arg pair1.kind of wrong type triangle.Kind
    FAIL	triangle [build failed]
    '/usr/local/go/bin/go test --short --json .' returned exit code 2: exit status 2

It seems that recent change of `triangle_test.go` line 50 on https://github.com/exercism/go/pull

[2022-09-29 20:31] andrerfcsantos commented on #2504
Thanks for reporting this ❤️

The fix for this seems to require the change of `pair1.kind` to `pair1.name` on line 50 of [triangle_test.go](https://github.com/exercism/go/pull/2469/files#diff-a63edb1e3c7d930631d67a56cfb372f760c45614e15d4f27fcc2156928074e05).

While we're at it, I think it would be a good idea to make the error message clearer, instead of `"%s should not be equal to %s"`, something

[2022-09-29 21:56] andrerfcsantos opened #2505 "Beer song: deprecate exercise and implement Bottle Song"
As per https://github.com/exercism/problem-specifications/pull/2097, we should deprecate the `beer-song` exercise, and implement its replacement, [bottle-song](https://github.com/exercism/problem-specifications/tree/main/exercises/bottle-song).

## Contributing to this issue

Anyone is welcome to contribute to this issue. If you are interested in working on this, just post a comment below saying y

[2022-10-01 15:25] junedev commented on #2505
There was a bug in the problem spec version, we should wait until that is fixed before we tackle this: https://github.com/exercism/problem-specifications/pull/2102

[2022-10-01 15:52] #2478 closed

[2022-10-01 15:59] junedev commented on #2169
As mentioned above, the only tangible thing we could do here would to recommend people to use these checking tools by themselves. But I recently used the free version of Grammarly and it is nearly unusable. They push you to the paid version everywhere. Other tools not even have a free version.
In conclusion that means there is nothing we can really do about this issue for the time being so I will

[2022-10-01 15:59] #2169 closed

[2022-10-01 16:08] junedev commented on #2156
Here for reference the final formats we used:

Without print:
[code]

With print:
[code]

[2022-10-01 18:43] junedev commented on #1391
@saurabhmshr Are you still working on this?

[2022-10-02 14:24] andrerfcsantos opened #2506 "Complex Numbers: Add benchmarks"
On one of my recent mentoring sessions, I noticed the exercise [complex-numbers](https://github.com/exercism/go/tree/main/exercises/practice/complex-numbers) doesn't have any benchmarks.

Benchmarks are not as critical in this exercise as it is in others, but some functions can be optimized, and would be nice to have benchmarks to show students what those improvements can mean performance-wise.

#

[2022-10-02 15:10] W8CYE commented on #2506
@andrerfcsantos I'll take this one.

[2022-10-02 15:54] andrerfcsantos commented on #2506
@W8CYE All yours. Thanks for the interest in tackling this 👍

[2022-10-03 07:02] #2504 closed

[2022-10-03 07:58] andrerfcsantos opened #2508 "say: implement new tests"
New tests were introduced recently in problem-specifications repo for the say exercise: https://github.com/exercism/problem-specifications/pull/2087

We should bring these tests to the Go track.

This exercise has a test generator, so we should use it and configlet to generate the new test cases.

## Contributing to this issue

Anyone is welcome to contribute to this issue. If you are interested i

[2022-10-03 17:03] PiotrLewandowski323 commented on #2508
Hi, can I work on this one?

[2022-10-04 17:15] andrerfcsantos commented on #2505
Seems the issue was fixed and we can start working on this

[2022-10-04 20:25] #2508 closed

[2022-10-05 13:45] PakkuDon commented on #2505
Hi there! Can I work on this one?

[2022-10-05 13:52] andrerfcsantos commented on #2505
@PakkuDon Sure, go ahead! Thanks for the interest and don't hesitate if you have any questions.

[2022-10-13 12:00] milen-a-radev opened #2513 "Meteorology: The last task's title contains an incorrect type ("MetData" vs "MeteorologyData")"
The last task's title - "5. Implement the Stringer interface for type MetData" - contains a type which is not mentioned anywhere else.
It should probably be "MeteorologyData".

[2022-10-13 18:47] #2513 closed

[2022-10-17 15:44] W8CYE commented on #2473
@junedev

I reviewed the **Elon's toys** exercise and have the following recommendations to change `hints.md`

Remove line 5: “- Add a field to the `Car` struct that keeps track of the driven distance”
* As noted earlier in this issue, distance already exists in the provided `car.go` file.

Remove line 20: `- Remember the car has a [method][method] to retrieve the distance it has driven`
* This hi

[2022-10-18 14:11] PakkuDon commented on #1959
Hi there. Is this issue still up for grabs?

[2022-10-18 19:22] ar-qun opened #2517 "Hamming exercise should depend on Error concept."
It is actually possible to start https://exercism.org/tracks/go/exercises/hamming without finishing https://exercism.org/tracks/go/concepts/errors

[2022-10-18 20:56] junedev commented on #2517
We do not have those dependencies/ unlocking mechanism set up for the Go track yet. It is a lot of work that we didn't get around to yet. The issue for this is here: https://github.com/exercism/go/issues/1396

[2022-10-18 20:56] #2517 closed

[2022-10-18 20:59] junedev commented on #1959
@PakkuDon Yes, this still needs to done.

[2022-10-20 13:16] saurabhmshr commented on #1391
@junedev yes - I plan on having it out for review by Monday 24th October.

[2022-10-23 08:16] #2505 closed

[2022-10-25 14:24] junedev commented on #2473
@W8CYE Your suggestions sound very reasonable to me. Can you create a PR?

Regarding

This is a great point that was mentioned before and we have not yet tackled. (See also https://github.com/exercism/go-test-runner/issues/47 for a discussion of potential technical solutions.) My take on this is that somewhere in the beginning of the track we should have some kind of concept that explains what it

[2022-10-25 14:26] junedev commented on #2259
@AshiishKarhade Are you still working on this?

[2022-10-25 14:42] junedev opened #2524 "(Potentially) Implement New Concept Exercise: Compiling"
We have a lot of students coming from intepreted languages to Go. Those students often struggle with the fact the Go is a compiled language. They sometimes have trouble to understand the compiler error messages and/or would expect to see all the test failures instead (see https://github.com/exercism/go-test-runner/issues/47).

One idea that came up how to mitigate that was to add a concept that ex

[2022-10-25 14:49] junedev commented on #1959
@PakkuDon I assigned you. If you don't want to work on this anymore, let me know.

[2022-10-29 19:24] andrerfcsantos commented on #2524
I like this idea a lot. It is a powerful, but gentle introduction to the language and the tooling because puts you in control but you don't have to do a lot of work. [rustlings](https://github.com/rust-lang/rustlings) follows the same formula and is very popular amongst learners of Rust.

[2022-10-30 17:22] mintyknight opened #2528 "Dead link in README"
There is a dead link in the README pointing to https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md
<img width="929" alt="image" src="https://user-images.githubusercontent.com/3869257/198892221-01c751ca-f057-47d1-b7af-41bd9c6d4222.png">

[2022-10-30 19:06] andrerfcsantos commented on #2528
Well spotted. It seems the 3 links in the image are invalid. We might want to just keep a link to [Exercism Docs: config.json](https://exercism.org/docs/building/tracks/config-json),

Feel free to open a PR fixing this.

[2022-10-31 21:51] luxifr opened #2530 "The Farm: Tests do not cover a condition of the exercise"
The exercise reads _"Note that if both a "negative fodder" error and a `SillyNephewError` could be returned, the "negative fodder" error takes precedence."_ However, this is not being tested as shown by solutions, which pass the current version whilst checking for the `SillyNephewError` condition before they check for the negative fodder condition.

[2022-11-02 21:54] #2530 closed

[2022-11-03 11:04] w62 opened #2541 "Luhn"
Hi,

I have just completed the exercise `Luhn`.
The instructions are not very clear.

It just mentioned how to process even number digits. It does not mentioned how to process odd number digits. That have made me wondered why 109 failed. [Google is here to help](https://en.wikipedia.org/wiki/Luhn_algorithm). The key idea is the parity. Please update the instruction so that at least it would cleare

[2022-11-18 18:23] #2528 closed

[2022-11-22 09:09] do-nat opened #2548 "Go track exercise elons-toys passes tests in cases where it should not"
When implementing a solution for the mentioned exercise, I stumbled upon the comments of the most starred solution.

There, it was pointed out by the author that some community solutions pass even though they should fail. This happens when the result of a division is assigned to an `int` variable even though it has a remainder.

see https://exercism.org/tracks/go/exercises/elons-toys/solutions/mu8